_backups/BACKUP_2026-07-23_COMPLETO/project-vtc-capacitacion/_n8n-backups/vtc-postcall_pre-report-api_2026-07-15.json
{
  "updatedAt": "2026-07-16T02:31:45.311Z",
  "createdAt": "2026-07-14T22:30:14.770Z",
  "id": "zCtqHc9Pj8ZbtVp1",
  "name": "VTC Post-Call Automation — Complete",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "elevenlabs-postall",
        "options": {}
      },
      "id": "8d5d5881-6bec-403f-8533-56351a280b57",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -368,
        -352
      ],
      "webhookId": "5a7e7047-4edf-4b87-b209-94c6a00dace6"
    },
    {
      "parameters": {
        "functionCode": "const body = $input.first().json.body;\nconst data = body.data || body;\n\nconst now = body.event_timestamp ? new Date(body.event_timestamp * 1000) : new Date();\nconst sessionDate = now.toISOString().split('T')[0];\nconst sessionTime = now.toTimeString().split(' ')[0];\nconst durSecs = data.duration_seconds || 0;\nconst durFmt = Math.floor(durSecs / 60) + ':' + String(durSecs % 60).padStart(2, '0');\n\nreturn [{\n  json: {\n    // Sesión / metadata\n    session_id: data.conversation_id || 'N/A',\n    employee_id: data.user_id || 'N/A',\n    employee_name: data.agent_name || (data.dynamic_variables && data.dynamic_variables.user_name) || 'Empleado',\n    department: 'VTC',\n    session_date: sessionDate,\n    session_time: sessionTime,\n    scenario_desc: data.scenario_name || 'Standard',\n    modules_practiced: data.modules_practiced || data.scenario_name || '',\n    disc_type: data.disc_type || 'D',\n    language: data.language || 'ES',\n    duration_seconds: durSecs,\n    duration_formatted: data.duration_formatted || durFmt,\n\n    // Desempeño\n    score: data.performance_score != null ? data.performance_score : 8,\n    performance_summary: data.performance_note || 'Sesión completada',\n    call_summary: data.call_summary || data.summary || '',\n    sentiment: data.sentiment || 'neutral',\n    interventions_count: data.interventions_count || 0,\n\n    // Competencias (6 ejes)\n    rapport_score: (data.competencies && data.competencies.rapport) || 8,\n    pnl_score: (data.competencies && data.competencies.pnl) || 8,\n    postura_score: (data.competencies && data.competencies.postura) || 8,\n    objeciones_score: (data.competencies && data.competencies.objeciones) || 8,\n    leer_sala_score: (data.competencies && data.competencies.leer_sala) || 8,\n    cierre_score: (data.competencies && data.competencies.cierre) || 8,\n\n    // Analisis\n    neuro_principles: data.neuro_principles || '',\n    what_went_well: data.strengths || 'Excelente desempeño',\n    areas_to_improve: data.improvements || 'Continuar mejorando',\n    objections_faced: data.objections || 'Ninguna',\n    pnl_analysis: data.pnl_analysis || 'Análisis disponible',\n    next_drill: data.next_drill || 'Próximo módulo',\n    action_plan_items: data.action_plan || [],\n    general_understanding: data.learning_score || null,\n    participation_level: data.participation_level || '',\n    deep_learning_notes: data.deep_learning_notes || '',\n    session_activity: data.activity_summary || '',\n    momentos_clave: data.timeline || data.momentos_clave || [],\n\n    // Transcript completo palabra por palabra: [{speaker|role, t|time_in_call_secs, text|message}]\n    transcript_items: data.transcript_items || data.transcript || [],\n\n    // Audio + report links (permanent, conversation_id-keyed Vercel endpoints)\n    audio_url: (data.conversation_id ? ('https://vtc-capacitacion-deploy.vercel.app/api/audio?conv=' + encodeURIComponent(data.conversation_id)) : (data.full_audio || data.audio_url || '')),\n    report_url: (data.conversation_id ? ('https://vtc-capacitacion-deploy.vercel.app/api/report?conv=' + encodeURIComponent(data.conversation_id)) : 'https://vtc-capacitacion-deploy.vercel.app/'),\n    pdf_url: (data.conversation_id ? ('https://vtc-capacitacion-deploy.vercel.app/api/report?conv=' + encodeURIComponent(data.conversation_id) + '&pdf=1') : ''),\n  }\n}];\n"
      },
      "id": "04e2efb0-1626-4446-97ed-77bcec6fa0de",
      "name": "Extract Data — 25 Fields",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -176,
        -160
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\n// ── Template real de Victor IA (identico a _template.js) + helpers (identicos a _chat.js) ──\nconst TEMPLATE = \"<!DOCTYPE html>\\n<html lang=\\\"es\\\" xmlns=\\\"http://www.w3.org/1999/xhtml\\\" xmlns:v=\\\"urn:schemas-microsoft-com:vml\\\">\\n<head>\\n<meta charset=\\\"utf-8\\\">\\n<meta name=\\\"viewport\\\" content=\\\"width=device-width, initial-scale=1.0\\\">\\n<meta http-equiv=\\\"X-UA-Compatible\\\" content=\\\"IE=edge\\\">\\n<meta name=\\\"x-apple-disable-message-reformatting\\\">\\n<meta name=\\\"color-scheme\\\" content=\\\"dark\\\"><meta name=\\\"supported-color-schemes\\\" content=\\\"dark\\\">\\n<title>Reporte de sesión · Víctor</title>\\n<!--[if mso]><noscript><xml><o:OfficeDocumentSettings><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml></noscript><![endif]-->\\n<style>\\n  body,table,td,a{ -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }\\n  table,td{ mso-table-lspace:0; mso-table-rspace:0; }\\n  img{ -ms-interpolation-mode:bicubic; border:0; outline:none; text-decoration:none; display:block; }\\n  body{ margin:0; padding:0; width:100%!important; background:#0a0a0b; }\\n  a{ color:#c9aa75; text-decoration:none; }\\n  @media only screen and (max-width:620px){\\n    .container{ width:100%!important; }\\n    .px{ padding-left:24px!important; padding-right:24px!important; }\\n    .stack{ display:block!important; width:100%!important; }\\n    .stack-pad{ padding:0 0 14px 0!important; }\\n    .h1{ font-size:26px!important; line-height:32px!important; }\\n    .score-num{ font-size:64px!important; }\\n    .metric-num{ font-size:18px!important; }\\n    .radar-img{ width:280px!important; height:280px!important; }\\n  }\\n</style>\\n</head>\\n<body style=\\\"margin:0;padding:0;background:#0a0a0b;\\\">\\n<div style=\\\"display:none;max-height:0;overflow:hidden;opacity:0;font-size:1px;line-height:1px;color:#0a0a0b;\\\">\\n  {{USER_NAME}}, tu sesión con Víctor: {{SCORE}}/10. Análisis completo, métricas, PNL y tu próximo drill.\\n</div>\\n\\n<table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"background:#0a0a0b;\\\">\\n<tr><td align=\\\"center\\\" style=\\\"padding:32px 16px;\\\">\\n\\n<table role=\\\"presentation\\\" class=\\\"container\\\" width=\\\"600\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"width:600px;max-width:600px;background:#101012;border:1px solid #1e1e22;border-radius:18px;overflow:hidden;\\\">\\n\\n  <!-- ░░ HEADER ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:38px 44px 26px 44px;border-bottom:1px solid #1c1c20;\\\">\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\"><tr>\\n      <td align=\\\"left\\\" style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:12px;letter-spacing:3.5px;color:#c9aa75;text-transform:uppercase;font-weight:600;\\\">VICTORIOUS&nbsp;TRAVELERS&nbsp;CLUB</td>\\n      <td align=\\\"right\\\" style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:1.5px;color:#5a5a62;text-transform:uppercase;\\\">{{FECHA}}</td>\\n    </tr></table>\\n    <div style=\\\"height:18px;font-size:0;\\\">&nbsp;</div>\\n    <div class=\\\"h1\\\" style=\\\"font-family:Georgia,serif;font-size:32px;line-height:38px;color:#f4f1ea;letter-spacing:-0.3px;\\\">Reporte de entrenamiento</div>\\n    <div style=\\\"height:8px;font-size:0;\\\">&nbsp;</div>\\n    <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:15px;line-height:22px;color:#9a9aa2;letter-spacing:0.2px;\\\">Sesión de <strong style=\\\"color:#d8d4ca;\\\">{{USER_NAME}}</strong> con Víctor · {{TIPO_ACTIVIDAD}} · {{DURACION}}</div>\\n    <div style=\\\"height:12px;font-size:0;\\\">&nbsp;</div>\\n    <table role=\\\"presentation\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\"><tr>\\n      <td style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:1px;color:#c9aa75;background:#161410;border:1px solid #2a2620;border-radius:6px;padding:6px 11px;\\\">EMPLEADO&nbsp;Nº&nbsp;{{EMP_NUM}}</td>\\n      <td style=\\\"width:8px;\\\">&nbsp;</td>\\n      <td style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:1px;color:#9a9aa2;background:#141416;border:1px solid #232328;border-radius:6px;padding:6px 11px;text-transform:uppercase;\\\">{{DEPARTAMENTO}}</td>\\n      <td style=\\\"width:8px;\\\">&nbsp;</td>\\n      <td style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:1px;color:#9a9aa2;background:#141416;border:1px solid #232328;border-radius:6px;padding:6px 11px;text-transform:uppercase;\\\">{{USER_ROLE}}</td>\\n    </tr></table>\\n  </td></tr>\\n\\n  <!-- ░░ SCORE HERO ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:36px 44px 28px 44px;\\\" align=\\\"center\\\">\\n    <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:3px;color:#7c7c84;text-transform:uppercase;\\\">Desempeño global</div>\\n    <div style=\\\"height:6px;font-size:0;\\\">&nbsp;</div>\\n    <div class=\\\"score-num\\\" style=\\\"font-family:Georgia,serif;font-size:84px;line-height:88px;color:#c9aa75;letter-spacing:-2px;\\\">{{SCORE}}<span style=\\\"font-size:30px;color:#5a5a62;letter-spacing:0;\\\">/10</span></div>\\n    <div style=\\\"height:14px;font-size:0;\\\">&nbsp;</div>\\n    <table role=\\\"presentation\\\" width=\\\"320\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"max-width:320px;\\\"><tr>\\n      <td style=\\\"background:#1e1e22;border-radius:99px;font-size:0;line-height:0;\\\">\\n        <table role=\\\"presentation\\\" width=\\\"{{SCORE_PCT}}%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\"><tr><td height=\\\"6\\\" style=\\\"background:#c9aa75;border-radius:99px;font-size:0;line-height:0;\\\">&nbsp;</td></tr></table>\\n      </td></tr></table>\\n    <div style=\\\"height:14px;font-size:0;\\\">&nbsp;</div>\\n    <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;line-height:21px;color:#a8a8b0;letter-spacing:0.2px;\\\">{{VEREDICTO}}</div>\\n  </td></tr>\\n\\n  <!-- ░░ RESUMEN DE LA LLAMADA ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:8px 44px 6px 44px;\\\">\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"background:#0d0d0f;border:1px solid #1c1c20;border-radius:12px;\\\"><tr><td style=\\\"padding:22px 24px;\\\">\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:3px;color:#c9aa75;text-transform:uppercase;font-weight:600;\\\">Resumen de la llamada</div>\\n      <div style=\\\"height:10px;font-size:0;\\\">&nbsp;</div>\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:15px;line-height:24px;color:#cfcfd6;letter-spacing:0.1px;\\\">{{RESUMEN}}</div>\\n    </td></tr></table>\\n  </td></tr>\\n\\n  <!-- ░░ MÉTRICAS (2 col → stack) ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:16px 36px 8px 36px;\\\">\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\"><tr>\\n      <td class=\\\"stack stack-pad\\\" width=\\\"50%\\\" valign=\\\"top\\\" style=\\\"padding:8px;\\\">\\n        <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"background:#161618;border:1px solid #232328;border-radius:12px;\\\"><tr><td style=\\\"padding:18px 20px;\\\">\\n          <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:10px;letter-spacing:2.5px;color:#7c7c84;text-transform:uppercase;\\\">Escenario</div>\\n          <div style=\\\"height:7px;font-size:0;\\\">&nbsp;</div>\\n          <div class=\\\"metric-num\\\" style=\\\"font-family:Georgia,serif;font-size:19px;color:#f4f1ea;line-height:24px;\\\">{{ESCENARIO}}</div>\\n          <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:12px;color:#8a8a92;line-height:17px;margin-top:3px;\\\">{{TIPO_CLIENTE}} · {{IDIOMA}}</div>\\n        </td></tr></table></td>\\n      <td class=\\\"stack stack-pad\\\" width=\\\"50%\\\" valign=\\\"top\\\" style=\\\"padding:8px;\\\">\\n        <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"background:#161618;border:1px solid #232328;border-radius:12px;\\\"><tr><td style=\\\"padding:18px 20px;\\\">\\n          <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:10px;letter-spacing:2.5px;color:#7c7c84;text-transform:uppercase;\\\">Módulos practicados</div>\\n          <div style=\\\"height:7px;font-size:0;\\\">&nbsp;</div>\\n          <div class=\\\"metric-num\\\" style=\\\"font-family:Georgia,serif;font-size:19px;color:#f4f1ea;line-height:24px;\\\">{{MODULOS}}</div>\\n          <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:12px;color:#8a8a92;line-height:17px;margin-top:3px;\\\">{{TIPO_ACTIVIDAD}}</div>\\n        </td></tr></table></td>\\n    </tr></table>\\n  </td></tr>\\n\\n  <!-- ░░ ANALÍTICAS DE LA SESIÓN (4 stats) ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:10px 40px 4px 40px;\\\">\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\"><tr>\\n      <td class=\\\"stack\\\" width=\\\"25%\\\" valign=\\\"top\\\" style=\\\"padding:6px;\\\">\\n        <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"background:#0d0d0f;border:1px solid #1c1c20;border-radius:10px;\\\"><tr><td align=\\\"center\\\" style=\\\"padding:14px 8px;\\\">\\n          <div style=\\\"font-family:Georgia,serif;font-size:20px;color:#c9aa75;line-height:24px;\\\">{{DURACION_EXACTA}}</div>\\n          <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:9px;letter-spacing:1.5px;color:#7c7c84;text-transform:uppercase;margin-top:4px;\\\">Tiempo hablado</div>\\n        </td></tr></table></td>\\n      <td class=\\\"stack\\\" width=\\\"25%\\\" valign=\\\"top\\\" style=\\\"padding:6px;\\\">\\n        <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"background:#0d0d0f;border:1px solid #1c1c20;border-radius:10px;\\\"><tr><td align=\\\"center\\\" style=\\\"padding:14px 8px;\\\">\\n          <div style=\\\"font-family:Georgia,serif;font-size:20px;color:#f4f1ea;line-height:24px;\\\">{{IDIOMA}}</div>\\n          <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:9px;letter-spacing:1.5px;color:#7c7c84;text-transform:uppercase;margin-top:4px;\\\">Idioma</div>\\n        </td></tr></table></td>\\n      <td class=\\\"stack\\\" width=\\\"25%\\\" valign=\\\"top\\\" style=\\\"padding:6px;\\\">\\n        <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"background:#0d0d0f;border:1px solid #1c1c20;border-radius:10px;\\\"><tr><td align=\\\"center\\\" style=\\\"padding:14px 8px;\\\">\\n          <div style=\\\"font-family:Georgia,serif;font-size:20px;color:#f4f1ea;line-height:24px;\\\">{{SENTIMIENTO}}</div>\\n          <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:9px;letter-spacing:1.5px;color:#7c7c84;text-transform:uppercase;margin-top:4px;\\\">Sentimiento</div>\\n        </td></tr></table></td>\\n      <td class=\\\"stack\\\" width=\\\"25%\\\" valign=\\\"top\\\" style=\\\"padding:6px;\\\">\\n        <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"background:#0d0d0f;border:1px solid #1c1c20;border-radius:10px;\\\"><tr><td align=\\\"center\\\" style=\\\"padding:14px 8px;\\\">\\n          <div style=\\\"font-family:Georgia,serif;font-size:20px;color:#f4f1ea;line-height:24px;\\\">{{NUM_TURNOS}}</div>\\n          <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:9px;letter-spacing:1.5px;color:#7c7c84;text-transform:uppercase;margin-top:4px;\\\">Intervenciones</div>\\n        </td></tr></table></td>\\n    </tr></table>\\n  </td></tr>\\n\\n  <!-- ░░ RADAR · MAPA DE COMPETENCIAS ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:26px 44px 8px 44px;\\\" align=\\\"center\\\">\\n    <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:3px;color:#7c7c84;text-transform:uppercase;\\\">Mapa de competencias</div>\\n    <div style=\\\"height:14px;font-size:0;\\\">&nbsp;</div>\\n    <div class=\\\"radar-img\\\" style=\\\"width:360px;height:360px;max-width:100%;margin:0 auto;\\\">{{RADAR_SVG}}</div>\\n  </td></tr>\\n\\n  <!-- ░░ PRINCIPIOS NEUROCIENTÍFICOS (barras CSS) ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:18px 44px 6px 44px;\\\">\\n    <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:3px;color:#7c7c84;text-transform:uppercase;\\\">Principios neurocientíficos activados</div>\\n    <div style=\\\"height:16px;font-size:0;\\\">&nbsp;</div>\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\">\\n      {{NEURO_BARS}}\\n    </table>\\n  </td></tr>\\n\\n  <!-- ░░ LÍNEA DE LA CONVERSACIÓN ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:24px 44px 6px 44px;\\\">\\n    <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:3px;color:#7c7c84;text-transform:uppercase;\\\">Línea de la conversación</div>\\n    <div style=\\\"height:16px;font-size:0;\\\">&nbsp;</div>\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\">\\n      {{TIMELINE_HTML}}\\n    </table>\\n  </td></tr>\\n\\n  <!-- ░░ FORTALEZAS ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:24px 44px 0 44px;\\\">\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"border-left:2px solid #3da06a;\\\"><tr><td style=\\\"padding:2px 0 2px 18px;\\\">\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:2.5px;color:#3da06a;text-transform:uppercase;font-weight:600;\\\">✓ Lo que hiciste bien</div>\\n      <div style=\\\"height:8px;font-size:0;\\\">&nbsp;</div>\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:15px;line-height:23px;color:#cfcfd6;letter-spacing:0.1px;\\\">{{FORTALEZAS}}</div>\\n    </td></tr></table>\\n  </td></tr>\\n\\n  <!-- ░░ ÁREAS DE MEJORA ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:22px 44px 0 44px;\\\">\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"border-left:2px solid #c9883a;\\\"><tr><td style=\\\"padding:2px 0 2px 18px;\\\">\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:2.5px;color:#c9883a;text-transform:uppercase;font-weight:600;\\\">△ A mejorar</div>\\n      <div style=\\\"height:8px;font-size:0;\\\">&nbsp;</div>\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:15px;line-height:23px;color:#cfcfd6;letter-spacing:0.1px;\\\">{{AREAS_MEJORA}}</div>\\n    </td></tr></table>\\n  </td></tr>\\n\\n  <!-- ░░ OBJECIONES ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:22px 44px 0 44px;\\\">\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"border-left:2px solid #2e2e34;\\\"><tr><td style=\\\"padding:2px 0 2px 18px;\\\">\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:2.5px;color:#8a8a92;text-transform:uppercase;font-weight:600;\\\">Objeciones que enfrentaste</div>\\n      <div style=\\\"height:8px;font-size:0;\\\">&nbsp;</div>\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:15px;line-height:23px;color:#cfcfd6;letter-spacing:0.1px;\\\">{{OBJECIONES}}</div>\\n    </td></tr></table>\\n  </td></tr>\\n\\n  <!-- ░░ ANÁLISIS PNL ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:28px 44px 6px 44px;\\\">\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"background:#0e0d14;border:1px solid #28243a;border-radius:14px;\\\"><tr><td style=\\\"padding:24px 26px;\\\">\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:3px;color:#9b8cff;text-transform:uppercase;font-weight:600;\\\">🧠 Análisis PNL</div>\\n      <div style=\\\"height:10px;font-size:0;\\\">&nbsp;</div>\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:15px;line-height:24px;color:#cfcfd6;letter-spacing:0.1px;\\\">{{ANALISIS_PNL}}</div>\\n    </td></tr></table>\\n  </td></tr>\\n\\n  <!-- ░░ PRÓXIMO DRILL (CTA) ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:24px 44px 8px 44px;\\\">\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"background-color:#15140f;border:1px solid #3a3326;border-radius:14px;\\\"><tr><td style=\\\"padding:24px 26px;\\\">\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:3px;color:#c9aa75;text-transform:uppercase;font-weight:600;\\\">🎯 Tu próximo drill</div>\\n      <div style=\\\"height:10px;font-size:0;\\\">&nbsp;</div>\\n      <div style=\\\"font-family:Georgia,serif;font-size:18px;line-height:26px;color:#f4f1ea;letter-spacing:0.1px;\\\">{{RECOMENDACION}}</div>\\n      <div style=\\\"height:18px;font-size:0;\\\">&nbsp;</div>\\n      <!--[if mso]><v:roundrect xmlns:v=\\\"urn:schemas-microsoft-com:vml\\\" href=\\\"{{CTA_URL}}\\\" style=\\\"height:44px;v-text-anchor:middle;width:230px;\\\" arcsize=\\\"50%\\\" fillcolor=\\\"#c9aa75\\\" stroke=\\\"f\\\"><center><![endif]-->\\n      <a href=\\\"{{CTA_URL}}\\\" style=\\\"display:inline-block;background:#c9aa75;color:#0a0a0b;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;font-weight:700;letter-spacing:1.5px;text-transform:uppercase;padding:14px 30px;border-radius:99px;\\\">Entrenar de nuevo</a>\\n      <!--[if mso]></center></v:roundrect><![endif]-->\\n    </td></tr></table>\\n  </td></tr>\\n\\n  <!-- ░░ FOOTER ░░ -->\\n  <!-- ░░ PLAN DE ACCIÓN (gerente) ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:28px 44px 6px 44px;\\\">\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"background:#0c100d;border:1px solid #1f3326;border-radius:14px;\\\"><tr><td style=\\\"padding:24px 26px;\\\">\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:3px;color:#5fbf86;text-transform:uppercase;font-weight:600;\\\">📋 Plan de acción · para el gerente</div>\\n      <div style=\\\"height:6px;font-size:0;\\\">&nbsp;</div>\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:12px;line-height:18px;color:#6a8a76;letter-spacing:0.2px;\\\">Pasos concretos para llevar a este asesor a la excelencia.</div>\\n      <div style=\\\"height:14px;font-size:0;\\\">&nbsp;</div>\\n      <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\">{{PLAN_ACCION}}</table>\\n    </td></tr></table>\\n  </td></tr>\\n\\n  {{COURSE_ANALYSIS}}{{SESSION_ACTIVITY}}<tr><td class=\\\"px\\\" style=\\\"padding:30px 44px 6px 44px;border-top:1px solid #1c1c20;\\\">\\n    <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:3px;color:#7c7c84;text-transform:uppercase;\\\">Transcripción completa</div>\\n    <div style=\\\"height:6px;font-size:0;\\\">&nbsp;</div>\\n    <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:12px;line-height:18px;color:#5a5a62;letter-spacing:0.2px;\\\">Conversación palabra por palabra entre Víctor y el asesor.</div>\\n    <div style=\\\"height:18px;font-size:0;\\\">&nbsp;</div>\\n    {{TRANSCRIPT_CHAT}}\\n  </td></tr>\\n\\n  <tr><td class=\\\"px\\\" style=\\\"padding:16px 44px 4px 44px;\\\" align=\\\"center\\\">\\n    <table role=\\\"presentation\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" align=\\\"center\\\">\\n      <tr>\\n        <td style=\\\"padding:5px 6px;\\\">\\n          <!--[if mso]><v:roundrect xmlns:v=\\\"urn:schemas-microsoft-com:vml\\\" href=\\\"{{REPORT_URL}}\\\" style=\\\"height:46px;v-text-anchor:middle;width:210px;\\\" arcsize=\\\"50%\\\" fillcolor=\\\"#c9aa75\\\" stroke=\\\"f\\\"><center><![endif]-->\\n          <a href=\\\"{{REPORT_URL}}\\\" style=\\\"display:inline-block;background:#c9aa75;color:#0a0a0b;font-family:'Helvetica Neue',Arial,sans-serif;font-size:12px;font-weight:700;letter-spacing:1.1px;text-transform:uppercase;padding:14px 22px;border-radius:99px;\\\">📊 Ver reporte completo</a>\\n          <!--[if mso]></center></v:roundrect><![endif]-->\\n        </td>\\n        <td style=\\\"padding:5px 6px;\\\">\\n          <!--[if mso]><v:roundrect xmlns:v=\\\"urn:schemas-microsoft-com:vml\\\" href=\\\"{{PDF_URL}}\\\" style=\\\"height:46px;v-text-anchor:middle;width:210px;\\\" arcsize=\\\"50%\\\" fillcolor=\\\"#c9aa75\\\" stroke=\\\"f\\\"><center><![endif]-->\\n          <a href=\\\"{{PDF_URL}}\\\" style=\\\"display:inline-block;background:#c9aa75;color:#0a0a0b;font-family:'Helvetica Neue',Arial,sans-serif;font-size:12px;font-weight:700;letter-spacing:1.1px;text-transform:uppercase;padding:14px 22px;border-radius:99px;\\\">📥 Descargar PDF</a>\\n          <!--[if mso]></center></v:roundrect><![endif]-->\\n        </td>\\n      </tr>\\n      <tr>\\n        <td colspan=\\\"2\\\" align=\\\"center\\\" style=\\\"padding:5px 6px 2px 6px;\\\">\\n          <!--[if mso]><v:roundrect xmlns:v=\\\"urn:schemas-microsoft-com:vml\\\" href=\\\"{{AUDIO_URL}}\\\" style=\\\"height:46px;v-text-anchor:middle;width:210px;\\\" arcsize=\\\"50%\\\" fillcolor=\\\"#161618\\\" strokecolor=\\\"#3a3a42\\\"><center><![endif]-->\\n          <a href=\\\"{{AUDIO_URL}}\\\" style=\\\"display:inline-block;background:#161618;border:1px solid #3a3a42;color:#c9aa75;font-family:'Helvetica Neue',Arial,sans-serif;font-size:12px;font-weight:700;letter-spacing:1.1px;text-transform:uppercase;padding:14px 22px;border-radius:99px;\\\">🎙️ Escuchar grabación</a>\\n          <!--[if mso]></center></v:roundrect><![endif]-->\\n        </td>\\n      </tr>\\n    </table>\\n  </td></tr>\\n\\n  <tr><td class=\\\"px\\\" style=\\\"padding:30px 44px 38px 44px;border-top:1px solid #1c1c20;\\\">\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\"><tr>\\n      <td align=\\\"left\\\" style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:12px;line-height:18px;color:#5a5a62;letter-spacing:0.3px;\\\">\\n        <span style=\\\"color:#c9aa75;font-weight:600;letter-spacing:1px;\\\">VÍCTOR</span> · Coach de IA del piso<br>Generado por <a href=\\\"https://victor-ia.com.mx\\\" style=\\\"color:#7c7c84;\\\">Victor&nbsp;IA</a>\\n      </td>\\n      <td align=\\\"right\\\" style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;color:#3a3a42;letter-spacing:0.5px;\\\">Sesión {{CONV_ID}}</td>\\n    </tr></table>\\n  </td></tr>\\n\\n</table>\\n<div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;color:#3a3a42;letter-spacing:0.5px;padding:18px 0 0 0;\\\">Este reporte es interno del equipo VTC.</div>\\n\\n</td></tr></table>\\n</body>\\n</html>\\n\";\n\nconst esc = (s) => String(s == null ? '' : s).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n\nfunction fmtTime(secs) {\n  secs = Math.max(0, parseInt(secs || 0, 10));\n  const m = Math.floor(secs / 60), s = secs % 60;\n  return `${m}:${String(s).padStart(2, '0')}`;\n}\n\nfunction clean(msg) {\n  let s = String(msg == null ? '' : msg);\n  s = s.replace(/<cliente>[\\s\\S]*?<\\/cliente>/gi, ' ');\n  s = s.replace(/<\\/?[a-z][^>]*>/gi, ' ');\n  s = s.replace(/\\[[^\\]\\n]{1,40}\\]/g, ' ');\n  s = s.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1');\n  s = s.replace(/[ \\t]{2,}/g, ' ').replace(/\\s*\\n\\s*/g, ' ').trim();\n  return s;\n}\n\nfunction buildChatTable(turns) {\n  const rows = (Array.isArray(turns) ? turns : []).map((t) => {\n    const isAgent = (t.role || '').toLowerCase() === 'agent' || (t.speaker || '').toLowerCase() === 'victor' || (t.speaker || '').toLowerCase() === 'agent';\n    const text = clean(t.message || t.text);\n    if (!text) return '';\n    const who = isAgent ? 'VÍCTOR' : 'ASESOR';\n    const color = isAgent ? '#c9aa75' : '#9b8cff';\n    const bg = isAgent ? '#161410' : '#14131a';\n    const bd = isAgent ? '#2a2620' : '#2a2740';\n    const align = isAgent ? 'left' : 'right';\n    const secs = t.time_in_call_secs != null ? t.time_in_call_secs : t.t;\n    return `<tr><td style=\"padding:0 0 12px 0;\">\n      <table role=\"presentation\" width=\"82%\" align=\"${align}\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:${bg};border:1px solid ${bd};border-radius:14px;\">\n        <tr><td style=\"padding:13px 17px;\">\n          <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n            <td style=\"font-family:Helvetica,Arial,sans-serif;font-size:10px;letter-spacing:2px;color:${color};font-weight:700;\">${who}</td>\n            <td align=\"right\" style=\"font-family:Helvetica,Arial,sans-serif;font-size:10px;color:#5a5a62;letter-spacing:0.5px;\">${fmtTime(secs)}</td>\n          </tr></table>\n          <div style=\"height:6px;font-size:0;\">&nbsp;</div>\n          <div style=\"font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:22px;color:#dcdce2;\">${esc(text)}</div>\n        </td></tr>\n      </table>\n      <div style=\"clear:both;font-size:0;line-height:0;\">&nbsp;</div>\n    </td></tr>`;\n  }).join('');\n  return `<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">${rows || '<tr><td style=\"color:#8a8a92;font-family:Helvetica,Arial,sans-serif;\">Sin transcripción disponible.</td></tr>'}</table>`;\n}\n\nfunction radarSvg(labels, values, opts) {\n  opts = opts || {};\n  const size = opts.size || 360;\n  const vb = Math.round(size * 1.3);\n  const cx = vb / 2, cy = vb / 2;\n  const R = vb * 0.235;\n  const labelR = vb * 0.335;\n  const n = labels.length || 1;\n  const max = 10, rings = 5;\n  const angleFor = (i) => (Math.PI * 2 * i / n) - Math.PI / 2;\n  const fx = (num) => Math.round(num * 100) / 100;\n\n  let gridSvg = '';\n  for (let lvl = 1; lvl <= rings; lvl++) {\n    const rr = R * (lvl / rings);\n    const pts = [];\n    for (let i = 0; i < n; i++) { const a = angleFor(i); pts.push(fx(cx + rr * Math.cos(a)) + ',' + fx(cy + rr * Math.sin(a))); }\n    gridSvg += `<polygon points=\"${pts.join(' ')}\" fill=\"none\" stroke=\"rgba(255,255,255,0.09)\" stroke-width=\"1\"/>`;\n  }\n  let axisSvg = '';\n  for (let i = 0; i < n; i++) {\n    const a = angleFor(i);\n    axisSvg += `<line x1=\"${cx}\" y1=\"${cy}\" x2=\"${fx(cx + R * Math.cos(a))}\" y2=\"${fx(cy + R * Math.sin(a))}\" stroke=\"rgba(255,255,255,0.09)\" stroke-width=\"1\"/>`;\n  }\n  const dataPts = (values.length ? values : labels.map(() => 0)).map((v, i) => {\n    const a = angleFor(i);\n    const r = (Math.max(0, Math.min(max, parseFloat(v) || 0)) / max) * R;\n    return [fx(cx + r * Math.cos(a)), fx(cy + r * Math.sin(a))];\n  });\n  const dataPolyStr = dataPts.map((p) => p[0] + ',' + p[1]).join(' ');\n  const dots = dataPts.map((p) => `<circle cx=\"${p[0]}\" cy=\"${p[1]}\" r=\"3.5\" fill=\"#c9aa75\"/>`).join('');\n  let labelsSvg = '';\n  for (let i = 0; i < n; i++) {\n    const a = angleFor(i);\n    const x = fx(cx + labelR * Math.cos(a)), y = fx(cy + labelR * Math.sin(a));\n    let anchor = 'middle';\n    if (Math.cos(a) > 0.28) anchor = 'start';\n    else if (Math.cos(a) < -0.28) anchor = 'end';\n    labelsSvg += `<text x=\"${x}\" y=\"${y}\" text-anchor=\"${anchor}\" dominant-baseline=\"middle\" fill=\"#c9aa75\" font-family=\"Helvetica Neue,Arial,sans-serif\" font-size=\"13\" letter-spacing=\"0.3\">${esc(labels[i])}</text>`;\n  }\n  return `<svg width=\"${size}\" height=\"${size}\" viewBox=\"0 0 ${vb} ${vb}\" xmlns=\"http://www.w3.org/2000/svg\" role=\"img\" aria-label=\"Radar de competencias\" style=\"display:block;margin:0 auto;width:100%;height:auto;max-width:${size}px;overflow:visible;\">${gridSvg}${axisSvg}<polygon points=\"${dataPolyStr}\" fill=\"rgba(201,170,117,0.20)\" stroke=\"#c9aa75\" stroke-width=\"2\"/>${dots}${labelsSvg}</svg>`;\n}\n\nfunction neuroBars(pairs) {\n  if (!pairs || !pairs.length) return '<tr><td style=\"font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#8a8a92;\">No registrado en esta sesión.</td></tr>';\n  return pairs.map(([name, pct]) => {\n    pct = Math.max(0, Math.min(100, parseInt(pct || 0, 10)));\n    return `<tr><td style=\"padding:0 0 4px 0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n      <td style=\"font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#cfcfd6;letter-spacing:0.3px;\">${esc(name)}</td>\n      <td align=\"right\" style=\"font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#c9aa75;\">${pct}%</td></tr></table></td></tr>\n      <tr><td style=\"padding:0 0 13px 0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#1e1e22;border-radius:99px;\"><tr>\n      <td style=\"font-size:0;line-height:0;\"><table width=\"${pct}%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n      <td height=\"6\" style=\"background:#c9aa75;border-radius:99px;font-size:0;line-height:0;\">&nbsp;</td></tr></table></td></tr></table></td></tr>`;\n  }).join('');\n}\n\nfunction timeline(items) {\n  if (!items || !items.length) return '<tr><td style=\"font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#8a8a92;\">No registrada.</td></tr>';\n  return items.map(([t, label]) =>\n    `<tr><td width=\"66\" valign=\"top\" style=\"font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#c9aa75;letter-spacing:1px;padding:0 0 16px 0;\">${esc(t)}</td>\n     <td valign=\"top\" style=\"padding:0 0 16px 14px;border-left:2px solid #2a2620;\">\n     <span style=\"font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:20px;color:#cfcfd6;\">${esc(label)}</span></td></tr>`\n  ).join('');\n}\n\nfunction planList(steps) {\n  if (!steps || !steps.length) return '<tr><td style=\"font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#8a8a92;\">—</td></tr>';\n  return steps.map((s, i) =>\n    `<tr><td valign=\"top\" width=\"30\" style=\"font-family:Georgia,serif;font-size:16px;color:#5fbf86;padding:0 0 12px 0;\">${i + 1}.</td>\n     <td valign=\"top\" style=\"font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:21px;color:#cfd8d2;padding:0 0 12px 0;\">${esc(s)}</td></tr>`\n  ).join('');\n}\n\nfunction parsePairs(str) {\n  if (Array.isArray(str)) return str.map(x => Array.isArray(x) ? x : [x.nombre || x.name, x.intensidad != null ? x.intensidad : x.pct]);\n  return String(str || '').split('|').map(x => x.trim()).filter(Boolean).map(x => {\n    const i = x.lastIndexOf(':'); return i < 0 ? null : [x.slice(0, i).trim(), x.slice(i + 1).trim()];\n  }).filter(Boolean);\n}\n\nfunction parseTL(str) {\n  if (Array.isArray(str)) return str.map(x => Array.isArray(x) ? x : [x.t || x.time, x.label || x.event]);\n  return String(str || '').split('|').map(x => x.trim()).filter(Boolean).map(x => {\n    const m = x.match(/^(\\d{1,2}:\\d{2})\\s*(.*)$/); return m ? [m[1], m[2]] : ['', x];\n  });\n}\n\nfunction courseBlock(d) {\n  const gu = d.general_understanding, part = d.participation_level, dln = d.deep_learning_notes;\n  if (gu == null && !part && !dln) return '';\n  return `<tr><td class=\"px\" style=\"padding:30px 44px 6px 44px;border-top:1px solid #1c1c20;\">\n    <div style=\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:3px;color:#7c7c84;text-transform:uppercase;\">Análisis del Aprendizaje</div>\n    <div style=\"height:16px;font-size:0;\">&nbsp;</div>\n    ${gu != null ? `<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:16px;\"><tr>\n      <td style=\"font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#cfcfd6;\">Comprensión general</td>\n      <td align=\"right\" style=\"font-family:Georgia,serif;font-size:20px;color:${gu >= 8 ? '#5fbf86' : gu >= 6 ? '#c9aa75' : '#e89a92'};\">${esc(gu)}/10</td>\n    </tr></table>` : ''}\n    ${part ? `<div style=\"font-family:Helvetica,Arial,sans-serif;font-size:11px;color:#7c7c84;text-transform:uppercase;letter-spacing:1.5px;margin-bottom:6px;\">Participación</div>\n    <div style=\"font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:21px;color:#cfcfd6;margin-bottom:16px;\">${esc(part)}</div>` : ''}\n    ${dln ? `<div style=\"background:#0f0f12;border:1px solid #2a2620;border-radius:8px;padding:16px 18px;margin-top:8px;\">\n      <div style=\"font-family:Helvetica,Arial,sans-serif;font-size:10px;letter-spacing:2px;color:#5a5a62;text-transform:uppercase;margin-bottom:10px;\">🧠 Nota Deep Learning</div>\n      <div style=\"font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#cfcfd6;\">${esc(dln)}</div>\n    </div>` : ''}\n  </td></tr>`;\n}\n\nfunction activityBlock(d, name) {\n  if (!d.session_activity) return '';\n  return `<tr><td class=\"px\" style=\"padding:30px 44px 6px 44px;border-top:1px solid #1c1c20;\">\n    <div style=\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:3px;color:#7c7c84;text-transform:uppercase;\">Actividad de la sesión</div>\n    <div style=\"height:6px;font-size:0;\">&nbsp;</div>\n    <div style=\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:12px;line-height:18px;color:#5a5a62;letter-spacing:0.2px;\">Lo que ${esc(name)} hizo durante la sesión.</div>\n    <div style=\"height:14px;font-size:0;\">&nbsp;</div>\n    <div style=\"font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:22px;color:#cfcfd6;\">${esc(d.session_activity)}</div>\n  </td></tr>`;\n}\n\n// ── Payload plano de 25 campos + transcript, tal como los deja \"Extract Data — 25 Fields\" ──\nconst d = $input.first().json;\nconst turns = Array.isArray(d.transcript_items) ? d.transcript_items : [];\nconst scorePct = Math.max(0, Math.min(100, Math.round((parseFloat(d.score) || 0) * 10)));\n\nconst order = [\n  ['rapport_score', 'Rapport'], ['postura_score', 'Postura'], ['objeciones_score', 'Objeciones'],\n  ['leer_sala_score', 'Leer la sala'], ['cierre_score', 'Cierre'], ['pnl_score', 'PNL'],\n];\nconst compValues = order.map(([k]) => parseFloat(d[k]) || 0);\n\nconst tokens = {\n  USER_NAME: esc(d.employee_name || 'Asesor'),\n  EMP_NUM: esc(d.employee_id || '—'),\n  DEPARTAMENTO: esc(d.department || 'VTC'),\n  USER_ROLE: esc(d.user_role || 'Asesor'),\n  FECHA: esc(d.session_date || ''),\n  TIPO_ACTIVIDAD: esc(d.scenario_desc || 'Sesión'),\n  DURACION: esc(d.duration_formatted || (Math.floor((d.duration_seconds || 0) / 60) + ' min')),\n  SCORE: esc(d.score != null ? d.score : '—'),\n  SCORE_PCT: scorePct,\n  VEREDICTO: esc(d.performance_summary || '—'),\n  RESUMEN: esc(d.call_summary || '(sin resumen)'),\n  ESCENARIO: esc(d.scenario_desc || '—'),\n  TIPO_CLIENTE: esc(d.disc_type || '—'),\n  IDIOMA: esc(d.language === 'ES' || d.language === 'es' ? 'Español' : (d.language || '—')),\n  MODULOS: esc(d.modules_practiced || d.scenario_desc || '—'),\n  DURACION_EXACTA: esc(d.duration_formatted || ''),\n  SENTIMIENTO: esc((d.sentiment || 'Neutral').replace(/^./, c => c.toUpperCase())),\n  NUM_TURNOS: d.interventions_count || turns.length || 0,\n  RADAR_SVG: radarSvg(order.map(o => o[1]), compValues),\n  NEURO_BARS: neuroBars(parsePairs(d.neuro_principles)),\n  TIMELINE_HTML: timeline(parseTL(d.timeline_items || d.momentos_clave)),\n  FORTALEZAS: esc(d.what_went_well || '—'),\n  AREAS_MEJORA: esc(d.areas_to_improve || '—'),\n  OBJECIONES: esc(d.objections_faced || '—'),\n  ANALISIS_PNL: esc(d.pnl_analysis || '—'),\n  RECOMENDACION: esc(d.next_drill || '—'),\n  CTA_URL: 'https://vtc-capacitacion-deploy.vercel.app/',\n  PLAN_ACCION: planList(Array.isArray(d.action_plan_items) ? d.action_plan_items : String(d.action_plan_items || '').split('|').filter(Boolean)),\n  COURSE_ANALYSIS: courseBlock(d),\n  SESSION_ACTIVITY: activityBlock(d, d.employee_name || 'el asesor'),\n  TRANSCRIPT_CHAT: buildChatTable(turns),\n  AUDIO_URL: d.audio_url || '',\n  REPORT_URL: d.report_url || 'https://vtc-capacitacion-deploy.vercel.app/',\n  PDF_URL: d.pdf_url || (d.report_url ? (d.report_url + '&pdf=1') : ''),\n  CONV_ID: esc(d.session_id || ''),\n};\n\nlet html = TEMPLATE;\nfor (const k in tokens) html = html.split('{{' + k + '}}').join(String(tokens[k]));\n\nconst html_base64 = Buffer.from(html, 'utf-8').toString('base64');\nreturn [{ json: { html, html_base64, data: d } }];\n"
      },
      "id": "849890d3-7c0b-446a-b9f6-5ca690af2b9d",
      "name": "Template HTML Render",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vtc-capacitacion-deploy.vercel.app/api/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ html: $json.html, filename: \"reporte_\" + $('Extract Data — 25 Fields').item.json.session_id + \".pdf\" }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdf"
            }
          }
        }
      },
      "id": "cc88f526-e4ac-4561-8a52-02f5d1a6a671",
      "name": "Generate PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        224,
        -320
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $node['Extract Data — 25 Fields'].json.audio_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio"
            }
          }
        }
      },
      "id": "6fefdeb1-c59e-4136-a13e-fe88a91113c3",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        224,
        64
      ],
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer re_EkGtKv29_AXA9TxeW8YZw5prHVtGiXQyz"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  from: $json.from,\n  to: $json.to,\n  cc: $json.cc,\n  subject: $json.subject,\n  html: $json.html,\n  attachments: $json.attachments\n}) }}\n",
        "options": {}
      },
      "id": "f1ebd68e-9f50-4726-8f64-578946a515bc",
      "name": "Send Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        752,
        -160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tracker.victor-ia.xyz/api/sessions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk_live_victor_ia_tracker_session_api_2026"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({}, $('Extract Data — 25 Fields').item.json, {\n  pdf_url: $('Extract Data — 25 Fields').item.json.pdf_url,\n  audio_url: $('Extract Data — 25 Fields').item.json.audio_url,\n  report_url: $('Extract Data — 25 Fields').item.json.report_url,\n  pdf_filename: 'reporte_' + $('Extract Data — 25 Fields').item.json.session_id + '.pdf',\n  audio_filename: 'audio_' + $('Extract Data — 25 Fields').item.json.session_id + '.mp3',\n  session_summary: $('Extract Data — 25 Fields').item.json.performance_summary,\n  session_timestamp: new Date().toISOString(),\n  section: 'seguimiento_capacitacion',\n  seguimiento_capacitacion: {\n    employee_id: $('Extract Data — 25 Fields').item.json.employee_id,\n    conversation_id: $('Extract Data — 25 Fields').item.json.session_id,\n    transcript: $('Extract Data — 25 Fields').item.json.transcript_items,\n    audio_url: $('Extract Data — 25 Fields').item.json.audio_url,\n    pdf_url: $('Extract Data — 25 Fields').item.json.pdf_url,\n    report_url: $('Extract Data — 25 Fields').item.json.report_url,\n    duration: $('Extract Data — 25 Fields').item.json.duration_seconds,\n    timestamp: new Date().toISOString()\n  }\n})) }}\n",
        "options": {}
      },
      "id": "91f9fede-9715-4298-aa27-c187880a5cab",
      "name": "Register Session in Tracker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        928,
        -160
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{\n  json: {\n    success: true,\n    message: 'Sesión registrada correctamente',\n    session_id: $node['Extract Data — 25 Fields'].json.session_id,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "0a436253-9ea0-4b7d-af29-dd5dd496b90d",
      "name": "Success Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1104,
        -160
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "0c9a147f-9bf8-4ce2-a3df-a80d10c82ce4",
      "name": "Merge PDF + Audio",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        416,
        -128
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first();\nconst bin = item.binary || {};\n\nlet pdfBase64 = '';\nlet audioBase64 = '';\n\nif (bin.pdf) {\n  const buf = await this.helpers.getBinaryDataBuffer(0, 'pdf');\n  pdfBase64 = buf.toString('base64');\n}\nif (bin.audio) {\n  const buf = await this.helpers.getBinaryDataBuffer(0, 'audio');\n  audioBase64 = buf.toString('base64');\n}\n\nconst extract = $('Extract Data — 25 Fields').item.json;\nconst template = $('Template HTML Render').item.json;\n\nconst attachments = [\n  {\n    filename: 'reporte_' + extract.session_id + '.pdf',\n    content: pdfBase64,\n    contentType: 'application/pdf'\n  },\n  {\n    filename: 'audio_' + extract.session_id + '.mp3',\n    content: audioBase64,\n    contentType: 'audio/mpeg'\n  }\n].filter(a => a.content && a.content.length > 0);\n\nreturn [{\n  json: {\n    from: 'reportes@victor-ia.xyz',\n    to: ['mesainteligentedemo@gmail.com'],\n    cc: ['eldudemateos@gmail.com', 'chrisoria16@gmail.com'],\n    subject: 'Reporte de Capacitación - ' + extract.employee_name,\n    html: template.html,\n    attachments,\n    pdf_base64: pdfBase64,\n    audio_base64: audioBase64,\n    pdf_generated: Boolean(pdfBase64),\n    audio_downloaded: Boolean(audioBase64)\n  }\n}];"
      },
      "id": "7b422225-17ad-4bd7-9ba3-3edaae775884",
      "name": "Build Email Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -128
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Data — 25 Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data — 25 Fields": {
      "main": [
        [
          {
            "node": "Template HTML Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template HTML Render": {
      "main": [
        [
          {
            "node": "Generate PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF": {
      "main": [
        [
          {
            "node": "Merge PDF + Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Merge PDF + Audio",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge PDF + Audio": {
      "main": [
        [
          {
            "node": "Build Email Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Payload": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Register Session in Tracker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Session in Tracker": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "b0300d89-e4d9-4fac-bad9-4f2a99ebf3a6",
  "activeVersionId": "b0300d89-e4d9-4fac-bad9-4f2a99ebf3a6",
  "versionCounter": 75,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-07-14T22:30:14.775Z",
      "createdAt": "2026-07-14T22:30:14.775Z",
      "role": "workflow:owner",
      "workflowId": "zCtqHc9Pj8ZbtVp1",
      "projectId": "IOsZ8ZXEyd3NkPsE",
      "project": {
        "updatedAt": "2026-07-14T18:11:53.227Z",
        "createdAt": "2026-07-14T17:40:14.782Z",
        "id": "IOsZ8ZXEyd3NkPsE",
        "name": "Pablo Solar   <mesainteligentedemo@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "e0e172e7-fc36-4782-aafb-9d039ab7986a"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-16T02:31:45.313Z",
    "createdAt": "2026-07-16T02:31:45.313Z",
    "versionId": "b0300d89-e4d9-4fac-bad9-4f2a99ebf3a6",
    "workflowId": "zCtqHc9Pj8ZbtVp1",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "elevenlabs-postall",
          "options": {}
        },
        "id": "8d5d5881-6bec-403f-8533-56351a280b57",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -368,
          -352
        ],
        "webhookId": "5a7e7047-4edf-4b87-b209-94c6a00dace6"
      },
      {
        "parameters": {
          "functionCode": "const body = $input.first().json.body;\nconst data = body.data || body;\n\nconst now = body.event_timestamp ? new Date(body.event_timestamp * 1000) : new Date();\nconst sessionDate = now.toISOString().split('T')[0];\nconst sessionTime = now.toTimeString().split(' ')[0];\nconst durSecs = data.duration_seconds || 0;\nconst durFmt = Math.floor(durSecs / 60) + ':' + String(durSecs % 60).padStart(2, '0');\n\nreturn [{\n  json: {\n    // Sesión / metadata\n    session_id: data.conversation_id || 'N/A',\n    employee_id: data.user_id || 'N/A',\n    employee_name: data.agent_name || (data.dynamic_variables && data.dynamic_variables.user_name) || 'Empleado',\n    department: 'VTC',\n    session_date: sessionDate,\n    session_time: sessionTime,\n    scenario_desc: data.scenario_name || 'Standard',\n    modules_practiced: data.modules_practiced || data.scenario_name || '',\n    disc_type: data.disc_type || 'D',\n    language: data.language || 'ES',\n    duration_seconds: durSecs,\n    duration_formatted: data.duration_formatted || durFmt,\n\n    // Desempeño\n    score: data.performance_score != null ? data.performance_score : 8,\n    performance_summary: data.performance_note || 'Sesión completada',\n    call_summary: data.call_summary || data.summary || '',\n    sentiment: data.sentiment || 'neutral',\n    interventions_count: data.interventions_count || 0,\n\n    // Competencias (6 ejes)\n    rapport_score: (data.competencies && data.competencies.rapport) || 8,\n    pnl_score: (data.competencies && data.competencies.pnl) || 8,\n    postura_score: (data.competencies && data.competencies.postura) || 8,\n    objeciones_score: (data.competencies && data.competencies.objeciones) || 8,\n    leer_sala_score: (data.competencies && data.competencies.leer_sala) || 8,\n    cierre_score: (data.competencies && data.competencies.cierre) || 8,\n\n    // Analisis\n    neuro_principles: data.neuro_principles || '',\n    what_went_well: data.strengths || 'Excelente desempeño',\n    areas_to_improve: data.improvements || 'Continuar mejorando',\n    objections_faced: data.objections || 'Ninguna',\n    pnl_analysis: data.pnl_analysis || 'Análisis disponible',\n    next_drill: data.next_drill || 'Próximo módulo',\n    action_plan_items: data.action_plan || [],\n    general_understanding: data.learning_score || null,\n    participation_level: data.participation_level || '',\n    deep_learning_notes: data.deep_learning_notes || '',\n    session_activity: data.activity_summary || '',\n    momentos_clave: data.timeline || data.momentos_clave || [],\n\n    // Transcript completo palabra por palabra: [{speaker|role, t|time_in_call_secs, text|message}]\n    transcript_items: data.transcript_items || data.transcript || [],\n\n    // Audio + report links (permanent, conversation_id-keyed Vercel endpoints)\n    audio_url: (data.conversation_id ? ('https://vtc-capacitacion-deploy.vercel.app/api/audio?conv=' + encodeURIComponent(data.conversation_id)) : (data.full_audio || data.audio_url || '')),\n    report_url: (data.conversation_id ? ('https://vtc-capacitacion-deploy.vercel.app/api/report?conv=' + encodeURIComponent(data.conversation_id)) : 'https://vtc-capacitacion-deploy.vercel.app/'),\n    pdf_url: (data.conversation_id ? ('https://vtc-capacitacion-deploy.vercel.app/api/report?conv=' + encodeURIComponent(data.conversation_id) + '&pdf=1') : ''),\n  }\n}];\n"
        },
        "id": "04e2efb0-1626-4446-97ed-77bcec6fa0de",
        "name": "Extract Data — 25 Fields",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          -176,
          -160
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "\n// ── Template real de Victor IA (identico a _template.js) + helpers (identicos a _chat.js) ──\nconst TEMPLATE = \"<!DOCTYPE html>\\n<html lang=\\\"es\\\" xmlns=\\\"http://www.w3.org/1999/xhtml\\\" xmlns:v=\\\"urn:schemas-microsoft-com:vml\\\">\\n<head>\\n<meta charset=\\\"utf-8\\\">\\n<meta name=\\\"viewport\\\" content=\\\"width=device-width, initial-scale=1.0\\\">\\n<meta http-equiv=\\\"X-UA-Compatible\\\" content=\\\"IE=edge\\\">\\n<meta name=\\\"x-apple-disable-message-reformatting\\\">\\n<meta name=\\\"color-scheme\\\" content=\\\"dark\\\"><meta name=\\\"supported-color-schemes\\\" content=\\\"dark\\\">\\n<title>Reporte de sesión · Víctor</title>\\n<!--[if mso]><noscript><xml><o:OfficeDocumentSettings><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml></noscript><![endif]-->\\n<style>\\n  body,table,td,a{ -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }\\n  table,td{ mso-table-lspace:0; mso-table-rspace:0; }\\n  img{ -ms-interpolation-mode:bicubic; border:0; outline:none; text-decoration:none; display:block; }\\n  body{ margin:0; padding:0; width:100%!important; background:#0a0a0b; }\\n  a{ color:#c9aa75; text-decoration:none; }\\n  @media only screen and (max-width:620px){\\n    .container{ width:100%!important; }\\n    .px{ padding-left:24px!important; padding-right:24px!important; }\\n    .stack{ display:block!important; width:100%!important; }\\n    .stack-pad{ padding:0 0 14px 0!important; }\\n    .h1{ font-size:26px!important; line-height:32px!important; }\\n    .score-num{ font-size:64px!important; }\\n    .metric-num{ font-size:18px!important; }\\n    .radar-img{ width:280px!important; height:280px!important; }\\n  }\\n</style>\\n</head>\\n<body style=\\\"margin:0;padding:0;background:#0a0a0b;\\\">\\n<div style=\\\"display:none;max-height:0;overflow:hidden;opacity:0;font-size:1px;line-height:1px;color:#0a0a0b;\\\">\\n  {{USER_NAME}}, tu sesión con Víctor: {{SCORE}}/10. Análisis completo, métricas, PNL y tu próximo drill.\\n</div>\\n\\n<table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"background:#0a0a0b;\\\">\\n<tr><td align=\\\"center\\\" style=\\\"padding:32px 16px;\\\">\\n\\n<table role=\\\"presentation\\\" class=\\\"container\\\" width=\\\"600\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"width:600px;max-width:600px;background:#101012;border:1px solid #1e1e22;border-radius:18px;overflow:hidden;\\\">\\n\\n  <!-- ░░ HEADER ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:38px 44px 26px 44px;border-bottom:1px solid #1c1c20;\\\">\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\"><tr>\\n      <td align=\\\"left\\\" style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:12px;letter-spacing:3.5px;color:#c9aa75;text-transform:uppercase;font-weight:600;\\\">VICTORIOUS&nbsp;TRAVELERS&nbsp;CLUB</td>\\n      <td align=\\\"right\\\" style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:1.5px;color:#5a5a62;text-transform:uppercase;\\\">{{FECHA}}</td>\\n    </tr></table>\\n    <div style=\\\"height:18px;font-size:0;\\\">&nbsp;</div>\\n    <div class=\\\"h1\\\" style=\\\"font-family:Georgia,serif;font-size:32px;line-height:38px;color:#f4f1ea;letter-spacing:-0.3px;\\\">Reporte de entrenamiento</div>\\n    <div style=\\\"height:8px;font-size:0;\\\">&nbsp;</div>\\n    <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:15px;line-height:22px;color:#9a9aa2;letter-spacing:0.2px;\\\">Sesión de <strong style=\\\"color:#d8d4ca;\\\">{{USER_NAME}}</strong> con Víctor · {{TIPO_ACTIVIDAD}} · {{DURACION}}</div>\\n    <div style=\\\"height:12px;font-size:0;\\\">&nbsp;</div>\\n    <table role=\\\"presentation\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\"><tr>\\n      <td style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:1px;color:#c9aa75;background:#161410;border:1px solid #2a2620;border-radius:6px;padding:6px 11px;\\\">EMPLEADO&nbsp;Nº&nbsp;{{EMP_NUM}}</td>\\n      <td style=\\\"width:8px;\\\">&nbsp;</td>\\n      <td style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:1px;color:#9a9aa2;background:#141416;border:1px solid #232328;border-radius:6px;padding:6px 11px;text-transform:uppercase;\\\">{{DEPARTAMENTO}}</td>\\n      <td style=\\\"width:8px;\\\">&nbsp;</td>\\n      <td style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:1px;color:#9a9aa2;background:#141416;border:1px solid #232328;border-radius:6px;padding:6px 11px;text-transform:uppercase;\\\">{{USER_ROLE}}</td>\\n    </tr></table>\\n  </td></tr>\\n\\n  <!-- ░░ SCORE HERO ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:36px 44px 28px 44px;\\\" align=\\\"center\\\">\\n    <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:3px;color:#7c7c84;text-transform:uppercase;\\\">Desempeño global</div>\\n    <div style=\\\"height:6px;font-size:0;\\\">&nbsp;</div>\\n    <div class=\\\"score-num\\\" style=\\\"font-family:Georgia,serif;font-size:84px;line-height:88px;color:#c9aa75;letter-spacing:-2px;\\\">{{SCORE}}<span style=\\\"font-size:30px;color:#5a5a62;letter-spacing:0;\\\">/10</span></div>\\n    <div style=\\\"height:14px;font-size:0;\\\">&nbsp;</div>\\n    <table role=\\\"presentation\\\" width=\\\"320\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"max-width:320px;\\\"><tr>\\n      <td style=\\\"background:#1e1e22;border-radius:99px;font-size:0;line-height:0;\\\">\\n        <table role=\\\"presentation\\\" width=\\\"{{SCORE_PCT}}%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\"><tr><td height=\\\"6\\\" style=\\\"background:#c9aa75;border-radius:99px;font-size:0;line-height:0;\\\">&nbsp;</td></tr></table>\\n      </td></tr></table>\\n    <div style=\\\"height:14px;font-size:0;\\\">&nbsp;</div>\\n    <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;line-height:21px;color:#a8a8b0;letter-spacing:0.2px;\\\">{{VEREDICTO}}</div>\\n  </td></tr>\\n\\n  <!-- ░░ RESUMEN DE LA LLAMADA ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:8px 44px 6px 44px;\\\">\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"background:#0d0d0f;border:1px solid #1c1c20;border-radius:12px;\\\"><tr><td style=\\\"padding:22px 24px;\\\">\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:3px;color:#c9aa75;text-transform:uppercase;font-weight:600;\\\">Resumen de la llamada</div>\\n      <div style=\\\"height:10px;font-size:0;\\\">&nbsp;</div>\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:15px;line-height:24px;color:#cfcfd6;letter-spacing:0.1px;\\\">{{RESUMEN}}</div>\\n    </td></tr></table>\\n  </td></tr>\\n\\n  <!-- ░░ MÉTRICAS (2 col → stack) ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:16px 36px 8px 36px;\\\">\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\"><tr>\\n      <td class=\\\"stack stack-pad\\\" width=\\\"50%\\\" valign=\\\"top\\\" style=\\\"padding:8px;\\\">\\n        <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"background:#161618;border:1px solid #232328;border-radius:12px;\\\"><tr><td style=\\\"padding:18px 20px;\\\">\\n          <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:10px;letter-spacing:2.5px;color:#7c7c84;text-transform:uppercase;\\\">Escenario</div>\\n          <div style=\\\"height:7px;font-size:0;\\\">&nbsp;</div>\\n          <div class=\\\"metric-num\\\" style=\\\"font-family:Georgia,serif;font-size:19px;color:#f4f1ea;line-height:24px;\\\">{{ESCENARIO}}</div>\\n          <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:12px;color:#8a8a92;line-height:17px;margin-top:3px;\\\">{{TIPO_CLIENTE}} · {{IDIOMA}}</div>\\n        </td></tr></table></td>\\n      <td class=\\\"stack stack-pad\\\" width=\\\"50%\\\" valign=\\\"top\\\" style=\\\"padding:8px;\\\">\\n        <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"background:#161618;border:1px solid #232328;border-radius:12px;\\\"><tr><td style=\\\"padding:18px 20px;\\\">\\n          <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:10px;letter-spacing:2.5px;color:#7c7c84;text-transform:uppercase;\\\">Módulos practicados</div>\\n          <div style=\\\"height:7px;font-size:0;\\\">&nbsp;</div>\\n          <div class=\\\"metric-num\\\" style=\\\"font-family:Georgia,serif;font-size:19px;color:#f4f1ea;line-height:24px;\\\">{{MODULOS}}</div>\\n          <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:12px;color:#8a8a92;line-height:17px;margin-top:3px;\\\">{{TIPO_ACTIVIDAD}}</div>\\n        </td></tr></table></td>\\n    </tr></table>\\n  </td></tr>\\n\\n  <!-- ░░ ANALÍTICAS DE LA SESIÓN (4 stats) ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:10px 40px 4px 40px;\\\">\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\"><tr>\\n      <td class=\\\"stack\\\" width=\\\"25%\\\" valign=\\\"top\\\" style=\\\"padding:6px;\\\">\\n        <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"background:#0d0d0f;border:1px solid #1c1c20;border-radius:10px;\\\"><tr><td align=\\\"center\\\" style=\\\"padding:14px 8px;\\\">\\n          <div style=\\\"font-family:Georgia,serif;font-size:20px;color:#c9aa75;line-height:24px;\\\">{{DURACION_EXACTA}}</div>\\n          <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:9px;letter-spacing:1.5px;color:#7c7c84;text-transform:uppercase;margin-top:4px;\\\">Tiempo hablado</div>\\n        </td></tr></table></td>\\n      <td class=\\\"stack\\\" width=\\\"25%\\\" valign=\\\"top\\\" style=\\\"padding:6px;\\\">\\n        <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"background:#0d0d0f;border:1px solid #1c1c20;border-radius:10px;\\\"><tr><td align=\\\"center\\\" style=\\\"padding:14px 8px;\\\">\\n          <div style=\\\"font-family:Georgia,serif;font-size:20px;color:#f4f1ea;line-height:24px;\\\">{{IDIOMA}}</div>\\n          <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:9px;letter-spacing:1.5px;color:#7c7c84;text-transform:uppercase;margin-top:4px;\\\">Idioma</div>\\n        </td></tr></table></td>\\n      <td class=\\\"stack\\\" width=\\\"25%\\\" valign=\\\"top\\\" style=\\\"padding:6px;\\\">\\n        <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"background:#0d0d0f;border:1px solid #1c1c20;border-radius:10px;\\\"><tr><td align=\\\"center\\\" style=\\\"padding:14px 8px;\\\">\\n          <div style=\\\"font-family:Georgia,serif;font-size:20px;color:#f4f1ea;line-height:24px;\\\">{{SENTIMIENTO}}</div>\\n          <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:9px;letter-spacing:1.5px;color:#7c7c84;text-transform:uppercase;margin-top:4px;\\\">Sentimiento</div>\\n        </td></tr></table></td>\\n      <td class=\\\"stack\\\" width=\\\"25%\\\" valign=\\\"top\\\" style=\\\"padding:6px;\\\">\\n        <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"background:#0d0d0f;border:1px solid #1c1c20;border-radius:10px;\\\"><tr><td align=\\\"center\\\" style=\\\"padding:14px 8px;\\\">\\n          <div style=\\\"font-family:Georgia,serif;font-size:20px;color:#f4f1ea;line-height:24px;\\\">{{NUM_TURNOS}}</div>\\n          <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:9px;letter-spacing:1.5px;color:#7c7c84;text-transform:uppercase;margin-top:4px;\\\">Intervenciones</div>\\n        </td></tr></table></td>\\n    </tr></table>\\n  </td></tr>\\n\\n  <!-- ░░ RADAR · MAPA DE COMPETENCIAS ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:26px 44px 8px 44px;\\\" align=\\\"center\\\">\\n    <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:3px;color:#7c7c84;text-transform:uppercase;\\\">Mapa de competencias</div>\\n    <div style=\\\"height:14px;font-size:0;\\\">&nbsp;</div>\\n    <div class=\\\"radar-img\\\" style=\\\"width:360px;height:360px;max-width:100%;margin:0 auto;\\\">{{RADAR_SVG}}</div>\\n  </td></tr>\\n\\n  <!-- ░░ PRINCIPIOS NEUROCIENTÍFICOS (barras CSS) ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:18px 44px 6px 44px;\\\">\\n    <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:3px;color:#7c7c84;text-transform:uppercase;\\\">Principios neurocientíficos activados</div>\\n    <div style=\\\"height:16px;font-size:0;\\\">&nbsp;</div>\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\">\\n      {{NEURO_BARS}}\\n    </table>\\n  </td></tr>\\n\\n  <!-- ░░ LÍNEA DE LA CONVERSACIÓN ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:24px 44px 6px 44px;\\\">\\n    <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:3px;color:#7c7c84;text-transform:uppercase;\\\">Línea de la conversación</div>\\n    <div style=\\\"height:16px;font-size:0;\\\">&nbsp;</div>\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\">\\n      {{TIMELINE_HTML}}\\n    </table>\\n  </td></tr>\\n\\n  <!-- ░░ FORTALEZAS ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:24px 44px 0 44px;\\\">\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"border-left:2px solid #3da06a;\\\"><tr><td style=\\\"padding:2px 0 2px 18px;\\\">\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:2.5px;color:#3da06a;text-transform:uppercase;font-weight:600;\\\">✓ Lo que hiciste bien</div>\\n      <div style=\\\"height:8px;font-size:0;\\\">&nbsp;</div>\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:15px;line-height:23px;color:#cfcfd6;letter-spacing:0.1px;\\\">{{FORTALEZAS}}</div>\\n    </td></tr></table>\\n  </td></tr>\\n\\n  <!-- ░░ ÁREAS DE MEJORA ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:22px 44px 0 44px;\\\">\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"border-left:2px solid #c9883a;\\\"><tr><td style=\\\"padding:2px 0 2px 18px;\\\">\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:2.5px;color:#c9883a;text-transform:uppercase;font-weight:600;\\\">△ A mejorar</div>\\n      <div style=\\\"height:8px;font-size:0;\\\">&nbsp;</div>\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:15px;line-height:23px;color:#cfcfd6;letter-spacing:0.1px;\\\">{{AREAS_MEJORA}}</div>\\n    </td></tr></table>\\n  </td></tr>\\n\\n  <!-- ░░ OBJECIONES ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:22px 44px 0 44px;\\\">\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"border-left:2px solid #2e2e34;\\\"><tr><td style=\\\"padding:2px 0 2px 18px;\\\">\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:2.5px;color:#8a8a92;text-transform:uppercase;font-weight:600;\\\">Objeciones que enfrentaste</div>\\n      <div style=\\\"height:8px;font-size:0;\\\">&nbsp;</div>\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:15px;line-height:23px;color:#cfcfd6;letter-spacing:0.1px;\\\">{{OBJECIONES}}</div>\\n    </td></tr></table>\\n  </td></tr>\\n\\n  <!-- ░░ ANÁLISIS PNL ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:28px 44px 6px 44px;\\\">\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"background:#0e0d14;border:1px solid #28243a;border-radius:14px;\\\"><tr><td style=\\\"padding:24px 26px;\\\">\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:3px;color:#9b8cff;text-transform:uppercase;font-weight:600;\\\">🧠 Análisis PNL</div>\\n      <div style=\\\"height:10px;font-size:0;\\\">&nbsp;</div>\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:15px;line-height:24px;color:#cfcfd6;letter-spacing:0.1px;\\\">{{ANALISIS_PNL}}</div>\\n    </td></tr></table>\\n  </td></tr>\\n\\n  <!-- ░░ PRÓXIMO DRILL (CTA) ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:24px 44px 8px 44px;\\\">\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"background-color:#15140f;border:1px solid #3a3326;border-radius:14px;\\\"><tr><td style=\\\"padding:24px 26px;\\\">\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:3px;color:#c9aa75;text-transform:uppercase;font-weight:600;\\\">🎯 Tu próximo drill</div>\\n      <div style=\\\"height:10px;font-size:0;\\\">&nbsp;</div>\\n      <div style=\\\"font-family:Georgia,serif;font-size:18px;line-height:26px;color:#f4f1ea;letter-spacing:0.1px;\\\">{{RECOMENDACION}}</div>\\n      <div style=\\\"height:18px;font-size:0;\\\">&nbsp;</div>\\n      <!--[if mso]><v:roundrect xmlns:v=\\\"urn:schemas-microsoft-com:vml\\\" href=\\\"{{CTA_URL}}\\\" style=\\\"height:44px;v-text-anchor:middle;width:230px;\\\" arcsize=\\\"50%\\\" fillcolor=\\\"#c9aa75\\\" stroke=\\\"f\\\"><center><![endif]-->\\n      <a href=\\\"{{CTA_URL}}\\\" style=\\\"display:inline-block;background:#c9aa75;color:#0a0a0b;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;font-weight:700;letter-spacing:1.5px;text-transform:uppercase;padding:14px 30px;border-radius:99px;\\\">Entrenar de nuevo</a>\\n      <!--[if mso]></center></v:roundrect><![endif]-->\\n    </td></tr></table>\\n  </td></tr>\\n\\n  <!-- ░░ FOOTER ░░ -->\\n  <!-- ░░ PLAN DE ACCIÓN (gerente) ░░ -->\\n  <tr><td class=\\\"px\\\" style=\\\"padding:28px 44px 6px 44px;\\\">\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"background:#0c100d;border:1px solid #1f3326;border-radius:14px;\\\"><tr><td style=\\\"padding:24px 26px;\\\">\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:3px;color:#5fbf86;text-transform:uppercase;font-weight:600;\\\">📋 Plan de acción · para el gerente</div>\\n      <div style=\\\"height:6px;font-size:0;\\\">&nbsp;</div>\\n      <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:12px;line-height:18px;color:#6a8a76;letter-spacing:0.2px;\\\">Pasos concretos para llevar a este asesor a la excelencia.</div>\\n      <div style=\\\"height:14px;font-size:0;\\\">&nbsp;</div>\\n      <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\">{{PLAN_ACCION}}</table>\\n    </td></tr></table>\\n  </td></tr>\\n\\n  {{COURSE_ANALYSIS}}{{SESSION_ACTIVITY}}<tr><td class=\\\"px\\\" style=\\\"padding:30px 44px 6px 44px;border-top:1px solid #1c1c20;\\\">\\n    <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:3px;color:#7c7c84;text-transform:uppercase;\\\">Transcripción completa</div>\\n    <div style=\\\"height:6px;font-size:0;\\\">&nbsp;</div>\\n    <div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:12px;line-height:18px;color:#5a5a62;letter-spacing:0.2px;\\\">Conversación palabra por palabra entre Víctor y el asesor.</div>\\n    <div style=\\\"height:18px;font-size:0;\\\">&nbsp;</div>\\n    {{TRANSCRIPT_CHAT}}\\n  </td></tr>\\n\\n  <tr><td class=\\\"px\\\" style=\\\"padding:16px 44px 4px 44px;\\\" align=\\\"center\\\">\\n    <table role=\\\"presentation\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" align=\\\"center\\\">\\n      <tr>\\n        <td style=\\\"padding:5px 6px;\\\">\\n          <!--[if mso]><v:roundrect xmlns:v=\\\"urn:schemas-microsoft-com:vml\\\" href=\\\"{{REPORT_URL}}\\\" style=\\\"height:46px;v-text-anchor:middle;width:210px;\\\" arcsize=\\\"50%\\\" fillcolor=\\\"#c9aa75\\\" stroke=\\\"f\\\"><center><![endif]-->\\n          <a href=\\\"{{REPORT_URL}}\\\" style=\\\"display:inline-block;background:#c9aa75;color:#0a0a0b;font-family:'Helvetica Neue',Arial,sans-serif;font-size:12px;font-weight:700;letter-spacing:1.1px;text-transform:uppercase;padding:14px 22px;border-radius:99px;\\\">📊 Ver reporte completo</a>\\n          <!--[if mso]></center></v:roundrect><![endif]-->\\n        </td>\\n        <td style=\\\"padding:5px 6px;\\\">\\n          <!--[if mso]><v:roundrect xmlns:v=\\\"urn:schemas-microsoft-com:vml\\\" href=\\\"{{PDF_URL}}\\\" style=\\\"height:46px;v-text-anchor:middle;width:210px;\\\" arcsize=\\\"50%\\\" fillcolor=\\\"#c9aa75\\\" stroke=\\\"f\\\"><center><![endif]-->\\n          <a href=\\\"{{PDF_URL}}\\\" style=\\\"display:inline-block;background:#c9aa75;color:#0a0a0b;font-family:'Helvetica Neue',Arial,sans-serif;font-size:12px;font-weight:700;letter-spacing:1.1px;text-transform:uppercase;padding:14px 22px;border-radius:99px;\\\">📥 Descargar PDF</a>\\n          <!--[if mso]></center></v:roundrect><![endif]-->\\n        </td>\\n      </tr>\\n      <tr>\\n        <td colspan=\\\"2\\\" align=\\\"center\\\" style=\\\"padding:5px 6px 2px 6px;\\\">\\n          <!--[if mso]><v:roundrect xmlns:v=\\\"urn:schemas-microsoft-com:vml\\\" href=\\\"{{AUDIO_URL}}\\\" style=\\\"height:46px;v-text-anchor:middle;width:210px;\\\" arcsize=\\\"50%\\\" fillcolor=\\\"#161618\\\" strokecolor=\\\"#3a3a42\\\"><center><![endif]-->\\n          <a href=\\\"{{AUDIO_URL}}\\\" style=\\\"display:inline-block;background:#161618;border:1px solid #3a3a42;color:#c9aa75;font-family:'Helvetica Neue',Arial,sans-serif;font-size:12px;font-weight:700;letter-spacing:1.1px;text-transform:uppercase;padding:14px 22px;border-radius:99px;\\\">🎙️ Escuchar grabación</a>\\n          <!--[if mso]></center></v:roundrect><![endif]-->\\n        </td>\\n      </tr>\\n    </table>\\n  </td></tr>\\n\\n  <tr><td class=\\\"px\\\" style=\\\"padding:30px 44px 38px 44px;border-top:1px solid #1c1c20;\\\">\\n    <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\"><tr>\\n      <td align=\\\"left\\\" style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:12px;line-height:18px;color:#5a5a62;letter-spacing:0.3px;\\\">\\n        <span style=\\\"color:#c9aa75;font-weight:600;letter-spacing:1px;\\\">VÍCTOR</span> · Coach de IA del piso<br>Generado por <a href=\\\"https://victor-ia.com.mx\\\" style=\\\"color:#7c7c84;\\\">Victor&nbsp;IA</a>\\n      </td>\\n      <td align=\\\"right\\\" style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;color:#3a3a42;letter-spacing:0.5px;\\\">Sesión {{CONV_ID}}</td>\\n    </tr></table>\\n  </td></tr>\\n\\n</table>\\n<div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;color:#3a3a42;letter-spacing:0.5px;padding:18px 0 0 0;\\\">Este reporte es interno del equipo VTC.</div>\\n\\n</td></tr></table>\\n</body>\\n</html>\\n\";\n\nconst esc = (s) => String(s == null ? '' : s).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n\nfunction fmtTime(secs) {\n  secs = Math.max(0, parseInt(secs || 0, 10));\n  const m = Math.floor(secs / 60), s = secs % 60;\n  return `${m}:${String(s).padStart(2, '0')}`;\n}\n\nfunction clean(msg) {\n  let s = String(msg == null ? '' : msg);\n  s = s.replace(/<cliente>[\\s\\S]*?<\\/cliente>/gi, ' ');\n  s = s.replace(/<\\/?[a-z][^>]*>/gi, ' ');\n  s = s.replace(/\\[[^\\]\\n]{1,40}\\]/g, ' ');\n  s = s.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1');\n  s = s.replace(/[ \\t]{2,}/g, ' ').replace(/\\s*\\n\\s*/g, ' ').trim();\n  return s;\n}\n\nfunction buildChatTable(turns) {\n  const rows = (Array.isArray(turns) ? turns : []).map((t) => {\n    const isAgent = (t.role || '').toLowerCase() === 'agent' || (t.speaker || '').toLowerCase() === 'victor' || (t.speaker || '').toLowerCase() === 'agent';\n    const text = clean(t.message || t.text);\n    if (!text) return '';\n    const who = isAgent ? 'VÍCTOR' : 'ASESOR';\n    const color = isAgent ? '#c9aa75' : '#9b8cff';\n    const bg = isAgent ? '#161410' : '#14131a';\n    const bd = isAgent ? '#2a2620' : '#2a2740';\n    const align = isAgent ? 'left' : 'right';\n    const secs = t.time_in_call_secs != null ? t.time_in_call_secs : t.t;\n    return `<tr><td style=\"padding:0 0 12px 0;\">\n      <table role=\"presentation\" width=\"82%\" align=\"${align}\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:${bg};border:1px solid ${bd};border-radius:14px;\">\n        <tr><td style=\"padding:13px 17px;\">\n          <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n            <td style=\"font-family:Helvetica,Arial,sans-serif;font-size:10px;letter-spacing:2px;color:${color};font-weight:700;\">${who}</td>\n            <td align=\"right\" style=\"font-family:Helvetica,Arial,sans-serif;font-size:10px;color:#5a5a62;letter-spacing:0.5px;\">${fmtTime(secs)}</td>\n          </tr></table>\n          <div style=\"height:6px;font-size:0;\">&nbsp;</div>\n          <div style=\"font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:22px;color:#dcdce2;\">${esc(text)}</div>\n        </td></tr>\n      </table>\n      <div style=\"clear:both;font-size:0;line-height:0;\">&nbsp;</div>\n    </td></tr>`;\n  }).join('');\n  return `<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">${rows || '<tr><td style=\"color:#8a8a92;font-family:Helvetica,Arial,sans-serif;\">Sin transcripción disponible.</td></tr>'}</table>`;\n}\n\nfunction radarSvg(labels, values, opts) {\n  opts = opts || {};\n  const size = opts.size || 360;\n  const vb = Math.round(size * 1.3);\n  const cx = vb / 2, cy = vb / 2;\n  const R = vb * 0.235;\n  const labelR = vb * 0.335;\n  const n = labels.length || 1;\n  const max = 10, rings = 5;\n  const angleFor = (i) => (Math.PI * 2 * i / n) - Math.PI / 2;\n  const fx = (num) => Math.round(num * 100) / 100;\n\n  let gridSvg = '';\n  for (let lvl = 1; lvl <= rings; lvl++) {\n    const rr = R * (lvl / rings);\n    const pts = [];\n    for (let i = 0; i < n; i++) { const a = angleFor(i); pts.push(fx(cx + rr * Math.cos(a)) + ',' + fx(cy + rr * Math.sin(a))); }\n    gridSvg += `<polygon points=\"${pts.join(' ')}\" fill=\"none\" stroke=\"rgba(255,255,255,0.09)\" stroke-width=\"1\"/>`;\n  }\n  let axisSvg = '';\n  for (let i = 0; i < n; i++) {\n    const a = angleFor(i);\n    axisSvg += `<line x1=\"${cx}\" y1=\"${cy}\" x2=\"${fx(cx + R * Math.cos(a))}\" y2=\"${fx(cy + R * Math.sin(a))}\" stroke=\"rgba(255,255,255,0.09)\" stroke-width=\"1\"/>`;\n  }\n  const dataPts = (values.length ? values : labels.map(() => 0)).map((v, i) => {\n    const a = angleFor(i);\n    const r = (Math.max(0, Math.min(max, parseFloat(v) || 0)) / max) * R;\n    return [fx(cx + r * Math.cos(a)), fx(cy + r * Math.sin(a))];\n  });\n  const dataPolyStr = dataPts.map((p) => p[0] + ',' + p[1]).join(' ');\n  const dots = dataPts.map((p) => `<circle cx=\"${p[0]}\" cy=\"${p[1]}\" r=\"3.5\" fill=\"#c9aa75\"/>`).join('');\n  let labelsSvg = '';\n  for (let i = 0; i < n; i++) {\n    const a = angleFor(i);\n    const x = fx(cx + labelR * Math.cos(a)), y = fx(cy + labelR * Math.sin(a));\n    let anchor = 'middle';\n    if (Math.cos(a) > 0.28) anchor = 'start';\n    else if (Math.cos(a) < -0.28) anchor = 'end';\n    labelsSvg += `<text x=\"${x}\" y=\"${y}\" text-anchor=\"${anchor}\" dominant-baseline=\"middle\" fill=\"#c9aa75\" font-family=\"Helvetica Neue,Arial,sans-serif\" font-size=\"13\" letter-spacing=\"0.3\">${esc(labels[i])}</text>`;\n  }\n  return `<svg width=\"${size}\" height=\"${size}\" viewBox=\"0 0 ${vb} ${vb}\" xmlns=\"http://www.w3.org/2000/svg\" role=\"img\" aria-label=\"Radar de competencias\" style=\"display:block;margin:0 auto;width:100%;height:auto;max-width:${size}px;overflow:visible;\">${gridSvg}${axisSvg}<polygon points=\"${dataPolyStr}\" fill=\"rgba(201,170,117,0.20)\" stroke=\"#c9aa75\" stroke-width=\"2\"/>${dots}${labelsSvg}</svg>`;\n}\n\nfunction neuroBars(pairs) {\n  if (!pairs || !pairs.length) return '<tr><td style=\"font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#8a8a92;\">No registrado en esta sesión.</td></tr>';\n  return pairs.map(([name, pct]) => {\n    pct = Math.max(0, Math.min(100, parseInt(pct || 0, 10)));\n    return `<tr><td style=\"padding:0 0 4px 0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n      <td style=\"font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#cfcfd6;letter-spacing:0.3px;\">${esc(name)}</td>\n      <td align=\"right\" style=\"font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#c9aa75;\">${pct}%</td></tr></table></td></tr>\n      <tr><td style=\"padding:0 0 13px 0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#1e1e22;border-radius:99px;\"><tr>\n      <td style=\"font-size:0;line-height:0;\"><table width=\"${pct}%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n      <td height=\"6\" style=\"background:#c9aa75;border-radius:99px;font-size:0;line-height:0;\">&nbsp;</td></tr></table></td></tr></table></td></tr>`;\n  }).join('');\n}\n\nfunction timeline(items) {\n  if (!items || !items.length) return '<tr><td style=\"font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#8a8a92;\">No registrada.</td></tr>';\n  return items.map(([t, label]) =>\n    `<tr><td width=\"66\" valign=\"top\" style=\"font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#c9aa75;letter-spacing:1px;padding:0 0 16px 0;\">${esc(t)}</td>\n     <td valign=\"top\" style=\"padding:0 0 16px 14px;border-left:2px solid #2a2620;\">\n     <span style=\"font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:20px;color:#cfcfd6;\">${esc(label)}</span></td></tr>`\n  ).join('');\n}\n\nfunction planList(steps) {\n  if (!steps || !steps.length) return '<tr><td style=\"font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#8a8a92;\">—</td></tr>';\n  return steps.map((s, i) =>\n    `<tr><td valign=\"top\" width=\"30\" style=\"font-family:Georgia,serif;font-size:16px;color:#5fbf86;padding:0 0 12px 0;\">${i + 1}.</td>\n     <td valign=\"top\" style=\"font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:21px;color:#cfd8d2;padding:0 0 12px 0;\">${esc(s)}</td></tr>`\n  ).join('');\n}\n\nfunction parsePairs(str) {\n  if (Array.isArray(str)) return str.map(x => Array.isArray(x) ? x : [x.nombre || x.name, x.intensidad != null ? x.intensidad : x.pct]);\n  return String(str || '').split('|').map(x => x.trim()).filter(Boolean).map(x => {\n    const i = x.lastIndexOf(':'); return i < 0 ? null : [x.slice(0, i).trim(), x.slice(i + 1).trim()];\n  }).filter(Boolean);\n}\n\nfunction parseTL(str) {\n  if (Array.isArray(str)) return str.map(x => Array.isArray(x) ? x : [x.t || x.time, x.label || x.event]);\n  return String(str || '').split('|').map(x => x.trim()).filter(Boolean).map(x => {\n    const m = x.match(/^(\\d{1,2}:\\d{2})\\s*(.*)$/); return m ? [m[1], m[2]] : ['', x];\n  });\n}\n\nfunction courseBlock(d) {\n  const gu = d.general_understanding, part = d.participation_level, dln = d.deep_learning_notes;\n  if (gu == null && !part && !dln) return '';\n  return `<tr><td class=\"px\" style=\"padding:30px 44px 6px 44px;border-top:1px solid #1c1c20;\">\n    <div style=\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:3px;color:#7c7c84;text-transform:uppercase;\">Análisis del Aprendizaje</div>\n    <div style=\"height:16px;font-size:0;\">&nbsp;</div>\n    ${gu != null ? `<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:16px;\"><tr>\n      <td style=\"font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#cfcfd6;\">Comprensión general</td>\n      <td align=\"right\" style=\"font-family:Georgia,serif;font-size:20px;color:${gu >= 8 ? '#5fbf86' : gu >= 6 ? '#c9aa75' : '#e89a92'};\">${esc(gu)}/10</td>\n    </tr></table>` : ''}\n    ${part ? `<div style=\"font-family:Helvetica,Arial,sans-serif;font-size:11px;color:#7c7c84;text-transform:uppercase;letter-spacing:1.5px;margin-bottom:6px;\">Participación</div>\n    <div style=\"font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:21px;color:#cfcfd6;margin-bottom:16px;\">${esc(part)}</div>` : ''}\n    ${dln ? `<div style=\"background:#0f0f12;border:1px solid #2a2620;border-radius:8px;padding:16px 18px;margin-top:8px;\">\n      <div style=\"font-family:Helvetica,Arial,sans-serif;font-size:10px;letter-spacing:2px;color:#5a5a62;text-transform:uppercase;margin-bottom:10px;\">🧠 Nota Deep Learning</div>\n      <div style=\"font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#cfcfd6;\">${esc(dln)}</div>\n    </div>` : ''}\n  </td></tr>`;\n}\n\nfunction activityBlock(d, name) {\n  if (!d.session_activity) return '';\n  return `<tr><td class=\"px\" style=\"padding:30px 44px 6px 44px;border-top:1px solid #1c1c20;\">\n    <div style=\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:11px;letter-spacing:3px;color:#7c7c84;text-transform:uppercase;\">Actividad de la sesión</div>\n    <div style=\"height:6px;font-size:0;\">&nbsp;</div>\n    <div style=\"font-family:'Helvetica Neue',Arial,sans-serif;font-size:12px;line-height:18px;color:#5a5a62;letter-spacing:0.2px;\">Lo que ${esc(name)} hizo durante la sesión.</div>\n    <div style=\"height:14px;font-size:0;\">&nbsp;</div>\n    <div style=\"font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:22px;color:#cfcfd6;\">${esc(d.session_activity)}</div>\n  </td></tr>`;\n}\n\n// ── Payload plano de 25 campos + transcript, tal como los deja \"Extract Data — 25 Fields\" ──\nconst d = $input.first().json;\nconst turns = Array.isArray(d.transcript_items) ? d.transcript_items : [];\nconst scorePct = Math.max(0, Math.min(100, Math.round((parseFloat(d.score) || 0) * 10)));\n\nconst order = [\n  ['rapport_score', 'Rapport'], ['postura_score', 'Postura'], ['objeciones_score', 'Objeciones'],\n  ['leer_sala_score', 'Leer la sala'], ['cierre_score', 'Cierre'], ['pnl_score', 'PNL'],\n];\nconst compValues = order.map(([k]) => parseFloat(d[k]) || 0);\n\nconst tokens = {\n  USER_NAME: esc(d.employee_name || 'Asesor'),\n  EMP_NUM: esc(d.employee_id || '—'),\n  DEPARTAMENTO: esc(d.department || 'VTC'),\n  USER_ROLE: esc(d.user_role || 'Asesor'),\n  FECHA: esc(d.session_date || ''),\n  TIPO_ACTIVIDAD: esc(d.scenario_desc || 'Sesión'),\n  DURACION: esc(d.duration_formatted || (Math.floor((d.duration_seconds || 0) / 60) + ' min')),\n  SCORE: esc(d.score != null ? d.score : '—'),\n  SCORE_PCT: scorePct,\n  VEREDICTO: esc(d.performance_summary || '—'),\n  RESUMEN: esc(d.call_summary || '(sin resumen)'),\n  ESCENARIO: esc(d.scenario_desc || '—'),\n  TIPO_CLIENTE: esc(d.disc_type || '—'),\n  IDIOMA: esc(d.language === 'ES' || d.language === 'es' ? 'Español' : (d.language || '—')),\n  MODULOS: esc(d.modules_practiced || d.scenario_desc || '—'),\n  DURACION_EXACTA: esc(d.duration_formatted || ''),\n  SENTIMIENTO: esc((d.sentiment || 'Neutral').replace(/^./, c => c.toUpperCase())),\n  NUM_TURNOS: d.interventions_count || turns.length || 0,\n  RADAR_SVG: radarSvg(order.map(o => o[1]), compValues),\n  NEURO_BARS: neuroBars(parsePairs(d.neuro_principles)),\n  TIMELINE_HTML: timeline(parseTL(d.timeline_items || d.momentos_clave)),\n  FORTALEZAS: esc(d.what_went_well || '—'),\n  AREAS_MEJORA: esc(d.areas_to_improve || '—'),\n  OBJECIONES: esc(d.objections_faced || '—'),\n  ANALISIS_PNL: esc(d.pnl_analysis || '—'),\n  RECOMENDACION: esc(d.next_drill || '—'),\n  CTA_URL: 'https://vtc-capacitacion-deploy.vercel.app/',\n  PLAN_ACCION: planList(Array.isArray(d.action_plan_items) ? d.action_plan_items : String(d.action_plan_items || '').split('|').filter(Boolean)),\n  COURSE_ANALYSIS: courseBlock(d),\n  SESSION_ACTIVITY: activityBlock(d, d.employee_name || 'el asesor'),\n  TRANSCRIPT_CHAT: buildChatTable(turns),\n  AUDIO_URL: d.audio_url || '',\n  REPORT_URL: d.report_url || 'https://vtc-capacitacion-deploy.vercel.app/',\n  PDF_URL: d.pdf_url || (d.report_url ? (d.report_url + '&pdf=1') : ''),\n  CONV_ID: esc(d.session_id || ''),\n};\n\nlet html = TEMPLATE;\nfor (const k in tokens) html = html.split('{{' + k + '}}').join(String(tokens[k]));\n\nconst html_base64 = Buffer.from(html, 'utf-8').toString('base64');\nreturn [{ json: { html, html_base64, data: d } }];\n"
        },
        "id": "849890d3-7c0b-446a-b9f6-5ca690af2b9d",
        "name": "Template HTML Render",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          32,
          -160
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://vtc-capacitacion-deploy.vercel.app/api/pdf",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ html: $json.html, filename: \"reporte_\" + $('Extract Data — 25 Fields').item.json.session_id + \".pdf\" }) }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file",
                "outputPropertyName": "pdf"
              }
            }
          }
        },
        "id": "cc88f526-e4ac-4561-8a52-02f5d1a6a671",
        "name": "Generate PDF",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          224,
          -320
        ],
        "continueOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "GET",
          "url": "={{ $node['Extract Data — 25 Fields'].json.audio_url }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file",
                "outputPropertyName": "audio"
              }
            }
          }
        },
        "id": "6fefdeb1-c59e-4136-a13e-fe88a91113c3",
        "name": "Download Audio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          224,
          64
        ],
        "onError": "continueRegularOutput",
        "continueOnFail": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.resend.com/emails",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer re_EkGtKv29_AXA9TxeW8YZw5prHVtGiXQyz"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  from: $json.from,\n  to: $json.to,\n  cc: $json.cc,\n  subject: $json.subject,\n  html: $json.html,\n  attachments: $json.attachments\n}) }}\n",
          "options": {}
        },
        "id": "f1ebd68e-9f50-4726-8f64-578946a515bc",
        "name": "Send Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          752,
          -160
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://tracker.victor-ia.xyz/api/sessions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer sk_live_victor_ia_tracker_session_api_2026"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify(Object.assign({}, $('Extract Data — 25 Fields').item.json, {\n  pdf_url: $('Extract Data — 25 Fields').item.json.pdf_url,\n  audio_url: $('Extract Data — 25 Fields').item.json.audio_url,\n  report_url: $('Extract Data — 25 Fields').item.json.report_url,\n  pdf_filename: 'reporte_' + $('Extract Data — 25 Fields').item.json.session_id + '.pdf',\n  audio_filename: 'audio_' + $('Extract Data — 25 Fields').item.json.session_id + '.mp3',\n  session_summary: $('Extract Data — 25 Fields').item.json.performance_summary,\n  session_timestamp: new Date().toISOString(),\n  section: 'seguimiento_capacitacion',\n  seguimiento_capacitacion: {\n    employee_id: $('Extract Data — 25 Fields').item.json.employee_id,\n    conversation_id: $('Extract Data — 25 Fields').item.json.session_id,\n    transcript: $('Extract Data — 25 Fields').item.json.transcript_items,\n    audio_url: $('Extract Data — 25 Fields').item.json.audio_url,\n    pdf_url: $('Extract Data — 25 Fields').item.json.pdf_url,\n    report_url: $('Extract Data — 25 Fields').item.json.report_url,\n    duration: $('Extract Data — 25 Fields').item.json.duration_seconds,\n    timestamp: new Date().toISOString()\n  }\n})) }}\n",
          "options": {}
        },
        "id": "91f9fede-9715-4298-aa27-c187880a5cab",
        "name": "Register Session in Tracker",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          928,
          -160
        ]
      },
      {
        "parameters": {
          "functionCode": "return [{\n  json: {\n    success: true,\n    message: 'Sesión registrada correctamente',\n    session_id: $node['Extract Data — 25 Fields'].json.session_id,\n    timestamp: new Date().toISOString()\n  }\n}];"
        },
        "id": "0a436253-9ea0-4b7d-af29-dd5dd496b90d",
        "name": "Success Response",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          1104,
          -160
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "id": "0c9a147f-9bf8-4ce2-a3df-a80d10c82ce4",
        "name": "Merge PDF + Audio",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          416,
          -128
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const item = $input.first();\nconst bin = item.binary || {};\n\nlet pdfBase64 = '';\nlet audioBase64 = '';\n\nif (bin.pdf) {\n  const buf = await this.helpers.getBinaryDataBuffer(0, 'pdf');\n  pdfBase64 = buf.toString('base64');\n}\nif (bin.audio) {\n  const buf = await this.helpers.getBinaryDataBuffer(0, 'audio');\n  audioBase64 = buf.toString('base64');\n}\n\nconst extract = $('Extract Data — 25 Fields').item.json;\nconst template = $('Template HTML Render').item.json;\n\nconst attachments = [\n  {\n    filename: 'reporte_' + extract.session_id + '.pdf',\n    content: pdfBase64,\n    contentType: 'application/pdf'\n  },\n  {\n    filename: 'audio_' + extract.session_id + '.mp3',\n    content: audioBase64,\n    contentType: 'audio/mpeg'\n  }\n].filter(a => a.content && a.content.length > 0);\n\nreturn [{\n  json: {\n    from: 'reportes@victor-ia.xyz',\n    to: ['mesainteligentedemo@gmail.com'],\n    cc: ['eldudemateos@gmail.com', 'chrisoria16@gmail.com'],\n    subject: 'Reporte de Capacitación - ' + extract.employee_name,\n    html: template.html,\n    attachments,\n    pdf_base64: pdfBase64,\n    audio_base64: audioBase64,\n    pdf_generated: Boolean(pdfBase64),\n    audio_downloaded: Boolean(audioBase64)\n  }\n}];"
        },
        "id": "7b422225-17ad-4bd7-9ba3-3edaae775884",
        "name": "Build Email Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          592,
          -128
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Extract Data — 25 Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Data — 25 Fields": {
        "main": [
          [
            {
              "node": "Template HTML Render",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Template HTML Render": {
        "main": [
          [
            {
              "node": "Generate PDF",
              "type": "main",
              "index": 0
            },
            {
              "node": "Download Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate PDF": {
        "main": [
          [
            {
              "node": "Merge PDF + Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Audio": {
        "main": [
          [
            {
              "node": "Merge PDF + Audio",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge PDF + Audio": {
        "main": [
          [
            {
              "node": "Build Email Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Email Payload": {
        "main": [
          [
            {
              "node": "Send Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Email": {
        "main": [
          [
            {
              "node": "Register Session in Tracker",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Register Session in Tracker": {
        "main": [
          [
            {
              "node": "Success Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Pablo Solar  ",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-16T02:31:45.394Z",
        "id": 73,
        "workflowId": "zCtqHc9Pj8ZbtVp1",
        "versionId": "b0300d89-e4d9-4fac-bad9-4f2a99ebf3a6",
        "event": "activated",
        "userId": "e0e172e7-fc36-4782-aafb-9d039ab7986a"
      },
      {
        "createdAt": "2026-07-16T02:31:45.369Z",
        "id": 72,
        "workflowId": "zCtqHc9Pj8ZbtVp1",
        "versionId": "b0300d89-e4d9-4fac-bad9-4f2a99ebf3a6",
        "event": "deactivated",
        "userId": "e0e172e7-fc36-4782-aafb-9d039ab7986a"
      }
    ]
  }
}