_n8n-backups/vtc-elite-reporting_pre-pdf-txt_2026-07-21_084507.json
{
  "updatedAt": "2026-07-21T12:37:46.010Z",
  "createdAt": "2026-07-20T07:41:51.438Z",
  "id": "WEkyHL4lJPEytNoF",
  "name": "VTC Elite Reporting",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/vtc-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -928,
        -528
      ],
      "id": "fe44e71f-2487-4337-858c-d53f3b7d746b",
      "name": "Webhook",
      "webhookId": "526edb82-400f-4560-ae8c-29eed2664e76"
    },
    {
      "parameters": {
        "jsCode": "// El audio se descarga en el nodo HTTP Request \"Fetch Audio HTTP\" (binario\n// en la propiedad \"data\"). Aqui solo se decide si hay audio valido y se\n// reenvia el binario intacto -- el Code node de esta instancia n8n no puede\n// tocar bytes (sin fetch, sin $helpers, sin require de modulos http/https).\n\nconst prep = $node[\"Preparar Datos\"].json;\nconst conversationId = prep.conversation_id;\nconst employeeName = String(prep.employee_name || 'sesion').replace(/[^a-zA-Z0-9_-]+/g, '_');\n\nif (!conversationId || String(conversationId).startsWith('AUTO_')) {\n  return [{ json: { success: false, error: 'No conversation_id (dato fallback/test, no hay audio real que descargar)' } }];\n}\n\nconst item = $input.first();\nif (!item.binary || !item.binary.data) {\n  return [{ json: { success: false, error: 'Fetch Audio HTTP no devolvio binario (revisa ese nodo / conversation_id invalido)' } }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    conversation_id: conversationId,\n    audio_filename: `VTC_${employeeName}_${conversationId}.mp3`\n  },\n  binary: { data: item.binary.data }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -160
      ],
      "id": "32a44586-04fa-4405-b7f7-fcba64765e0b",
      "name": "Download Audio",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Ya no arma un array de contenido base64: el nodo \"Send an Email\" (SMTP)\n// adjunta por NOMBRE DE PROPIEDAD BINARIA (options.attachments = \"data\"),\n// no aceptando un array de objetos {name, content, contentType}. Este nodo\n// solo decide si hay adjunto y reenvia el binario intacto.\n\nconst item = $input.first();\nconst j = item.json || {};\n\nif (!j.success || !item.binary || !item.binary.data) {\n  return [{ json: { success: true, has_attachment: false, audio_file: null } }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    has_attachment: true,\n    audio_file: j.audio_filename\n  },\n  binary: { data: item.binary.data }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -512
      ],
      "id": "c2582048-0465-433f-a780-ef63a8b2a860",
      "name": "Build Attachments"
    },
    {
      "parameters": {
        "fromEmail": "info@victor-ia.com.mx",
        "toEmail": "=eldudemateos@gmail.com, mesainteligentedemo@gmail.com, chrisoria16@gmail.com",
        "subject": "={{ $node[\"Preparar Datos\"].json.employee_name }} | {{ $node[\"Preparar Datos\"].json.fecha_formato }}\n\n\n",
        "html": "={{ $node[\"Generar HTML Email\"].json.html }}\n",
        "options": {
          "ccEmail": "",
          "attachments": "={{ $node[\"Build Attachments\"].json.has_attachment ? \"data\" : \"\" }}"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        112,
        -160
      ],
      "id": "057d3fec-54f5-4947-bcad-cc7d0b952f4f",
      "name": "Send an Email",
      "webhookId": "1c39d9bf-6d1c-4147-9d49-3e057321e44b",
      "credentials": {
        "smtp": {
          "id": "MmzqSvtvMqAzB0T8",
          "name": "Hostinger SMTP VTC"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        352,
        -288
      ],
      "id": "21d63616-5169-4aad-92e8-e2f45cca3f11",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n// BUG ORIGINAL: \"const data = $input.first(); ... data.body\" leia el wrapper\n// del item (que NO tiene .body), nunca el payload real -> todo caia en los\n// valores por defecto (incluido conversation_id -> \"AUTO_...\") sin importar\n// lo que mandara el webhook de ElevenLabs. El payload real vive en item.json.body.\nconst rawBody = (item.json && item.json.body !== undefined) ? item.json.body : item.json;\nconst payload = typeof rawBody === \"string\" ? JSON.parse(rawBody) : rawBody;\n\n// Soporta el webhook post-call REAL de ElevenLabs (analysis.data_collection_results\n// + metadata + transcript) ademas del payload plano simple (test / integracion\n// directa). Nunca se inventan datos: si un campo no llega, se usa un fallback\n// generico marcado como tal via los valores por defecto de mas abajo.\nconst analysis = payload.analysis || {};\nconst dc = analysis.data_collection_results || {};\nconst meta = payload.metadata || {};\n\nfunction dcv(k) {\n  const o = dc[k] != null ? dc[k] : (dc[k + \"  \"] != null ? dc[k + \"  \"] : dc[k + \" \"]);\n  if (o == null) return undefined;\n  return (typeof o === \"object\" && \"value\" in o) ? o.value : o;\n}\nfunction pick() {\n  for (let i = 0; i < arguments.length; i++) {\n    const v = arguments[i];\n    if (v !== undefined && v !== null && v !== \"\") return v;\n  }\n  return undefined;\n}\n\nconst now = new Date();\nconst dia = String(now.getDate()).padStart(2, \"0\");\nconst mes = String(now.getMonth() + 1).padStart(2, \"0\");\nconst anio = now.getFullYear();\n\nconsole.log(\"DEBUG - Webhook payload:\", JSON.stringify(payload, null, 2));\n\n// --- Identidad (FIX: antes solo se calculaba employee_name; nombre/empleado_id/\n// puesto no existian en la salida, por lo que \"Generar HTML Email\" SIEMPRE\n// mostraba los valores de ejemplo fijos de su plantilla, sin importar el payload) ---\nconst nombre = pick(payload.nombre, dcv(\"user_name\"), payload.employee_name) || \"Usuario\";\nconst empleadoId = pick(payload.empleado_id, payload.employee_number, dcv(\"employee_number\"), payload.emp_id) || \"0000\";\nconst puesto = pick(payload.puesto, dcv(\"user_role\"), payload.role) || \"Asesor de Ventas\";\nconst departamento = pick(payload.departamento, payload.dept) || \"Dirección de Ventas\";\nfunction normalizaIdioma(v) {\n  const s = String(v || \"\").toLowerCase();\n  if (!s) return undefined;\n  if (s.indexOf(\"esp\") === 0 || s === \"es\") return \"Español\";\n  if (s.indexOf(\"ing\") === 0 || s.indexOf(\"en\") === 0) return \"Inglés\";\n  return v;\n}\nconst idioma = normalizaIdioma(pick(payload.idioma, dcv(\"idioma\"))) ||\n  ((meta.main_language || \"\").toLowerCase().indexOf(\"en\") === 0 ? \"Inglés\" : \"Español\");\n\nconst durSecsFromMeta = meta.call_duration_secs;\nconst duracionMinutos = payload.duracion_minutos || (durSecsFromMeta ? Math.round(durSecsFromMeta / 60) : 28);\nconst durSecs = durSecsFromMeta || (payload.duracion_minutos ? payload.duracion_minutos * 60 : duracionMinutos * 60);\nconst duracionTexto = payload.duracion_texto || (durSecs ? (Math.floor(durSecs / 60) + \":\" + String(Math.round(durSecs % 60)).padStart(2, \"0\")) : \"28:00\");\n\nconst scoreTotal = Number(pick(payload.scoreTotal, payload.score, dcv(\"desempeno_score\"))) || 8.7;\nconst potencialMejora = payload.potencial_mejora != null ? payload.potencial_mejora : Math.max(0, Math.round((10 - scoreTotal) * 13));\n\nreturn {\n    success: true,\n    conversation_id: payload.conversation_id || \"AUTO_\" + Date.now(),\n\n    // Identidad\n    employee_name: nombre,\n    nombre: nombre,\n    empleado_id: empleadoId,\n    puesto: puesto,\n    departamento: departamento,\n    idioma: idioma,\n\n    // Métricas (0-10)\n    score: payload.scoreTotal || payload.score || 0,\n    scoreTotal: scoreTotal,\n    rapport: Number(payload.rapport) || 8.5,\n    pnl: Number(payload.pnl) || 8.7,\n    postura: Number(payload.postura) || 7.7,\n    objeciones: Number(payload.objeciones) || 8.2,\n    cierre: Number(payload.cierre) || 7.0,\n    escucha: Number(payload.escucha) || 9.0,\n    potencial_mejora: potencialMejora,\n\n    // Narrativa\n    resumen: pick(payload.resumen, analysis.transcript_summary, dcv(\"recomendacion_siguiente\")) || \"Sesión completada.\",\n    fortalezas: pick(payload.fortalezas, dcv(\"fortalezas\")) || \"Buena disposición y actitud durante la práctica.\",\n    areas_mejora: pick(payload.areas_mejora, dcv(\"areas_mejora\")) || \"Reforzar los fundamentos del módulo practicado.\",\n    analisis_pnl: payload.analisis_pnl || \"Sin patrones PNL destacados en esta sesión.\",\n    recomendacion_siguiente: pick(payload.recomendacion_siguiente, dcv(\"recomendacion_siguiente\")) || \"Repasar el módulo con menor puntaje.\",\n\n    // Escenario / módulos\n    escenario: pick(payload.escenario, dcv(\"escenario_roleplay\"), dcv(\"tipo_actividad\")) || \"Sesión de coaching\",\n    tipo_actividad: pick(payload.tipo_actividad, dcv(\"tipo_actividad\")) || \"Roleplay\",\n    modulos_practicados: pick(payload.modulos_practicados, dcv(\"modulos_practicados\")) || \"\",\n\n    // Fecha / hora / duración\n    fecha_formato: payload.fecha_formato || `${dia}-${mes}-${anio}`,\n    hora_inicio: payload.hora_inicio || \"14:35\",\n    hora_fin: payload.hora_fin || \"15:03\",\n    duracion_minutos: duracionMinutos,\n    duracion_texto: duracionTexto,\n    sesion_numero: payload.sesion_numero || 1,\n\n    // Plan de acción (gerente)\n    accion1: payload.accion1 || \"Reducir Interrupciones\",\n    accion1_desc: payload.accion1_desc || \"Pausas prolongadas entre argumentos.\",\n    accion2: payload.accion2 || \"Memorizar el Pitch\",\n    accion2_desc: payload.accion2_desc || \"Dudar en el pitch resta credibilidad.\",\n    accion3: payload.accion3 || \"Dominar el Cierre\",\n    accion3_desc: payload.accion3_desc || \"Falta de confianza al cerrar.\",\n\n    // Frecuencia de temas (escala 0-10)\n    precio: payload.precio != null ? payload.precio : 8,\n    incentivos: payload.incentivos != null ? payload.incentivos : 6,\n    tiempo: payload.tiempo != null ? payload.tiempo : 10,\n    indecision: payload.indecision != null ? payload.indecision : 4,\n\n    // Distribución de tiempo por actividad (%, deben sumar ~100)\n    pct_pitch: payload.pct_pitch != null ? payload.pct_pitch : 50,\n    pct_warmup: payload.pct_warmup != null ? payload.pct_warmup : 20,\n    pct_objeciones: payload.pct_objeciones != null ? payload.pct_objeciones : 15,\n    pct_cierre: payload.pct_cierre != null ? payload.pct_cierre : 15,\n\n    // Principios neurocientíficos (%)\n    pct_patrones: payload.pct_patrones != null ? payload.pct_patrones : 50,\n    pct_fraseologia: payload.pct_fraseologia != null ? payload.pct_fraseologia : 50,\n    pct_contexto: payload.pct_contexto != null ? payload.pct_contexto : 50,\n\n    // Datos ricos OPCIONALES — solo se muestran en el reporte si vienen reales\n    // (nunca se inventa contenido de ejemplo para una sesión real).\n    transcript: Array.isArray(payload.transcript) ? payload.transcript : null,\n    historial: Array.isArray(payload.historial) ? payload.historial : null,\n    quiz: Array.isArray(payload.quiz) ? payload.quiz : null,\n    objeciones_detalle: Array.isArray(payload.objeciones_detalle) ? payload.objeciones_detalle : null,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -176
      ],
      "id": "bb843f73-144d-44db-a96a-3fc25b2da37e",
      "name": "Preparar Datos"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// Nodo n8n \"Generar HTML Email\" — VTC Elite Reporting\n// Template premium email-safe (tablas, MSO, dark #EAB308) basado en el diseño\n// aprobado. Recibe la salida de \"Preparar Datos\" (UN SOLO item — se usa\n// $input.first().json, no $input.all(), que era el bug que dejaba TODO el\n// reporte con los valores de ejemplo fijos sin importar el payload real).\n// ============================================================================\n\nfunction esc(s) {\n  return (s == null ? \"\" : String(s))\n    .replace(/&/g, \"&amp;\").replace(/</g, \"&lt;\").replace(/>/g, \"&gt;\");\n}\n\nfunction num(v, def) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : def;\n}\n\nconst MESES = [\"ENE\",\"FEB\",\"MAR\",\"ABR\",\"MAY\",\"JUN\",\"JUL\",\"AGO\",\"SEP\",\"OCT\",\"NOV\",\"DIC\"];\nfunction fechaDisplay(fecha_formato) {\n  // fecha_formato viene como DD-MM-YYYY\n  const m = /^(\\d{2})-(\\d{2})-(\\d{4})$/.exec(fecha_formato || \"\");\n  if (!m) return esc(fecha_formato || \"\");\n  const [, d, mo, y] = m;\n  const idx = parseInt(mo, 10) - 1;\n  const mesTxt = MESES[idx] || mo;\n  return `${d} ${mesTxt} ${y}`;\n}\n\nfunction scoreStr(n) {\n  // 8.7 -> \"8,7\" (formato ES)\n  return (Math.round(n * 10) / 10).toFixed(1).replace(\".\", \",\");\n}\n\nfunction durTxt(duracion_texto, duracion_minutos) {\n  if (duracion_texto && /^\\d+:\\d{2}$/.test(duracion_texto)) {\n    const [mm, ss] = duracion_texto.split(\":\");\n    return `${mm} min ${ss} seg`;\n  }\n  return `${duracion_minutos || 0} min`;\n}\n\n// ---- Radar hexagonal (6 ejes) --------------------------------------------\n// Orden y ángulos calcados del diseño aprobado: Rapport arriba (-90°), PNL\n// (-30°), Postura (30°), Objeciones abajo (90°), Cierre (150°), Escucha (210°).\nconst RADAR_AXES = [\n  { key: \"rapport\",    label: \"Rapport\",    angle: -90 },\n  { key: \"pnl\",         label: \"PNL\",        angle: -30 },\n  { key: \"postura\",     label: \"Postura\",    angle: 30 },\n  { key: \"objeciones\",  label: \"Objeciones\", angle: 90 },\n  { key: \"cierre\",      label: \"Cierre\",     angle: 150 },\n  { key: \"escucha\",     label: \"Escucha\",    angle: 210 },\n];\nconst RADAR_CX = 234, RADAR_CY = 234, RADAR_R = 110;\n\nfunction radarPoint(score, angleDeg) {\n  const a = (angleDeg * Math.PI) / 180;\n  const r = RADAR_R * (Math.max(0, Math.min(10, score)) / 10);\n  return { x: +(RADAR_CX + r * Math.cos(a)).toFixed(2), y: +(RADAR_CY + r * Math.sin(a)).toFixed(2) };\n}\n\nfunction buildRadarSVG(d) {\n  const pts = RADAR_AXES.map(ax => radarPoint(num(d[ax.key], 7), ax.angle));\n  const polygonPts = pts.map(p => `${p.x},${p.y}`).join(\" \");\n  const circles = pts.map(p => `<circle cx=\"${p.x}\" cy=\"${p.y}\" r=\"3.5\" fill=\"#EAB308\"/>`).join(\"\");\n\n  // Grid de fondo (estático — 5 anillos hexagonales concéntricos + ejes)\n  const ring = (frac) => RADAR_AXES.map(ax => {\n    const a = (ax.angle * Math.PI) / 180;\n    const r = RADAR_R * frac;\n    return `${(RADAR_CX + r * Math.cos(a)).toFixed(2)},${(RADAR_CY + r * Math.sin(a)).toFixed(2)}`;\n  }).join(\" \");\n  const grid = [0.2, 0.4, 0.6, 0.8, 1.0].map(frac =>\n    `<polygon points=\"${ring(frac)}\" fill=\"none\" stroke=\"rgba(255,255,255,0.09)\" stroke-width=\"1\"/>`\n  ).join(\"\");\n  const axisLines = RADAR_AXES.map(ax => {\n    const a = (ax.angle * Math.PI) / 180;\n    const x = (RADAR_CX + RADAR_R * Math.cos(a)).toFixed(2);\n    const y = (RADAR_CY + RADAR_R * Math.sin(a)).toFixed(2);\n    return `<line x1=\"${RADAR_CX}\" y1=\"${RADAR_CY}\" x2=\"${x}\" y2=\"${y}\" stroke=\"rgba(255,255,255,0.09)\" stroke-width=\"1\"/>`;\n  }).join(\"\");\n  const labels = RADAR_AXES.map(ax => {\n    const a = (ax.angle * Math.PI) / 180;\n    const lr = RADAR_R + 47;\n    const x = (RADAR_CX + lr * Math.cos(a)).toFixed(2);\n    const y = (RADAR_CY + lr * Math.sin(a)).toFixed(2);\n    let anchor = \"middle\";\n    if (Math.cos(a) > 0.35) anchor = \"start\";\n    else if (Math.cos(a) < -0.35) anchor = \"end\";\n    return `<text x=\"${x}\" y=\"${y}\" text-anchor=\"${anchor}\" dominant-baseline=\"middle\" fill=\"#EAB308\" font-family=\"Inter,sans-serif\" font-size=\"13\" letter-spacing=\"0.3\">${ax.label}</text>`;\n  }).join(\"\");\n\n  return `<svg width=\"360\" height=\"360\" viewBox=\"0 0 468 468\" xmlns=\"http://www.w3.org/2000/svg\" role=\"img\" aria-label=\"Radar de competencias\" style=\"display:block;margin:0 auto;width:100%;height:auto;max-width:360px;overflow:visible;\">${grid}${axisLines}<polygon points=\"${polygonPts}\" fill=\"rgba(234,179,8,0.20)\" stroke=\"#EAB308\" stroke-width=\"2\"/>${circles}${labels}</svg>`;\n}\n\n// ---- Pie de distribución de tiempo (4 categorías) -------------------------\nfunction buildPieSVG(d) {\n  const segs = [\n    { label: \"Pitch\",      pct: num(d.pct_pitch, 50),      color: \"#EAB308\" },\n    { label: \"Warm-up\",    pct: num(d.pct_warmup, 20),     color: \"#5cc08a\" },\n    { label: \"Objeciones\", pct: num(d.pct_objeciones, 15), color: \"#b8860b\" },\n    { label: \"Cierre\",     pct: num(d.pct_cierre, 15),     color: \"#9b8cff\" },\n  ];\n  const total = segs.reduce((s, x) => s + x.pct, 0) || 100;\n  const R = 62, C = 2 * Math.PI * R;\n  let acc = 0;\n  const circles = segs.map(s => {\n    const frac = s.pct / total;\n    const len = frac * C;\n    const dash = `${len.toFixed(3)} ${(C - len).toFixed(3)}`;\n    const offset = -acc;\n    acc += len;\n    return `<circle cx=\"120\" cy=\"95\" r=\"${R}\" fill=\"none\" stroke=\"${s.color}\" stroke-width=\"20\" stroke-dasharray=\"${dash}\" stroke-dashoffset=\"${offset.toFixed(3)}\" transform=\"rotate(-90 120 95)\"/>`;\n  }).join(\"\");\n  const durMin = num(d.duracion_minutos, 28);\n  const legend = segs.map((s, i) => {\n    const y = 192 + i * 16;\n    const mins = Math.round((s.pct / total) * durMin);\n    return `<circle cx=\"12\" cy=\"${y}\" r=\"4\" fill=\"${s.color}\"/><text x=\"24\" y=\"${y + 4}\" font-family=\"Inter,sans-serif\" font-size=\"11\" fill=\"#E5E5E5\">${s.label} <tspan fill=\"#737373\">— ${Math.round(s.pct)}% (${mins} min)</tspan></text>`;\n  }).join(\"\");\n  return `<svg width=\"240\" height=\"256\" viewBox=\"0 0 240 256\" xmlns=\"http://www.w3.org/2000/svg\" role=\"img\" aria-label=\"Distribución de tiempo por actividad\" style=\"display:block;margin:0 auto;\">\n    <circle cx=\"120\" cy=\"95\" r=\"${R}\" fill=\"none\" stroke=\"#262626\" stroke-width=\"20\"/>\n    ${circles}\n    <text x=\"120\" y=\"91\" text-anchor=\"middle\" fill=\"#FFFFFF\" font-family=\"Montserrat,sans-serif\" font-weight=\"700\" font-size=\"22\">${durTxt(d.duracion_texto, d.duracion_minutos)}</text>\n    <text x=\"120\" y=\"107\" text-anchor=\"middle\" fill=\"#737373\" font-family=\"Inter,sans-serif\" font-size=\"9\" letter-spacing=\"2\">TOTAL</text>\n    ${legend}\n  </svg>`;\n}\n\n// ---- Barra genérica (frecuencia de temas / principios neuro) -------------\nfunction barRow(label, pct, colorHex) {\n  const w = Math.max(0, Math.min(100, Math.round(pct)));\n  return `<tr><td style=\"padding:0 0 4px 0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n    <td style=\"font-family:Inter,sans-serif;font-size:13px;color:#E5E5E5;letter-spacing:0.3px;\">${esc(label)}</td>\n    <td align=\"right\" style=\"font-family:Inter,sans-serif;font-size:12px;color:#EAB308;font-weight:600;\">${w}%</td></tr></table></td></tr>\n    <tr><td style=\"padding:0 0 13px 0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#262626;border-radius:99px;\"><tr>\n    <td style=\"font-size:0;line-height:0;\"><table width=\"${w}%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n    <td height=\"6\" style=\"background:${colorHex};border-radius:99px;font-size:0;line-height:0;\">&nbsp;</td></tr></table></td></tr></table></td></tr>`;\n}\n\nfunction scoreBarRow(label, score10, colorHex) {\n  const pct = Math.max(0, Math.min(100, Math.round(num(score10, 0) * 10)));\n  return `<tr><td style=\"padding:0 0 8px 0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n    <td style=\"font-family:Inter,sans-serif;font-size:13px;color:#cfcfd6;\">${esc(label)}</td>\n    <td align=\"right\" style=\"font-family:Montserrat,sans-serif;font-weight:700;font-size:15px;color:${colorHex};\">${scoreStr(num(score10,0))}/10</td></tr></table></td></tr>`;\n}\n\n// ---- Bloques opcionales: solo se pintan si hay datos REALES --------------\n// Regla de precisión (ver feedback_research_accuracy): nunca se inventan\n// transcripciones, quiz u objeciones de ejemplo para una sesión real. Si el\n// payload no trae esos arreglos, la sección se omite en vez de mostrar\n// contenido ficticio.\n\nfunction buildHistorialRows(d) {\n  const hist = Array.isArray(d.historial) ? d.historial.filter(h => h && h.fecha) : [];\n  const rows = [...hist];\n  rows.push({ fecha: fechaDisplayShort(d.fecha_formato), sesion_num: d.sesion_numero, score: d.scoreTotal, current: true });\n  const maxScore = 10;\n  return rows.map(h => {\n    const pct = Math.max(4, Math.round((num(h.score, 0) / maxScore) * 100));\n    const barColor = h.current ? \"#EAB308\" : \"#8a7530\";\n    const txtColor = h.current ? \"#FFFFFF\" : \"#a3a3a3\";\n    const scoreColor = h.current ? \"#EAB308\" : \"#a3a3a3\";\n    const weight = h.current ? \"font-weight:600;\" : \"\";\n    return `<tr><td style=\"padding:0 0 10px 0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n      <td width=\"150\" style=\"font-family:Inter,sans-serif;font-size:12px;color:${txtColor};${weight}\">${esc(h.fecha)}${h.sesion_num ? \" · Sesión \" + esc(h.sesion_num) : \"\"}</td>\n      <td style=\"padding:0 12px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#262626;border-radius:99px;\"><tr><td style=\"font-size:0;line-height:0;\"><table width=\"${pct}%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td height=\"6\" style=\"background:${barColor};border-radius:99px;font-size:0;line-height:0;\">&nbsp;</td></tr></table></td></tr></table></td>\n      <td width=\"46\" align=\"right\" style=\"font-family:Montserrat,sans-serif;font-weight:700;font-size:14px;color:${scoreColor};\">${scoreStr(num(h.score,0))}</td>\n      </tr></table></td></tr>`;\n  }).join(\"\");\n}\nfunction fechaDisplayShort(fecha_formato) {\n  const m = /^(\\d{2})-(\\d{2})-(\\d{4})$/.exec(fecha_formato || \"\");\n  if (!m) return esc(fecha_formato || \"\");\n  return `${m[1]}-${m[2]}-${m[3]}`;\n}\n\nfunction buildTranscriptHTML(d) {\n  const turns = Array.isArray(d.transcript) ? d.transcript : [];\n  if (!turns.length) {\n    return `<div style=\"font-family:Inter,sans-serif;font-size:13px;line-height:20px;color:#6a6a6a;padding:8px 0;\">Transcripción no disponible para esta sesión.</div>`;\n  }\n  return turns.map(t => {\n    const isVictor = String(t.role || t.speaker || \"\").toLowerCase().indexOf(\"victor\") !== -1 || String(t.role||\"\").toLowerCase()===\"agent\";\n    const align = isVictor ? \"left\" : \"right\";\n    const bg = isVictor ? \"#161410\" : \"#14131a\";\n    const border = isVictor ? \"#2a2620\" : \"#2a2740\";\n    const tagColor = isVictor ? \"#EAB308\" : \"#9b8cff\";\n    const tag = isVictor ? \"VÍCTOR\" : \"ASESOR\";\n    let timeRaw = t.time || t.timestamp;\n    if (!timeRaw && t.time_in_call_secs != null) {\n      const s = Number(t.time_in_call_secs) || 0;\n      timeRaw = `+${Math.floor(s / 60)}:${String(Math.round(s % 60)).padStart(2, \"0\")}`;\n    }\n    const time = esc(timeRaw || \"\");\n    const msg = esc(t.text || t.message || \"\");\n    return `<tr><td style=\"padding:0 0 12px 0;\">\n      <table role=\"presentation\" width=\"82%\" align=\"${align}\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:${bg};border:1px solid ${border};border-radius:14px;\">\n        <tr><td style=\"padding:13px 17px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n          <td style=\"font-family:Inter,sans-serif;font-size:10px;letter-spacing:2px;color:${tagColor};font-weight:700;\">${tag}</td>\n          <td align=\"right\" style=\"font-family:Inter,sans-serif;font-size:10px;color:#5a5a62;letter-spacing:0.5px;\">${time}</td>\n        </tr></table><div style=\"height:6px;font-size:0;\">&nbsp;</div><div style=\"font-family:Inter,sans-serif;font-size:14px;line-height:22px;color:#dcdce2;\">${msg}</div></td></tr>\n      </table><div style=\"clear:both;font-size:0;line-height:0;\">&nbsp;</div>\n    </td></tr>`;\n  }).join(\"\");\n}\n\nfunction buildQuizHTML(d) {\n  const quiz = Array.isArray(d.quiz) ? d.quiz : [];\n  if (!quiz.length) return null;\n  return quiz.map((q, i) => {\n    const correct = !!q.correcto;\n    const badge = correct\n      ? `<span style=\"display:inline-block;font-family:Inter,sans-serif;font-size:10px;letter-spacing:1.5px;font-weight:700;text-transform:uppercase;padding:5px 12px;border-radius:99px;background:rgba(92,192,138,0.15);color:#5cc08a;\">✓ Correcto</span>`\n      : `<span style=\"display:inline-block;font-family:Inter,sans-serif;font-size:10px;letter-spacing:1.5px;font-weight:700;text-transform:uppercase;padding:5px 12px;border-radius:99px;background:rgba(224,131,111,0.15);color:#e0836f;\">✗ Incorrecto</span>`;\n  return `<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#171717;border:1px solid #262626;border-radius:12px;margin-bottom:14px;\"><tr><td style=\"padding:20px 22px;\">\n      <div style=\"font-family:Inter,sans-serif;font-size:14px;line-height:21px;color:#FFFFFF;font-weight:600;\">${i + 1}. ${esc(q.pregunta)}</div>\n      <div style=\"height:10px;font-size:0;\">&nbsp;</div>\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n        <td style=\"font-family:Inter,sans-serif;font-size:13px;color:#a3a3a3;padding:0 0 4px 0;\">Tu respuesta: <span style=\"color:#E5E5E5;\">${esc(q.respuesta)}</span></td>\n      </tr><tr>\n        <td style=\"font-family:Inter,sans-serif;font-size:13px;color:#a3a3a3;padding:0 0 10px 0;\">Respuesta correcta: <span style=\"color:#5cc08a;\">${esc(q.correcta)}</span></td>\n      </tr></table>\n      ${badge}\n      ${q.nota ? `<div style=\"height:10px;font-size:0;\">&nbsp;</div><div style=\"font-family:Inter,sans-serif;font-size:13px;line-height:20px;color:#a3a3a3;\">${esc(q.nota)}</div>` : \"\"}\n    </td></tr></table>`;\n  }).join(\"\");\n}\n\nfunction buildObjecionesHTML(d) {\n  const objs = Array.isArray(d.objeciones_detalle) ? d.objeciones_detalle : [];\n  if (!objs.length) return null;\n  const items = objs.map((o, i) => `<strong>${i + 1}. \"${esc(o.objecion)}\"</strong> → <span style=\"color:#a3a3a3;\">Respondiste:</span> \"${esc(o.respuesta)}\"`).join(\"<br><br>\");\n  return items;\n}\n\nfunction bulletize(text) {\n  // Si el texto trae separador \" | \" lo convierte en bullets negrita; si no,\n  // lo deja como un párrafo simple (nunca inventa contenido).\n  if (!text) return \"\";\n  const parts = String(text).split(\"|\").map(s => s.trim()).filter(Boolean);\n  if (parts.length <= 1) return esc(text);\n  return parts.map(p => `• ${esc(p)}`).join(\"<br>\");\n}\n\nfunction buildActivityRows(d) {\n  const mods = String(d.modulos_practicados || \"\").split(\",\").map(s => s.trim()).filter(Boolean);\n  if (!mods.length) return \"\";\n  return mods.map(m => `<tr><td valign=\"top\" width=\"26\" style=\"font-family:Inter,sans-serif;font-size:14px;color:#5cc08a;padding:0 0 10px 0;\">✓</td>\n    <td valign=\"top\" style=\"font-family:Inter,sans-serif;font-size:14px;line-height:20px;color:#E5E5E5;padding:0 0 10px 0;\">${esc(m)}</td></tr>`).join(\"\");\n}\n\n// ============================================================================\nfunction generateVTCReport(d) {\n  const scoreN = num(d.scoreTotal, 8.5);\n  const scorePct = Math.max(0, Math.min(100, Math.round(scoreN * 10)));\n  const fecha = fechaDisplay(d.fecha_formato);\n  const nombreCorto = String(d.nombre || d.employee_name || \"Usuario\").split(\" \")[0];\n\n  // Insight dinámico top/bottom competencia\n  const comp = RADAR_AXES.map(ax => ({ label: ax.label.toLowerCase(), v: num(d[ax.key], 0) }));\n  const sorted = [...comp].sort((a, b) => b.v - a.v);\n  const top2 = sorted.slice(0, 2).map(c => c.label).join(\" y \");\n  const bottom = sorted[sorted.length - 1].label;\n  const insight = `${nombreCorto} domina ${top2}; ${bottom} es la última pieza para la excelencia.`;\n\n  const objecionesHTML = buildObjecionesHTML(d);\n  const quizHTML = buildQuizHTML(d);\n  const durMin = num(d.duracion_minutos, 0);\n\n  const audioHref = d.conversation_id && !String(d.conversation_id).startsWith(\"AUTO_\")\n    ? `https://vtc-capacitacion-deploy.vercel.app/api/audio?conv=${encodeURIComponent(d.conversation_id)}`\n    : \"https://victor-ia-training.vercel.app/\";\n\n  const html = `<!DOCTYPE html>\n<html lang=\"es\" xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\">\n<head>\n<meta charset=\"utf-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n<meta name=\"x-apple-disable-message-reformatting\">\n<meta name=\"color-scheme\" content=\"dark\"><meta name=\"supported-color-schemes\" content=\"dark\">\n<title>Reporte de entrenamiento · Víctor · VTC</title>\n<!--[if mso]><noscript><xml><o:OfficeDocumentSettings><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml></noscript><![endif]-->\n<link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Inter:wght@400;500;600&display=swap\" rel=\"stylesheet\">\n<style>\n  body,table,td,a{ -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }\n  table,td{ mso-table-lspace:0; mso-table-rspace:0; }\n  img{ -ms-interpolation-mode:bicubic; border:0; outline:none; text-decoration:none; display:block; }\n  body{ margin:0; padding:0; width:100%!important; background:#0A0A0A; }\n  a{ color:#EAB308; text-decoration:none; }\n  .card{ background:#171717; border:1px solid #262626; border-radius:12px; }\n  .card-shadow{ box-shadow:0 4px 6px -1px rgba(0,0,0,0.5); }\n  .btn-gold{ background:#EAB308; color:#000000; font-family:Montserrat,sans-serif; font-weight:700; border-radius:12px; }\n  .heading{ font-family:Montserrat,sans-serif; font-weight:700; text-transform:uppercase; letter-spacing:0.1em; }\n  .body-text{ font-family:Inter,sans-serif; font-weight:400; }\n  @media only screen and (max-width:620px){\n    .container{ width:100%!important; }\n    .px{ padding-left:24px!important; padding-right:24px!important; }\n    .stack{ display:block!important; width:100%!important; }\n    .stack-pad{ padding:0 0 14px 0!important; }\n    .h1{ font-size:26px!important; line-height:32px!important; }\n    .score-num{ font-size:64px!important; }\n    .metric-num{ font-size:18px!important; }\n    .radar-img{ width:280px!important; height:280px!important; }\n    .chart-half{ width:100%!important; }\n  }\n</style>\n</head>\n<body style=\"margin:0;padding:0;background:#0A0A0A;\">\n<div style=\"display:none;max-height:0;overflow:hidden;opacity:0;font-size:1px;line-height:1px;color:#0A0A0A;\">\n  ${esc(d.nombre)}, tu sesión con Víctor: ${scoreStr(scoreN)}/10. Análisis completo, competencias, PNL y tu próximo drill.\n</div>\n\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#0A0A0A;\">\n<tr><td align=\"center\" style=\"padding:32px 16px;\">\n\n<table role=\"presentation\" class=\"container\" width=\"640\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"width:640px;max-width:640px;background:#171717;border:1px solid #262626;border-radius:12px;overflow:hidden;box-shadow:0 4px 6px -1px rgba(0,0,0,0.5);\">\n\n  <!-- HEADER -->\n  <tr><td class=\"px\" style=\"padding:38px 44px 26px 44px;border-bottom:1px solid #262626;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n      <td align=\"left\" class=\"heading\" style=\"font-size:12px;letter-spacing:3.5px;color:#EAB308;font-weight:600;\">VICTORIOUS&nbsp;TRAVELERS&nbsp;CLUB&nbsp;&nbsp;|&nbsp;&nbsp;${fecha}</td>\n    </tr></table>\n    <div style=\"height:18px;font-size:0;\">&nbsp;</div>\n    <div class=\"h1 heading\" style=\"font-size:32px;line-height:38px;color:#FFFFFF;letter-spacing:-0.3px;font-weight:800;\">Reporte de entrenamiento</div>\n    <div style=\"height:8px;font-size:0;\">&nbsp;</div>\n    <div class=\"body-text\" style=\"font-family:Inter,sans-serif;font-size:12px;line-height:17px;color:#A3A3A3;letter-spacing:0.2px;\">Idioma de la sesión: ${esc(d.idioma)}&nbsp;&nbsp;|&nbsp;&nbsp;Duración: ${durTxt(d.duracion_texto, d.duracion_minutos)}</div>\n    <div style=\"height:8px;font-size:0;\">&nbsp;</div>\n    <div class=\"body-text\" style=\"font-size:16px;line-height:23px;color:#A3A3A3;letter-spacing:0.2px;\">Sesión de Víctor con <strong style=\"color:#FFFFFF;font-weight:700;background:rgba(234,179,8,0.12);padding:2px 8px;border-radius:6px;\">${esc(d.nombre)}</strong> · ${esc(d.escenario || \"Entrenamiento VTC\")} · ${durTxt(d.duracion_texto, d.duracion_minutos)} · ${esc(d.hora_inicio)}–${esc(d.hora_fin)}</div>\n    <div style=\"height:12px;font-size:0;\">&nbsp;</div>\n    <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n      <td class=\"heading\" style=\"font-size:11px;letter-spacing:1px;color:#EAB308;background:#1a1410;border:1px solid #262626;border-radius:12px;padding:8px 14px;font-weight:600;\">EMPLEADO&nbsp;Nº&nbsp;${esc(d.empleado_id)}</td>\n      <td style=\"width:8px;\">&nbsp;</td>\n      <td class=\"heading body-text\" style=\"font-size:11px;letter-spacing:1px;color:#A3A3A3;background:#1a1a1a;border:1px solid #262626;border-radius:12px;padding:8px 14px;font-weight:500;\">${esc(d.departamento || \"Dirección de Ventas\")}</td>\n      <td style=\"width:8px;\">&nbsp;</td>\n      <td class=\"heading body-text\" style=\"font-size:11px;letter-spacing:1px;color:#A3A3A3;background:#1a1a1a;border:1px solid #262626;border-radius:12px;padding:8px 14px;font-weight:500;\">${esc(d.puesto || \"Asesor de Ventas\")}</td>\n    </tr></table>\n  </td></tr>\n\n  <!-- SCORE HERO -->\n  <tr><td class=\"px\" style=\"padding:36px 44px 28px 44px;\" align=\"center\">\n    <div class=\"heading\" style=\"font-size:11px;letter-spacing:3px;color:#A3A3A3;font-weight:600;\">Desempeño global</div>\n    <div style=\"height:6px;font-size:0;\">&nbsp;</div>\n    <div class=\"score-num heading\" style=\"font-size:84px;line-height:88px;color:#EAB308;letter-spacing:-2px;font-weight:800;\">${scoreStr(scoreN)}<span style=\"font-size:30px;color:#A3A3A3;letter-spacing:0;\">/10</span></div>\n    <div style=\"height:14px;font-size:0;\">&nbsp;</div>\n    <table role=\"presentation\" width=\"320\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:320px;\"><tr>\n      <td style=\"background:#262626;border-radius:99px;font-size:0;line-height:0;\">\n        <table role=\"presentation\" width=\"${scorePct}%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td height=\"6\" style=\"background:#EAB308;border-radius:99px;font-size:0;line-height:0;\">&nbsp;</td></tr></table>\n      </td></tr></table>\n    <div style=\"height:14px;font-size:0;\">&nbsp;</div>\n    <div class=\"body-text\" style=\"font-size:14px;line-height:21px;color:#FFFFFF;letter-spacing:0.2px;font-weight:500;\">${esc(insight)}</div>\n  </td></tr>\n\n  <!-- RESUMEN DE LA LLAMADA -->\n  <tr><td class=\"px\" style=\"padding:8px 44px 6px 44px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#171717;border:1px solid #262626;border-radius:12px;\"><tr><td style=\"padding:22px 24px;\">\n      <div style=\"font-family:Inter,sans-serif;font-size:11px;letter-spacing:3px;color:#EAB308;text-transform:uppercase;font-weight:600;\">Resumen de la llamada</div>\n      <div style=\"height:10px;font-size:0;\">&nbsp;</div>\n      <div style=\"font-family:Inter,sans-serif;font-size:15px;line-height:24px;color:#FFFFFF;letter-spacing:0.1px;\">${esc(d.resumen)}</div>\n    </td></tr></table>\n  </td></tr>\n\n  <!-- ESCENARIO + MÓDULOS -->\n  <tr><td class=\"px\" style=\"padding:16px 36px 8px 36px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n    <td class=\"stack stack-pad\" width=\"50%\" valign=\"top\" style=\"padding:8px;\">\n      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#171717;border:1px solid #262626;border-radius:12px;\"><tr><td style=\"padding:18px 20px;\">\n        <div style=\"font-family:Inter,sans-serif;font-size:10px;letter-spacing:2.5px;color:#A3A3A3;text-transform:uppercase;\">Escenario</div>\n        <div style=\"height:7px;font-size:0;\">&nbsp;</div>\n        <div class=\"metric-num\" style=\"font-family:Montserrat,sans-serif;font-weight:700;font-size:19px;color:#FFFFFF;line-height:24px;\">${esc(d.escenario || \"Sesión de coaching\")}</div>\n        <div style=\"font-family:Inter,sans-serif;font-size:12px;color:#8a8a92;line-height:17px;margin-top:3px;\">${esc(d.tipo_actividad || \"Roleplay\")} · ${esc(d.idioma)}</div>\n      </td></tr></table></td>\n    <td class=\"stack stack-pad\" width=\"50%\" valign=\"top\" style=\"padding:8px;\">\n      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#171717;border:1px solid #262626;border-radius:12px;\"><tr><td style=\"padding:18px 20px;\">\n        <div style=\"font-family:Inter,sans-serif;font-size:10px;letter-spacing:2.5px;color:#A3A3A3;text-transform:uppercase;\">Módulos practicados</div>\n        <div style=\"height:7px;font-size:0;\">&nbsp;</div>\n        <div class=\"metric-num\" style=\"font-family:Montserrat,sans-serif;font-weight:700;font-size:19px;color:#FFFFFF;line-height:24px;\">${esc(d.modulos_practicados)}</div>\n      </td></tr></table></td></tr></table>\n  </td></tr>\n\n  <!-- 4 KPIs -->\n  <tr><td class=\"px\" style=\"padding:10px 40px 4px 40px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n    <td class=\"stack\" width=\"25%\" valign=\"top\" style=\"padding:6px;\">\n      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#171717;border:1px solid #262626;border-radius:10px;\"><tr><td align=\"center\" style=\"padding:14px 8px;\">\n        <div class=\"metric-num\" style=\"font-family:Montserrat,sans-serif;font-weight:700;font-size:20px;color:#FFFFFF;line-height:24px;\">${durTxt(d.duracion_texto, d.duracion_minutos)}</div>\n        <div style=\"font-family:Inter,sans-serif;font-size:9px;letter-spacing:1.5px;color:#A3A3A3;text-transform:uppercase;margin-top:4px;\">Tiempo total</div>\n      </td></tr></table></td>\n    <td class=\"stack\" width=\"25%\" valign=\"top\" style=\"padding:6px;\">\n      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#171717;border:1px solid #262626;border-radius:10px;\"><tr><td align=\"center\" style=\"padding:14px 8px;\">\n        <div class=\"metric-num\" style=\"font-family:Montserrat,sans-serif;font-weight:700;font-size:20px;color:#FFFFFF;line-height:24px;\">#${esc(d.sesion_numero)}</div>\n        <div style=\"font-family:Inter,sans-serif;font-size:9px;letter-spacing:1.5px;color:#A3A3A3;text-transform:uppercase;margin-top:4px;\">Sesión Nº</div>\n      </td></tr></table></td>\n    <td class=\"stack\" width=\"25%\" valign=\"top\" style=\"padding:6px;\">\n      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#171717;border:1px solid #262626;border-radius:10px;\"><tr><td align=\"center\" style=\"padding:14px 8px;\">\n        <div class=\"metric-num\" style=\"font-family:Montserrat,sans-serif;font-weight:700;font-size:20px;color:#EAB308;line-height:24px;\">${scoreStr(scoreN)}/10</div>\n        <div style=\"font-family:Inter,sans-serif;font-size:9px;letter-spacing:1.5px;color:#A3A3A3;text-transform:uppercase;margin-top:4px;\">Score promedio</div>\n      </td></tr></table></td>\n    <td class=\"stack\" width=\"25%\" valign=\"top\" style=\"padding:6px;\">\n      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#171717;border:1px solid #262626;border-radius:10px;\"><tr><td align=\"center\" style=\"padding:14px 8px;\">\n        <div class=\"metric-num\" style=\"font-family:Montserrat,sans-serif;font-weight:700;font-size:20px;color:#5cc08a;line-height:24px;\">+${esc(d.potencial_mejora)}%</div>\n        <div style=\"font-family:Inter,sans-serif;font-size:9px;letter-spacing:1.5px;color:#A3A3A3;text-transform:uppercase;margin-top:4px;\">Potencial mejora</div>\n      </td></tr></table></td>\n    </tr></table>\n  </td></tr>\n\n  <!-- MAPA DE COMPETENCIAS -->\n  <tr><td class=\"px\" style=\"padding:26px 44px 8px 44px;\" align=\"center\">\n    <div class=\"heading\" style=\"font-size:11px;letter-spacing:3px;color:#A3A3A3;font-weight:600;\">Mapa de competencias</div>\n    <div style=\"height:14px;font-size:0;\">&nbsp;</div>\n    <div class=\"radar-img\" style=\"width:360px;height:360px;max-width:100%;margin:0 auto;\">${buildRadarSVG(d)}</div>\n  </td></tr>\n\n  <!-- PROGRESO HISTÓRICO -->\n  <tr><td class=\"px\" style=\"padding:22px 44px 6px 44px;\">\n    <div style=\"font-family:Inter,sans-serif;font-size:11px;letter-spacing:3px;color:#8a8a8a;text-transform:uppercase;\">Progreso histórico</div>\n    <div style=\"height:14px;font-size:0;\">&nbsp;</div>\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n      ${buildHistorialRows(d)}\n    </table>\n  </td></tr>\n\n  <!-- PIE + FRECUENCIA DE TEMAS -->\n  <tr><td class=\"px\" style=\"padding:26px 44px 8px 44px;\">\n    <div class=\"heading\" style=\"font-size:11px;letter-spacing:3px;color:#A3A3A3;font-weight:600;\">Distribución de actividades y frecuencia de temas</div>\n    <div style=\"height:16px;font-size:0;\">&nbsp;</div>\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse:collapse;\">\n      <tr>\n        <td class=\"chart-half\" style=\"width:50%;padding:0 14px 0 0;vertical-align:top;\">\n          <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"card card-shadow\" style=\"min-height:404px;background:#171717;border:1px solid #262626;border-radius:12px;\">\n            <tr><td align=\"center\" style=\"padding:24px 16px 20px 16px;\">\n              <div class=\"heading body-text\" style=\"font-size:13px;letter-spacing:2px;color:#A3A3A3;font-weight:800;margin-bottom:16px;\">DISTRIBUCIÓN DE TIEMPO</div>\n              <div style=\"width:240px;height:256px;max-width:100%;margin:0 auto;\">${buildPieSVG(d)}</div>\n            </td></tr>\n          </table>\n        </td>\n        <td class=\"chart-half\" style=\"width:50%;padding:0 0 0 14px;vertical-align:top;\">\n          <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"card card-shadow\" style=\"min-height:404px;background:#171717;border:1px solid #262626;border-radius:12px;\">\n            <tr><td style=\"padding:24px 16px 20px 16px;\">\n              <div class=\"heading body-text\" style=\"font-size:10px;letter-spacing:2px;color:#A3A3A3;font-weight:600;margin-bottom:12px;\">FRECUENCIA DE TEMAS</div>\n              <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                ${barRow(\"Precio\", num(d.precio, 0) * 10, \"#EAB308\")}\n                ${barRow(\"Incentivos\", num(d.incentivos, 0) * 10, \"#b8860b\")}\n                ${barRow(\"Tiempo\", num(d.tiempo, 0) * 10, \"#EAB308\")}\n                ${barRow(\"Indecisión\", num(d.indecision, 0) * 10, \"#6b5518\")}\n              </table>\n            </td></tr>\n          </table>\n        </td>\n      </tr>\n    </table>\n  </td></tr>\n\n  <!-- PRINCIPIOS NEUROCIENTÍFICOS -->\n  <tr><td class=\"px\" style=\"padding:18px 44px 6px 44px;\">\n    <div style=\"font-family:Inter,sans-serif;font-size:14px;letter-spacing:3px;color:#8a8a8a;text-transform:uppercase;font-weight:800;\">Principios neurocientíficos activados</div>\n    <div style=\"height:16px;font-size:0;\">&nbsp;</div>\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n      ${barRow(\"🧠 Patrones Hipnóticos\", num(d.pct_patrones, 50), \"#EAB308\")}\n      ${barRow(\"🧠 Fraseología Erickson\", num(d.pct_fraseologia, 50), \"#EAB308\")}\n      ${barRow(\"🧠 Cambios de Contexto\", num(d.pct_contexto, 50), \"#EAB308\")}\n    </table>\n  </td></tr>\n\n  <!-- LO QUE HICISTE BIEN -->\n  <tr><td class=\"px\" style=\"padding:24px 44px 18px 44px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#1a1a1a;border-left:3px solid #EAB308;border-radius:0 10px 10px 0;\"><tr><td style=\"padding:18px 22px 18px 22px;\">\n      <div style=\"font-family:Inter,sans-serif;font-size:14px;letter-spacing:2.5px;color:#EAB308;text-transform:uppercase;font-weight:800;\">✓ Lo que hiciste bien</div>\n      <div style=\"height:8px;font-size:0;\">&nbsp;</div>\n      <div style=\"font-family:Inter,sans-serif;font-size:15px;line-height:23px;color:#FFFFFF;letter-spacing:0.1px;\">${bulletize(d.fortalezas)}</div>\n    </td></tr></table>\n  </td></tr>\n\n  <!-- A MEJORAR -->\n  <tr><td class=\"px\" style=\"padding:0 44px 18px 44px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#1a1a1a;border-left:3px solid #b8860b;border-radius:0 10px 10px 0;\"><tr><td style=\"padding:18px 22px 18px 22px;\">\n      <div style=\"font-family:Inter,sans-serif;font-size:14px;letter-spacing:2.5px;color:#b8860b;text-transform:uppercase;font-weight:800;\">△ A mejorar</div>\n      <div style=\"height:8px;font-size:0;\">&nbsp;</div>\n      <div style=\"font-family:Inter,sans-serif;font-size:15px;line-height:23px;color:#FFFFFF;letter-spacing:0.1px;\">${bulletize(d.areas_mejora)}</div>\n    </td></tr></table>\n  </td></tr>\n\n  ${objecionesHTML ? `<!-- OBJECIONES -->\n  <tr><td class=\"px\" style=\"padding:0 44px 0 44px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#1a1a1a;border-left:3px solid #4a4a4a;border-radius:0 10px 10px 0;\"><tr><td style=\"padding:18px 22px 18px 22px;\">\n      <div style=\"font-family:Inter,sans-serif;font-size:14px;letter-spacing:2.5px;color:#A3A3A3;text-transform:uppercase;font-weight:800;\">Objeciones que enfrentaste</div>\n      <div style=\"height:8px;font-size:0;\">&nbsp;</div>\n      <div style=\"font-family:Inter,sans-serif;font-size:15px;line-height:23px;color:#FFFFFF;letter-spacing:0.1px;\">${objecionesHTML}</div>\n    </td></tr></table>\n  </td></tr>` : \"\"}\n\n  <!-- ANÁLISIS PNL -->\n  <tr><td class=\"px\" style=\"padding:28px 44px 6px 44px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#181620;border:1px solid #2c2838;border-radius:12px;\"><tr><td style=\"padding:28px 28px;\">\n      <div style=\"font-family:Inter,sans-serif;font-size:14px;letter-spacing:3px;color:#9b8cff;text-transform:uppercase;font-weight:800;\">🧠 Análisis PNL</div>\n      <div style=\"height:10px;font-size:0;\">&nbsp;</div>\n      <div style=\"font-family:Inter,sans-serif;font-size:15px;line-height:24px;color:#FFFFFF;letter-spacing:0.1px;\">${esc(d.analisis_pnl)}</div>\n    </td></tr></table>\n  </td></tr>\n\n  <!-- PRÓXIMO DRILL -->\n  <tr><td class=\"px\" style=\"padding:24px 44px 8px 44px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#221d10;border:1px solid #3a3020;border-radius:12px;\"><tr><td style=\"padding:28px 28px;\">\n      <div style=\"font-family:Inter,sans-serif;font-size:14px;letter-spacing:3px;color:#EAB308;text-transform:uppercase;font-weight:800;\">🎯 Tu próximo drill</div>\n      <div style=\"height:10px;font-size:0;\">&nbsp;</div>\n      <div style=\"font-family:Montserrat,sans-serif;font-size:18px;line-height:26px;color:#FFFFFF;letter-spacing:0.1px;font-weight:700;\">${esc(d.recomendacion_siguiente)}</div>\n      <div style=\"height:18px;font-size:0;\">&nbsp;</div>\n      <!--[if mso]><v:roundrect xmlns:v=\"urn:schemas-microsoft-com:vml\" href=\"https://victor-ia-training.vercel.app/\" style=\"height:44px;v-text-anchor:middle;width:230px;\" arcsize=\"50%\" fillcolor=\"#EAB308\" stroke=\"f\"><center><![endif]-->\n      <a href=\"https://victor-ia-training.vercel.app/\" style=\"display:inline-block;background:#EAB308;color:#000000;font-family:Montserrat,sans-serif;font-size:13px;font-weight:700;letter-spacing:1.5px;text-transform:uppercase;padding:14px 30px;border-radius:12px;box-shadow:0 4px 6px -1px rgba(0,0,0,0.5);\">Entrenar de nuevo</a>\n      <!--[if mso]></center></v:roundrect><![endif]-->\n    </td></tr></table>\n  </td></tr>\n\n  ${quizHTML ? `<!-- QUIZ -->\n  <tr><td class=\"px\" style=\"padding:28px 44px 6px 44px;\">\n    <div style=\"font-family:Inter,sans-serif;font-size:14px;letter-spacing:3px;color:#8a8a8a;text-transform:uppercase;font-weight:800;\">Evaluación de comprensión · Quiz</div>\n    <div style=\"height:16px;font-size:0;\">&nbsp;</div>\n    ${quizHTML}\n  </td></tr>` : \"\"}\n\n  <!-- TRANSCRIPCIÓN -->\n  <tr><td class=\"px\" style=\"padding:30px 44px 6px 44px;border-top:1px solid #262626;\">\n    <div style=\"font-family:Inter,sans-serif;font-size:14px;letter-spacing:3px;color:#8a8a8a;text-transform:uppercase;font-weight:800;\">Transcripción completa</div>\n    <div style=\"height:6px;font-size:0;\">&nbsp;</div>\n    <div style=\"font-family:Inter,sans-serif;font-size:12px;line-height:18px;color:#6a6a6a;letter-spacing:0.2px;\">Conversación palabra por palabra entre Víctor y el asesor.</div>\n    <div style=\"height:18px;font-size:0;\">&nbsp;</div>\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n    ${buildTranscriptHTML(d)}\n    </table>\n  </td></tr>\n\n  <!-- PLAN DE ACCIÓN PARA EL GERENTE -->\n  <tr><td class=\"px\" style=\"padding:28px 44px 6px 44px;border-top:1px solid #262626;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#141c17;border:1px solid #22331f;border-radius:12px;\"><tr><td style=\"padding:28px 28px;\">\n      <div style=\"font-family:Inter,sans-serif;font-size:14px;letter-spacing:3px;color:#5cc08a;text-transform:uppercase;font-weight:800;\">📋 Plan de acción · para el gerente</div>\n      <div style=\"height:6px;font-size:0;\">&nbsp;</div>\n      <div style=\"font-family:Inter,sans-serif;font-size:12px;line-height:18px;color:#7a9483;letter-spacing:0.2px;\">Pasos concretos para llevar a este asesor a la excelencia.</div>\n      <div style=\"height:14px;font-size:0;\">&nbsp;</div>\n      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n        <tr><td valign=\"top\" width=\"30\" style=\"font-family:Montserrat,sans-serif;font-weight:700;font-size:16px;color:#5cc08a;padding:0 0 12px 0;\">1.</td>\n        <td valign=\"top\" style=\"font-family:Inter,sans-serif;font-size:14px;line-height:21px;color:#cfd8d2;padding:0 0 12px 0;\"><strong>${esc(d.accion1)}</strong> — ${esc(d.accion1_desc)}</td></tr>\n        <tr><td valign=\"top\" width=\"30\" style=\"font-family:Montserrat,sans-serif;font-weight:700;font-size:16px;color:#5cc08a;padding:0 0 12px 0;\">2.</td>\n        <td valign=\"top\" style=\"font-family:Inter,sans-serif;font-size:14px;line-height:21px;color:#cfd8d2;padding:0 0 12px 0;\"><strong>${esc(d.accion2)}</strong> — ${esc(d.accion2_desc)}</td></tr>\n        <tr><td valign=\"top\" width=\"30\" style=\"font-family:Montserrat,sans-serif;font-weight:700;font-size:16px;color:#5cc08a;padding:0 0 12px 0;\">3.</td>\n        <td valign=\"top\" style=\"font-family:Inter,sans-serif;font-size:14px;line-height:21px;color:#cfd8d2;padding:0 0 12px 0;\"><strong>${esc(d.accion3)}</strong> — ${esc(d.accion3_desc)}</td></tr>\n      </table>\n    </td></tr></table>\n  </td></tr>\n\n  <!-- ANÁLISIS DEL APRENDIZAJE -->\n  <tr><td class=\"px\" style=\"padding:28px 44px 6px 44px;border-top:1px solid #262626;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n      <td><div style=\"font-family:Inter,sans-serif;font-size:14px;letter-spacing:3px;color:#8a8a8a;text-transform:uppercase;font-weight:800;\">Análisis del aprendizaje</div></td>\n      <td align=\"right\"><span class=\"heading body-text\" style=\"font-size:11px;letter-spacing:1px;color:#A3A3A3;background:#1a1a1a;border:1px solid #262626;border-radius:12px;padding:6px 12px;font-weight:500;\">${esc((d.tipo_actividad || \"ROLEPLAY\")).toUpperCase()}</span></td>\n    </tr></table>\n    <div style=\"height:16px;font-size:0;\">&nbsp;</div>\n\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#171717;border:1px solid #262626;border-left:3px solid #5cc08a;border-radius:10px;margin-bottom:20px;\"><tr><td style=\"padding:20px 22px;\">\n      <div style=\"font-family:Inter,sans-serif;font-size:11px;letter-spacing:1.5px;color:#5cc08a;text-transform:uppercase;font-weight:700;\">Puntos fuertes</div>\n      <div style=\"height:12px;font-size:0;\">&nbsp;</div>\n      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n        ${scoreBarRow(\"Rapport\", d.rapport, \"#5cc08a\")}\n        ${scoreBarRow(\"Escucha\", d.escucha, \"#5cc08a\")}\n        ${scoreBarRow(\"PNL\", d.pnl, \"#5cc08a\")}\n      </table>\n    </td></tr></table>\n\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#171717;border:1px solid #262626;border-left:3px solid #b8860b;border-radius:10px;\"><tr><td style=\"padding:20px 22px;\">\n      <div style=\"font-family:Inter,sans-serif;font-size:11px;letter-spacing:1.5px;color:#b8860b;text-transform:uppercase;font-weight:700;\">Brechas identificadas</div>\n      <div style=\"height:12px;font-size:0;\">&nbsp;</div>\n      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n        ${scoreBarRow(\"Cierre\", d.cierre, \"#b8860b\")}\n        ${scoreBarRow(\"Postura\", d.postura, \"#b8860b\")}\n        ${scoreBarRow(\"Objeciones\", d.objeciones, \"#b8860b\")}\n      </table>\n    </td></tr></table>\n  </td></tr>\n\n  <!-- NOTA PARA ENTRENADOR -->\n  <tr><td class=\"px\" style=\"padding:22px 44px 0 44px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#171717;border:1px solid #262626;border-radius:12px;\"><tr><td style=\"padding:20px 22px;\">\n      <div style=\"font-family:Inter,sans-serif;font-size:14px;letter-spacing:2.5px;color:#EAB308;text-transform:uppercase;font-weight:800;\">📋 Nota para entrenador</div>\n      <div style=\"height:8px;font-size:0;\">&nbsp;</div>\n      <div style=\"font-family:Inter,sans-serif;font-size:14px;line-height:22px;color:#cfcfd6;letter-spacing:0.1px;\">${esc(d.resumen)} ${esc(d.areas_mejora ? \"Área a reforzar: \" + String(d.areas_mejora).split(\"|\")[0].trim() + \".\" : \"\")}</div>\n    </td></tr></table>\n  </td></tr>\n\n  ${d.modulos_practicados ? `<!-- ACTIVIDAD DE LA SESIÓN -->\n  <tr><td class=\"px\" style=\"padding:30px 44px 6px 44px;border-top:1px solid #262626;\">\n    <div style=\"font-family:Inter,sans-serif;font-size:14px;letter-spacing:3px;color:#8a8a8a;text-transform:uppercase;font-weight:800;\">Actividad de la sesión</div>\n    <div style=\"height:6px;font-size:0;\">&nbsp;</div>\n    <div style=\"font-family:Inter,sans-serif;font-size:12px;line-height:18px;color:#6a6a6a;letter-spacing:0.2px;\">Lo que ${esc(nombreCorto)} hizo durante la sesión.</div>\n    <div style=\"height:14px;font-size:0;\">&nbsp;</div>\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n      ${buildActivityRows(d)}\n    </table>\n  </td></tr>` : \"\"}\n\n  <!-- FOOTER · CTAs -->\n  <tr><td class=\"px\" style=\"padding:24px 44px 8px 44px;border-top:1px solid #262626;\" align=\"center\">\n    <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n      <td style=\"padding:0 6px;\">\n        <!--[if mso]><v:roundrect xmlns:v=\"urn:schemas-microsoft-com:vml\" href=\"${audioHref}\" style=\"height:46px;v-text-anchor:middle;width:240px;\" arcsize=\"50%\" fillcolor=\"#242424\" strokecolor=\"#3a3a3a\"><center><![endif]-->\n        <a href=\"${audioHref}\" style=\"display:inline-block;background:#242424;border:1px solid #3a3a3a;color:#EAB308;font-family:Inter,sans-serif;font-size:12px;font-weight:700;letter-spacing:1.2px;text-transform:uppercase;padding:14px 24px;border-radius:99px;\">🎧 Escuchar audio</a>\n        <!--[if mso]></center></v:roundrect><![endif]-->\n      </td>\n      <td style=\"padding:0 6px;\">\n        <!--[if mso]><v:roundrect xmlns:v=\"urn:schemas-microsoft-com:vml\" href=\"https://victor-ia-training.vercel.app/\" style=\"height:46px;v-text-anchor:middle;width:210px;\" arcsize=\"50%\" fillcolor=\"#EAB308\" stroke=\"f\"><center><![endif]-->\n        <a href=\"https://victor-ia-training.vercel.app/\" style=\"display:inline-block;background:#EAB308;color:#1a1a1a;font-family:Inter,sans-serif;font-size:12px;font-weight:700;letter-spacing:1.2px;text-transform:uppercase;padding:14px 24px;border-radius:99px;\">🔁 Volver a entrenar</a>\n        <!--[if mso]></center></v:roundrect><![endif]-->\n      </td>\n    </tr></table>\n    <div style=\"height:10px;font-size:0;\">&nbsp;</div>\n    <div style=\"font-family:Inter,sans-serif;font-size:11px;color:#6a6a6a;\">🎧 El audio completo de la sesión está adjunto a este correo (MP3).</div>\n  </td></tr>\n\n  <tr><td class=\"px\" style=\"padding:30px 44px 38px 44px;border-top:1px solid #262626;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n      <td align=\"left\" style=\"font-family:Inter,sans-serif;font-size:12px;line-height:18px;color:#6a6a6a;letter-spacing:0.3px;\">\n        <span style=\"color:#EAB308;font-weight:600;letter-spacing:1px;\">VÍCTOR</span> · Coach de IA del piso<br>Generado por <a href=\"https://victor-ia.com.mx\" style=\"color:#8a8a8a;\">Victor&nbsp;IA</a>\n      </td>\n      <td align=\"right\" style=\"font-family:Inter,sans-serif;font-size:11px;color:#4a4a4a;letter-spacing:0.5px;\">Sesión ${esc(d.conversation_id)}</td>\n    </tr></table>\n  </td></tr>\n\n</table>\n<div style=\"font-family:Inter,sans-serif;font-size:11px;color:#4a4a4a;letter-spacing:0.5px;padding:18px 0 0 0;\">Este reporte es interno del equipo VTC.</div>\n\n</td></tr></table>\n</body>\n</html>`;\n\n  return { html };\n}\n\n// Entrada del nodo n8n — UN item, no un array (fix del bug $input.all()).\nconst data = $input.first().json;\nreturn generateVTCReport(data);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        -512
      ],
      "id": "b856d72d-265f-4ee0-87bb-dda82c914b89",
      "name": "Generar HTML Email"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.elevenlabs.io/v1/convai/conversations/{{ $node[\"Preparar Datos\"].json.conversation_id }}/audio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_87d5a7899d6c489c94232248c4880a0c4fe317adb3701e67"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -500,
        -160
      ],
      "id": "d3f1a001-e11a-4a2b-9a0e-fetch0audio01",
      "name": "Fetch Audio HTTP",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Preparar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Build Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Attachments": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos": {
      "main": [
        [
          {
            "node": "Generar HTML Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar HTML Email": {
      "main": [
        [
          {
            "node": "Fetch Audio HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Audio HTTP": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {
    "Preparar Datos": [
      {
        "json": {
          "body": "{\"nombre\":\"Carlos López\",\"empleado_id\":\"2847\",\"puesto\":\"Dirección\",\"fecha_formato\":\"21-07-2026\",\"hora_inicio\":\"14:35\",\"hora_fin\":\"15:03\",\"duracion_minutos\":28,\"session_numero\":5,\"scoreTotal\":8.7,\"potencial_mejora\":13,\"rapport\":8.5,\"objeciones\":8.2,\"postura\":7.7,\"cierre\":7.0,\"pnl\":8.7,\"escucha\":9.0,\"resumen\":\"Test de email\",\"accion1\":\"Reducir Interrupciones\",\"accion1_desc\":\"Pausas prolongadas\",\"accion2\":\"Memorizar el Pitch\",\"accion2_desc\":\"Dudar en pitch\",\"accion3\":\"Dominar el Cierre\",\"accion3_desc\":\"Falta de confianza\"}"
        }
      }
    ]
  },
  "versionId": "90dbce7f-c7b8-4a69-8381-038d0db8aebf",
  "activeVersionId": "90dbce7f-c7b8-4a69-8381-038d0db8aebf",
  "versionCounter": 137,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-07-20T07:41:51.442Z",
      "createdAt": "2026-07-20T07:41:51.442Z",
      "role": "workflow:owner",
      "workflowId": "WEkyHL4lJPEytNoF",
      "projectId": "IOsZ8ZXEyd3NkPsE",
      "project": {
        "updatedAt": "2026-07-14T18:11:53.227Z",
        "createdAt": "2026-07-14T17:40:14.782Z",
        "id": "IOsZ8ZXEyd3NkPsE",
        "name": "Pablo Solar   <mesainteligentedemo@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "e0e172e7-fc36-4782-aafb-9d039ab7986a"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-21T12:37:46.015Z",
    "createdAt": "2026-07-21T12:37:46.015Z",
    "versionId": "90dbce7f-c7b8-4a69-8381-038d0db8aebf",
    "workflowId": "WEkyHL4lJPEytNoF",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "/vtc-report",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -928,
          -528
        ],
        "id": "fe44e71f-2487-4337-858c-d53f3b7d746b",
        "name": "Webhook",
        "webhookId": "526edb82-400f-4560-ae8c-29eed2664e76"
      },
      {
        "parameters": {
          "jsCode": "// El audio se descarga en el nodo HTTP Request \"Fetch Audio HTTP\" (binario\n// en la propiedad \"data\"). Aqui solo se decide si hay audio valido y se\n// reenvia el binario intacto -- el Code node de esta instancia n8n no puede\n// tocar bytes (sin fetch, sin $helpers, sin require de modulos http/https).\n\nconst prep = $node[\"Preparar Datos\"].json;\nconst conversationId = prep.conversation_id;\nconst employeeName = String(prep.employee_name || 'sesion').replace(/[^a-zA-Z0-9_-]+/g, '_');\n\nif (!conversationId || String(conversationId).startsWith('AUTO_')) {\n  return [{ json: { success: false, error: 'No conversation_id (dato fallback/test, no hay audio real que descargar)' } }];\n}\n\nconst item = $input.first();\nif (!item.binary || !item.binary.data) {\n  return [{ json: { success: false, error: 'Fetch Audio HTTP no devolvio binario (revisa ese nodo / conversation_id invalido)' } }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    conversation_id: conversationId,\n    audio_filename: `VTC_${employeeName}_${conversationId}.mp3`\n  },\n  binary: { data: item.binary.data }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -304,
          -160
        ],
        "id": "32a44586-04fa-4405-b7f7-fcba64765e0b",
        "name": "Download Audio",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "// Ya no arma un array de contenido base64: el nodo \"Send an Email\" (SMTP)\n// adjunta por NOMBRE DE PROPIEDAD BINARIA (options.attachments = \"data\"),\n// no aceptando un array de objetos {name, content, contentType}. Este nodo\n// solo decide si hay adjunto y reenvia el binario intacto.\n\nconst item = $input.first();\nconst j = item.json || {};\n\nif (!j.success || !item.binary || !item.binary.data) {\n  return [{ json: { success: true, has_attachment: false, audio_file: null } }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    has_attachment: true,\n    audio_file: j.audio_filename\n  },\n  binary: { data: item.binary.data }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -80,
          -512
        ],
        "id": "c2582048-0465-433f-a780-ef63a8b2a860",
        "name": "Build Attachments"
      },
      {
        "parameters": {
          "fromEmail": "info@victor-ia.com.mx",
          "toEmail": "=eldudemateos@gmail.com, mesainteligentedemo@gmail.com, chrisoria16@gmail.com",
          "subject": "={{ $node[\"Preparar Datos\"].json.employee_name }} | {{ $node[\"Preparar Datos\"].json.fecha_formato }}\n\n\n",
          "html": "={{ $node[\"Generar HTML Email\"].json.html }}\n",
          "options": {
            "ccEmail": "",
            "attachments": "={{ $node[\"Build Attachments\"].json.has_attachment ? \"data\" : \"\" }}"
          }
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          112,
          -160
        ],
        "id": "057d3fec-54f5-4947-bcad-cc7d0b952f4f",
        "name": "Send an Email",
        "webhookId": "1c39d9bf-6d1c-4147-9d49-3e057321e44b",
        "credentials": {
          "smtp": {
            "id": "MmzqSvtvMqAzB0T8",
            "name": "Hostinger SMTP VTC"
          }
        }
      },
      {
        "parameters": {
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          352,
          -288
        ],
        "id": "21d63616-5169-4aad-92e8-e2f45cca3f11",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first();\n// BUG ORIGINAL: \"const data = $input.first(); ... data.body\" leia el wrapper\n// del item (que NO tiene .body), nunca el payload real -> todo caia en los\n// valores por defecto (incluido conversation_id -> \"AUTO_...\") sin importar\n// lo que mandara el webhook de ElevenLabs. El payload real vive en item.json.body.\nconst rawBody = (item.json && item.json.body !== undefined) ? item.json.body : item.json;\nconst payload = typeof rawBody === \"string\" ? JSON.parse(rawBody) : rawBody;\n\n// Soporta el webhook post-call REAL de ElevenLabs (analysis.data_collection_results\n// + metadata + transcript) ademas del payload plano simple (test / integracion\n// directa). Nunca se inventan datos: si un campo no llega, se usa un fallback\n// generico marcado como tal via los valores por defecto de mas abajo.\nconst analysis = payload.analysis || {};\nconst dc = analysis.data_collection_results || {};\nconst meta = payload.metadata || {};\n\nfunction dcv(k) {\n  const o = dc[k] != null ? dc[k] : (dc[k + \"  \"] != null ? dc[k + \"  \"] : dc[k + \" \"]);\n  if (o == null) return undefined;\n  return (typeof o === \"object\" && \"value\" in o) ? o.value : o;\n}\nfunction pick() {\n  for (let i = 0; i < arguments.length; i++) {\n    const v = arguments[i];\n    if (v !== undefined && v !== null && v !== \"\") return v;\n  }\n  return undefined;\n}\n\nconst now = new Date();\nconst dia = String(now.getDate()).padStart(2, \"0\");\nconst mes = String(now.getMonth() + 1).padStart(2, \"0\");\nconst anio = now.getFullYear();\n\nconsole.log(\"DEBUG - Webhook payload:\", JSON.stringify(payload, null, 2));\n\n// --- Identidad (FIX: antes solo se calculaba employee_name; nombre/empleado_id/\n// puesto no existian en la salida, por lo que \"Generar HTML Email\" SIEMPRE\n// mostraba los valores de ejemplo fijos de su plantilla, sin importar el payload) ---\nconst nombre = pick(payload.nombre, dcv(\"user_name\"), payload.employee_name) || \"Usuario\";\nconst empleadoId = pick(payload.empleado_id, payload.employee_number, dcv(\"employee_number\"), payload.emp_id) || \"0000\";\nconst puesto = pick(payload.puesto, dcv(\"user_role\"), payload.role) || \"Asesor de Ventas\";\nconst departamento = pick(payload.departamento, payload.dept) || \"Dirección de Ventas\";\nfunction normalizaIdioma(v) {\n  const s = String(v || \"\").toLowerCase();\n  if (!s) return undefined;\n  if (s.indexOf(\"esp\") === 0 || s === \"es\") return \"Español\";\n  if (s.indexOf(\"ing\") === 0 || s.indexOf(\"en\") === 0) return \"Inglés\";\n  return v;\n}\nconst idioma = normalizaIdioma(pick(payload.idioma, dcv(\"idioma\"))) ||\n  ((meta.main_language || \"\").toLowerCase().indexOf(\"en\") === 0 ? \"Inglés\" : \"Español\");\n\nconst durSecsFromMeta = meta.call_duration_secs;\nconst duracionMinutos = payload.duracion_minutos || (durSecsFromMeta ? Math.round(durSecsFromMeta / 60) : 28);\nconst durSecs = durSecsFromMeta || (payload.duracion_minutos ? payload.duracion_minutos * 60 : duracionMinutos * 60);\nconst duracionTexto = payload.duracion_texto || (durSecs ? (Math.floor(durSecs / 60) + \":\" + String(Math.round(durSecs % 60)).padStart(2, \"0\")) : \"28:00\");\n\nconst scoreTotal = Number(pick(payload.scoreTotal, payload.score, dcv(\"desempeno_score\"))) || 8.7;\nconst potencialMejora = payload.potencial_mejora != null ? payload.potencial_mejora : Math.max(0, Math.round((10 - scoreTotal) * 13));\n\nreturn {\n    success: true,\n    conversation_id: payload.conversation_id || \"AUTO_\" + Date.now(),\n\n    // Identidad\n    employee_name: nombre,\n    nombre: nombre,\n    empleado_id: empleadoId,\n    puesto: puesto,\n    departamento: departamento,\n    idioma: idioma,\n\n    // Métricas (0-10)\n    score: payload.scoreTotal || payload.score || 0,\n    scoreTotal: scoreTotal,\n    rapport: Number(payload.rapport) || 8.5,\n    pnl: Number(payload.pnl) || 8.7,\n    postura: Number(payload.postura) || 7.7,\n    objeciones: Number(payload.objeciones) || 8.2,\n    cierre: Number(payload.cierre) || 7.0,\n    escucha: Number(payload.escucha) || 9.0,\n    potencial_mejora: potencialMejora,\n\n    // Narrativa\n    resumen: pick(payload.resumen, analysis.transcript_summary, dcv(\"recomendacion_siguiente\")) || \"Sesión completada.\",\n    fortalezas: pick(payload.fortalezas, dcv(\"fortalezas\")) || \"Buena disposición y actitud durante la práctica.\",\n    areas_mejora: pick(payload.areas_mejora, dcv(\"areas_mejora\")) || \"Reforzar los fundamentos del módulo practicado.\",\n    analisis_pnl: payload.analisis_pnl || \"Sin patrones PNL destacados en esta sesión.\",\n    recomendacion_siguiente: pick(payload.recomendacion_siguiente, dcv(\"recomendacion_siguiente\")) || \"Repasar el módulo con menor puntaje.\",\n\n    // Escenario / módulos\n    escenario: pick(payload.escenario, dcv(\"escenario_roleplay\"), dcv(\"tipo_actividad\")) || \"Sesión de coaching\",\n    tipo_actividad: pick(payload.tipo_actividad, dcv(\"tipo_actividad\")) || \"Roleplay\",\n    modulos_practicados: pick(payload.modulos_practicados, dcv(\"modulos_practicados\")) || \"\",\n\n    // Fecha / hora / duración\n    fecha_formato: payload.fecha_formato || `${dia}-${mes}-${anio}`,\n    hora_inicio: payload.hora_inicio || \"14:35\",\n    hora_fin: payload.hora_fin || \"15:03\",\n    duracion_minutos: duracionMinutos,\n    duracion_texto: duracionTexto,\n    sesion_numero: payload.sesion_numero || 1,\n\n    // Plan de acción (gerente)\n    accion1: payload.accion1 || \"Reducir Interrupciones\",\n    accion1_desc: payload.accion1_desc || \"Pausas prolongadas entre argumentos.\",\n    accion2: payload.accion2 || \"Memorizar el Pitch\",\n    accion2_desc: payload.accion2_desc || \"Dudar en el pitch resta credibilidad.\",\n    accion3: payload.accion3 || \"Dominar el Cierre\",\n    accion3_desc: payload.accion3_desc || \"Falta de confianza al cerrar.\",\n\n    // Frecuencia de temas (escala 0-10)\n    precio: payload.precio != null ? payload.precio : 8,\n    incentivos: payload.incentivos != null ? payload.incentivos : 6,\n    tiempo: payload.tiempo != null ? payload.tiempo : 10,\n    indecision: payload.indecision != null ? payload.indecision : 4,\n\n    // Distribución de tiempo por actividad (%, deben sumar ~100)\n    pct_pitch: payload.pct_pitch != null ? payload.pct_pitch : 50,\n    pct_warmup: payload.pct_warmup != null ? payload.pct_warmup : 20,\n    pct_objeciones: payload.pct_objeciones != null ? payload.pct_objeciones : 15,\n    pct_cierre: payload.pct_cierre != null ? payload.pct_cierre : 15,\n\n    // Principios neurocientíficos (%)\n    pct_patrones: payload.pct_patrones != null ? payload.pct_patrones : 50,\n    pct_fraseologia: payload.pct_fraseologia != null ? payload.pct_fraseologia : 50,\n    pct_contexto: payload.pct_contexto != null ? payload.pct_contexto : 50,\n\n    // Datos ricos OPCIONALES — solo se muestran en el reporte si vienen reales\n    // (nunca se inventa contenido de ejemplo para una sesión real).\n    transcript: Array.isArray(payload.transcript) ? payload.transcript : null,\n    historial: Array.isArray(payload.historial) ? payload.historial : null,\n    quiz: Array.isArray(payload.quiz) ? payload.quiz : null,\n    objeciones_detalle: Array.isArray(payload.objeciones_detalle) ? payload.objeciones_detalle : null,\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -720,
          -176
        ],
        "id": "bb843f73-144d-44db-a96a-3fc25b2da37e",
        "name": "Preparar Datos"
      },
      {
        "parameters": {
          "jsCode": "// ============================================================================\n// Nodo n8n \"Generar HTML Email\" — VTC Elite Reporting\n// Template premium email-safe (tablas, MSO, dark #EAB308) basado en el diseño\n// aprobado. Recibe la salida de \"Preparar Datos\" (UN SOLO item — se usa\n// $input.first().json, no $input.all(), que era el bug que dejaba TODO el\n// reporte con los valores de ejemplo fijos sin importar el payload real).\n// ============================================================================\n\nfunction esc(s) {\n  return (s == null ? \"\" : String(s))\n    .replace(/&/g, \"&amp;\").replace(/</g, \"&lt;\").replace(/>/g, \"&gt;\");\n}\n\nfunction num(v, def) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : def;\n}\n\nconst MESES = [\"ENE\",\"FEB\",\"MAR\",\"ABR\",\"MAY\",\"JUN\",\"JUL\",\"AGO\",\"SEP\",\"OCT\",\"NOV\",\"DIC\"];\nfunction fechaDisplay(fecha_formato) {\n  // fecha_formato viene como DD-MM-YYYY\n  const m = /^(\\d{2})-(\\d{2})-(\\d{4})$/.exec(fecha_formato || \"\");\n  if (!m) return esc(fecha_formato || \"\");\n  const [, d, mo, y] = m;\n  const idx = parseInt(mo, 10) - 1;\n  const mesTxt = MESES[idx] || mo;\n  return `${d} ${mesTxt} ${y}`;\n}\n\nfunction scoreStr(n) {\n  // 8.7 -> \"8,7\" (formato ES)\n  return (Math.round(n * 10) / 10).toFixed(1).replace(\".\", \",\");\n}\n\nfunction durTxt(duracion_texto, duracion_minutos) {\n  if (duracion_texto && /^\\d+:\\d{2}$/.test(duracion_texto)) {\n    const [mm, ss] = duracion_texto.split(\":\");\n    return `${mm} min ${ss} seg`;\n  }\n  return `${duracion_minutos || 0} min`;\n}\n\n// ---- Radar hexagonal (6 ejes) --------------------------------------------\n// Orden y ángulos calcados del diseño aprobado: Rapport arriba (-90°), PNL\n// (-30°), Postura (30°), Objeciones abajo (90°), Cierre (150°), Escucha (210°).\nconst RADAR_AXES = [\n  { key: \"rapport\",    label: \"Rapport\",    angle: -90 },\n  { key: \"pnl\",         label: \"PNL\",        angle: -30 },\n  { key: \"postura\",     label: \"Postura\",    angle: 30 },\n  { key: \"objeciones\",  label: \"Objeciones\", angle: 90 },\n  { key: \"cierre\",      label: \"Cierre\",     angle: 150 },\n  { key: \"escucha\",     label: \"Escucha\",    angle: 210 },\n];\nconst RADAR_CX = 234, RADAR_CY = 234, RADAR_R = 110;\n\nfunction radarPoint(score, angleDeg) {\n  const a = (angleDeg * Math.PI) / 180;\n  const r = RADAR_R * (Math.max(0, Math.min(10, score)) / 10);\n  return { x: +(RADAR_CX + r * Math.cos(a)).toFixed(2), y: +(RADAR_CY + r * Math.sin(a)).toFixed(2) };\n}\n\nfunction buildRadarSVG(d) {\n  const pts = RADAR_AXES.map(ax => radarPoint(num(d[ax.key], 7), ax.angle));\n  const polygonPts = pts.map(p => `${p.x},${p.y}`).join(\" \");\n  const circles = pts.map(p => `<circle cx=\"${p.x}\" cy=\"${p.y}\" r=\"3.5\" fill=\"#EAB308\"/>`).join(\"\");\n\n  // Grid de fondo (estático — 5 anillos hexagonales concéntricos + ejes)\n  const ring = (frac) => RADAR_AXES.map(ax => {\n    const a = (ax.angle * Math.PI) / 180;\n    const r = RADAR_R * frac;\n    return `${(RADAR_CX + r * Math.cos(a)).toFixed(2)},${(RADAR_CY + r * Math.sin(a)).toFixed(2)}`;\n  }).join(\" \");\n  const grid = [0.2, 0.4, 0.6, 0.8, 1.0].map(frac =>\n    `<polygon points=\"${ring(frac)}\" fill=\"none\" stroke=\"rgba(255,255,255,0.09)\" stroke-width=\"1\"/>`\n  ).join(\"\");\n  const axisLines = RADAR_AXES.map(ax => {\n    const a = (ax.angle * Math.PI) / 180;\n    const x = (RADAR_CX + RADAR_R * Math.cos(a)).toFixed(2);\n    const y = (RADAR_CY + RADAR_R * Math.sin(a)).toFixed(2);\n    return `<line x1=\"${RADAR_CX}\" y1=\"${RADAR_CY}\" x2=\"${x}\" y2=\"${y}\" stroke=\"rgba(255,255,255,0.09)\" stroke-width=\"1\"/>`;\n  }).join(\"\");\n  const labels = RADAR_AXES.map(ax => {\n    const a = (ax.angle * Math.PI) / 180;\n    const lr = RADAR_R + 47;\n    const x = (RADAR_CX + lr * Math.cos(a)).toFixed(2);\n    const y = (RADAR_CY + lr * Math.sin(a)).toFixed(2);\n    let anchor = \"middle\";\n    if (Math.cos(a) > 0.35) anchor = \"start\";\n    else if (Math.cos(a) < -0.35) anchor = \"end\";\n    return `<text x=\"${x}\" y=\"${y}\" text-anchor=\"${anchor}\" dominant-baseline=\"middle\" fill=\"#EAB308\" font-family=\"Inter,sans-serif\" font-size=\"13\" letter-spacing=\"0.3\">${ax.label}</text>`;\n  }).join(\"\");\n\n  return `<svg width=\"360\" height=\"360\" viewBox=\"0 0 468 468\" xmlns=\"http://www.w3.org/2000/svg\" role=\"img\" aria-label=\"Radar de competencias\" style=\"display:block;margin:0 auto;width:100%;height:auto;max-width:360px;overflow:visible;\">${grid}${axisLines}<polygon points=\"${polygonPts}\" fill=\"rgba(234,179,8,0.20)\" stroke=\"#EAB308\" stroke-width=\"2\"/>${circles}${labels}</svg>`;\n}\n\n// ---- Pie de distribución de tiempo (4 categorías) -------------------------\nfunction buildPieSVG(d) {\n  const segs = [\n    { label: \"Pitch\",      pct: num(d.pct_pitch, 50),      color: \"#EAB308\" },\n    { label: \"Warm-up\",    pct: num(d.pct_warmup, 20),     color: \"#5cc08a\" },\n    { label: \"Objeciones\", pct: num(d.pct_objeciones, 15), color: \"#b8860b\" },\n    { label: \"Cierre\",     pct: num(d.pct_cierre, 15),     color: \"#9b8cff\" },\n  ];\n  const total = segs.reduce((s, x) => s + x.pct, 0) || 100;\n  const R = 62, C = 2 * Math.PI * R;\n  let acc = 0;\n  const circles = segs.map(s => {\n    const frac = s.pct / total;\n    const len = frac * C;\n    const dash = `${len.toFixed(3)} ${(C - len).toFixed(3)}`;\n    const offset = -acc;\n    acc += len;\n    return `<circle cx=\"120\" cy=\"95\" r=\"${R}\" fill=\"none\" stroke=\"${s.color}\" stroke-width=\"20\" stroke-dasharray=\"${dash}\" stroke-dashoffset=\"${offset.toFixed(3)}\" transform=\"rotate(-90 120 95)\"/>`;\n  }).join(\"\");\n  const durMin = num(d.duracion_minutos, 28);\n  const legend = segs.map((s, i) => {\n    const y = 192 + i * 16;\n    const mins = Math.round((s.pct / total) * durMin);\n    return `<circle cx=\"12\" cy=\"${y}\" r=\"4\" fill=\"${s.color}\"/><text x=\"24\" y=\"${y + 4}\" font-family=\"Inter,sans-serif\" font-size=\"11\" fill=\"#E5E5E5\">${s.label} <tspan fill=\"#737373\">— ${Math.round(s.pct)}% (${mins} min)</tspan></text>`;\n  }).join(\"\");\n  return `<svg width=\"240\" height=\"256\" viewBox=\"0 0 240 256\" xmlns=\"http://www.w3.org/2000/svg\" role=\"img\" aria-label=\"Distribución de tiempo por actividad\" style=\"display:block;margin:0 auto;\">\n    <circle cx=\"120\" cy=\"95\" r=\"${R}\" fill=\"none\" stroke=\"#262626\" stroke-width=\"20\"/>\n    ${circles}\n    <text x=\"120\" y=\"91\" text-anchor=\"middle\" fill=\"#FFFFFF\" font-family=\"Montserrat,sans-serif\" font-weight=\"700\" font-size=\"22\">${durTxt(d.duracion_texto, d.duracion_minutos)}</text>\n    <text x=\"120\" y=\"107\" text-anchor=\"middle\" fill=\"#737373\" font-family=\"Inter,sans-serif\" font-size=\"9\" letter-spacing=\"2\">TOTAL</text>\n    ${legend}\n  </svg>`;\n}\n\n// ---- Barra genérica (frecuencia de temas / principios neuro) -------------\nfunction barRow(label, pct, colorHex) {\n  const w = Math.max(0, Math.min(100, Math.round(pct)));\n  return `<tr><td style=\"padding:0 0 4px 0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n    <td style=\"font-family:Inter,sans-serif;font-size:13px;color:#E5E5E5;letter-spacing:0.3px;\">${esc(label)}</td>\n    <td align=\"right\" style=\"font-family:Inter,sans-serif;font-size:12px;color:#EAB308;font-weight:600;\">${w}%</td></tr></table></td></tr>\n    <tr><td style=\"padding:0 0 13px 0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#262626;border-radius:99px;\"><tr>\n    <td style=\"font-size:0;line-height:0;\"><table width=\"${w}%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n    <td height=\"6\" style=\"background:${colorHex};border-radius:99px;font-size:0;line-height:0;\">&nbsp;</td></tr></table></td></tr></table></td></tr>`;\n}\n\nfunction scoreBarRow(label, score10, colorHex) {\n  const pct = Math.max(0, Math.min(100, Math.round(num(score10, 0) * 10)));\n  return `<tr><td style=\"padding:0 0 8px 0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n    <td style=\"font-family:Inter,sans-serif;font-size:13px;color:#cfcfd6;\">${esc(label)}</td>\n    <td align=\"right\" style=\"font-family:Montserrat,sans-serif;font-weight:700;font-size:15px;color:${colorHex};\">${scoreStr(num(score10,0))}/10</td></tr></table></td></tr>`;\n}\n\n// ---- Bloques opcionales: solo se pintan si hay datos REALES --------------\n// Regla de precisión (ver feedback_research_accuracy): nunca se inventan\n// transcripciones, quiz u objeciones de ejemplo para una sesión real. Si el\n// payload no trae esos arreglos, la sección se omite en vez de mostrar\n// contenido ficticio.\n\nfunction buildHistorialRows(d) {\n  const hist = Array.isArray(d.historial) ? d.historial.filter(h => h && h.fecha) : [];\n  const rows = [...hist];\n  rows.push({ fecha: fechaDisplayShort(d.fecha_formato), sesion_num: d.sesion_numero, score: d.scoreTotal, current: true });\n  const maxScore = 10;\n  return rows.map(h => {\n    const pct = Math.max(4, Math.round((num(h.score, 0) / maxScore) * 100));\n    const barColor = h.current ? \"#EAB308\" : \"#8a7530\";\n    const txtColor = h.current ? \"#FFFFFF\" : \"#a3a3a3\";\n    const scoreColor = h.current ? \"#EAB308\" : \"#a3a3a3\";\n    const weight = h.current ? \"font-weight:600;\" : \"\";\n    return `<tr><td style=\"padding:0 0 10px 0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n      <td width=\"150\" style=\"font-family:Inter,sans-serif;font-size:12px;color:${txtColor};${weight}\">${esc(h.fecha)}${h.sesion_num ? \" · Sesión \" + esc(h.sesion_num) : \"\"}</td>\n      <td style=\"padding:0 12px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#262626;border-radius:99px;\"><tr><td style=\"font-size:0;line-height:0;\"><table width=\"${pct}%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td height=\"6\" style=\"background:${barColor};border-radius:99px;font-size:0;line-height:0;\">&nbsp;</td></tr></table></td></tr></table></td>\n      <td width=\"46\" align=\"right\" style=\"font-family:Montserrat,sans-serif;font-weight:700;font-size:14px;color:${scoreColor};\">${scoreStr(num(h.score,0))}</td>\n      </tr></table></td></tr>`;\n  }).join(\"\");\n}\nfunction fechaDisplayShort(fecha_formato) {\n  const m = /^(\\d{2})-(\\d{2})-(\\d{4})$/.exec(fecha_formato || \"\");\n  if (!m) return esc(fecha_formato || \"\");\n  return `${m[1]}-${m[2]}-${m[3]}`;\n}\n\nfunction buildTranscriptHTML(d) {\n  const turns = Array.isArray(d.transcript) ? d.transcript : [];\n  if (!turns.length) {\n    return `<div style=\"font-family:Inter,sans-serif;font-size:13px;line-height:20px;color:#6a6a6a;padding:8px 0;\">Transcripción no disponible para esta sesión.</div>`;\n  }\n  return turns.map(t => {\n    const isVictor = String(t.role || t.speaker || \"\").toLowerCase().indexOf(\"victor\") !== -1 || String(t.role||\"\").toLowerCase()===\"agent\";\n    const align = isVictor ? \"left\" : \"right\";\n    const bg = isVictor ? \"#161410\" : \"#14131a\";\n    const border = isVictor ? \"#2a2620\" : \"#2a2740\";\n    const tagColor = isVictor ? \"#EAB308\" : \"#9b8cff\";\n    const tag = isVictor ? \"VÍCTOR\" : \"ASESOR\";\n    let timeRaw = t.time || t.timestamp;\n    if (!timeRaw && t.time_in_call_secs != null) {\n      const s = Number(t.time_in_call_secs) || 0;\n      timeRaw = `+${Math.floor(s / 60)}:${String(Math.round(s % 60)).padStart(2, \"0\")}`;\n    }\n    const time = esc(timeRaw || \"\");\n    const msg = esc(t.text || t.message || \"\");\n    return `<tr><td style=\"padding:0 0 12px 0;\">\n      <table role=\"presentation\" width=\"82%\" align=\"${align}\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:${bg};border:1px solid ${border};border-radius:14px;\">\n        <tr><td style=\"padding:13px 17px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n          <td style=\"font-family:Inter,sans-serif;font-size:10px;letter-spacing:2px;color:${tagColor};font-weight:700;\">${tag}</td>\n          <td align=\"right\" style=\"font-family:Inter,sans-serif;font-size:10px;color:#5a5a62;letter-spacing:0.5px;\">${time}</td>\n        </tr></table><div style=\"height:6px;font-size:0;\">&nbsp;</div><div style=\"font-family:Inter,sans-serif;font-size:14px;line-height:22px;color:#dcdce2;\">${msg}</div></td></tr>\n      </table><div style=\"clear:both;font-size:0;line-height:0;\">&nbsp;</div>\n    </td></tr>`;\n  }).join(\"\");\n}\n\nfunction buildQuizHTML(d) {\n  const quiz = Array.isArray(d.quiz) ? d.quiz : [];\n  if (!quiz.length) return null;\n  return quiz.map((q, i) => {\n    const correct = !!q.correcto;\n    const badge = correct\n      ? `<span style=\"display:inline-block;font-family:Inter,sans-serif;font-size:10px;letter-spacing:1.5px;font-weight:700;text-transform:uppercase;padding:5px 12px;border-radius:99px;background:rgba(92,192,138,0.15);color:#5cc08a;\">✓ Correcto</span>`\n      : `<span style=\"display:inline-block;font-family:Inter,sans-serif;font-size:10px;letter-spacing:1.5px;font-weight:700;text-transform:uppercase;padding:5px 12px;border-radius:99px;background:rgba(224,131,111,0.15);color:#e0836f;\">✗ Incorrecto</span>`;\n  return `<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#171717;border:1px solid #262626;border-radius:12px;margin-bottom:14px;\"><tr><td style=\"padding:20px 22px;\">\n      <div style=\"font-family:Inter,sans-serif;font-size:14px;line-height:21px;color:#FFFFFF;font-weight:600;\">${i + 1}. ${esc(q.pregunta)}</div>\n      <div style=\"height:10px;font-size:0;\">&nbsp;</div>\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n        <td style=\"font-family:Inter,sans-serif;font-size:13px;color:#a3a3a3;padding:0 0 4px 0;\">Tu respuesta: <span style=\"color:#E5E5E5;\">${esc(q.respuesta)}</span></td>\n      </tr><tr>\n        <td style=\"font-family:Inter,sans-serif;font-size:13px;color:#a3a3a3;padding:0 0 10px 0;\">Respuesta correcta: <span style=\"color:#5cc08a;\">${esc(q.correcta)}</span></td>\n      </tr></table>\n      ${badge}\n      ${q.nota ? `<div style=\"height:10px;font-size:0;\">&nbsp;</div><div style=\"font-family:Inter,sans-serif;font-size:13px;line-height:20px;color:#a3a3a3;\">${esc(q.nota)}</div>` : \"\"}\n    </td></tr></table>`;\n  }).join(\"\");\n}\n\nfunction buildObjecionesHTML(d) {\n  const objs = Array.isArray(d.objeciones_detalle) ? d.objeciones_detalle : [];\n  if (!objs.length) return null;\n  const items = objs.map((o, i) => `<strong>${i + 1}. \"${esc(o.objecion)}\"</strong> → <span style=\"color:#a3a3a3;\">Respondiste:</span> \"${esc(o.respuesta)}\"`).join(\"<br><br>\");\n  return items;\n}\n\nfunction bulletize(text) {\n  // Si el texto trae separador \" | \" lo convierte en bullets negrita; si no,\n  // lo deja como un párrafo simple (nunca inventa contenido).\n  if (!text) return \"\";\n  const parts = String(text).split(\"|\").map(s => s.trim()).filter(Boolean);\n  if (parts.length <= 1) return esc(text);\n  return parts.map(p => `• ${esc(p)}`).join(\"<br>\");\n}\n\nfunction buildActivityRows(d) {\n  const mods = String(d.modulos_practicados || \"\").split(\",\").map(s => s.trim()).filter(Boolean);\n  if (!mods.length) return \"\";\n  return mods.map(m => `<tr><td valign=\"top\" width=\"26\" style=\"font-family:Inter,sans-serif;font-size:14px;color:#5cc08a;padding:0 0 10px 0;\">✓</td>\n    <td valign=\"top\" style=\"font-family:Inter,sans-serif;font-size:14px;line-height:20px;color:#E5E5E5;padding:0 0 10px 0;\">${esc(m)}</td></tr>`).join(\"\");\n}\n\n// ============================================================================\nfunction generateVTCReport(d) {\n  const scoreN = num(d.scoreTotal, 8.5);\n  const scorePct = Math.max(0, Math.min(100, Math.round(scoreN * 10)));\n  const fecha = fechaDisplay(d.fecha_formato);\n  const nombreCorto = String(d.nombre || d.employee_name || \"Usuario\").split(\" \")[0];\n\n  // Insight dinámico top/bottom competencia\n  const comp = RADAR_AXES.map(ax => ({ label: ax.label.toLowerCase(), v: num(d[ax.key], 0) }));\n  const sorted = [...comp].sort((a, b) => b.v - a.v);\n  const top2 = sorted.slice(0, 2).map(c => c.label).join(\" y \");\n  const bottom = sorted[sorted.length - 1].label;\n  const insight = `${nombreCorto} domina ${top2}; ${bottom} es la última pieza para la excelencia.`;\n\n  const objecionesHTML = buildObjecionesHTML(d);\n  const quizHTML = buildQuizHTML(d);\n  const durMin = num(d.duracion_minutos, 0);\n\n  const audioHref = d.conversation_id && !String(d.conversation_id).startsWith(\"AUTO_\")\n    ? `https://vtc-capacitacion-deploy.vercel.app/api/audio?conv=${encodeURIComponent(d.conversation_id)}`\n    : \"https://victor-ia-training.vercel.app/\";\n\n  const html = `<!DOCTYPE html>\n<html lang=\"es\" xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\">\n<head>\n<meta charset=\"utf-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n<meta name=\"x-apple-disable-message-reformatting\">\n<meta name=\"color-scheme\" content=\"dark\"><meta name=\"supported-color-schemes\" content=\"dark\">\n<title>Reporte de entrenamiento · Víctor · VTC</title>\n<!--[if mso]><noscript><xml><o:OfficeDocumentSettings><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml></noscript><![endif]-->\n<link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Inter:wght@400;500;600&display=swap\" rel=\"stylesheet\">\n<style>\n  body,table,td,a{ -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }\n  table,td{ mso-table-lspace:0; mso-table-rspace:0; }\n  img{ -ms-interpolation-mode:bicubic; border:0; outline:none; text-decoration:none; display:block; }\n  body{ margin:0; padding:0; width:100%!important; background:#0A0A0A; }\n  a{ color:#EAB308; text-decoration:none; }\n  .card{ background:#171717; border:1px solid #262626; border-radius:12px; }\n  .card-shadow{ box-shadow:0 4px 6px -1px rgba(0,0,0,0.5); }\n  .btn-gold{ background:#EAB308; color:#000000; font-family:Montserrat,sans-serif; font-weight:700; border-radius:12px; }\n  .heading{ font-family:Montserrat,sans-serif; font-weight:700; text-transform:uppercase; letter-spacing:0.1em; }\n  .body-text{ font-family:Inter,sans-serif; font-weight:400; }\n  @media only screen and (max-width:620px){\n    .container{ width:100%!important; }\n    .px{ padding-left:24px!important; padding-right:24px!important; }\n    .stack{ display:block!important; width:100%!important; }\n    .stack-pad{ padding:0 0 14px 0!important; }\n    .h1{ font-size:26px!important; line-height:32px!important; }\n    .score-num{ font-size:64px!important; }\n    .metric-num{ font-size:18px!important; }\n    .radar-img{ width:280px!important; height:280px!important; }\n    .chart-half{ width:100%!important; }\n  }\n</style>\n</head>\n<body style=\"margin:0;padding:0;background:#0A0A0A;\">\n<div style=\"display:none;max-height:0;overflow:hidden;opacity:0;font-size:1px;line-height:1px;color:#0A0A0A;\">\n  ${esc(d.nombre)}, tu sesión con Víctor: ${scoreStr(scoreN)}/10. Análisis completo, competencias, PNL y tu próximo drill.\n</div>\n\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#0A0A0A;\">\n<tr><td align=\"center\" style=\"padding:32px 16px;\">\n\n<table role=\"presentation\" class=\"container\" width=\"640\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"width:640px;max-width:640px;background:#171717;border:1px solid #262626;border-radius:12px;overflow:hidden;box-shadow:0 4px 6px -1px rgba(0,0,0,0.5);\">\n\n  <!-- HEADER -->\n  <tr><td class=\"px\" style=\"padding:38px 44px 26px 44px;border-bottom:1px solid #262626;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n      <td align=\"left\" class=\"heading\" style=\"font-size:12px;letter-spacing:3.5px;color:#EAB308;font-weight:600;\">VICTORIOUS&nbsp;TRAVELERS&nbsp;CLUB&nbsp;&nbsp;|&nbsp;&nbsp;${fecha}</td>\n    </tr></table>\n    <div style=\"height:18px;font-size:0;\">&nbsp;</div>\n    <div class=\"h1 heading\" style=\"font-size:32px;line-height:38px;color:#FFFFFF;letter-spacing:-0.3px;font-weight:800;\">Reporte de entrenamiento</div>\n    <div style=\"height:8px;font-size:0;\">&nbsp;</div>\n    <div class=\"body-text\" style=\"font-family:Inter,sans-serif;font-size:12px;line-height:17px;color:#A3A3A3;letter-spacing:0.2px;\">Idioma de la sesión: ${esc(d.idioma)}&nbsp;&nbsp;|&nbsp;&nbsp;Duración: ${durTxt(d.duracion_texto, d.duracion_minutos)}</div>\n    <div style=\"height:8px;font-size:0;\">&nbsp;</div>\n    <div class=\"body-text\" style=\"font-size:16px;line-height:23px;color:#A3A3A3;letter-spacing:0.2px;\">Sesión de Víctor con <strong style=\"color:#FFFFFF;font-weight:700;background:rgba(234,179,8,0.12);padding:2px 8px;border-radius:6px;\">${esc(d.nombre)}</strong> · ${esc(d.escenario || \"Entrenamiento VTC\")} · ${durTxt(d.duracion_texto, d.duracion_minutos)} · ${esc(d.hora_inicio)}–${esc(d.hora_fin)}</div>\n    <div style=\"height:12px;font-size:0;\">&nbsp;</div>\n    <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n      <td class=\"heading\" style=\"font-size:11px;letter-spacing:1px;color:#EAB308;background:#1a1410;border:1px solid #262626;border-radius:12px;padding:8px 14px;font-weight:600;\">EMPLEADO&nbsp;Nº&nbsp;${esc(d.empleado_id)}</td>\n      <td style=\"width:8px;\">&nbsp;</td>\n      <td class=\"heading body-text\" style=\"font-size:11px;letter-spacing:1px;color:#A3A3A3;background:#1a1a1a;border:1px solid #262626;border-radius:12px;padding:8px 14px;font-weight:500;\">${esc(d.departamento || \"Dirección de Ventas\")}</td>\n      <td style=\"width:8px;\">&nbsp;</td>\n      <td class=\"heading body-text\" style=\"font-size:11px;letter-spacing:1px;color:#A3A3A3;background:#1a1a1a;border:1px solid #262626;border-radius:12px;padding:8px 14px;font-weight:500;\">${esc(d.puesto || \"Asesor de Ventas\")}</td>\n    </tr></table>\n  </td></tr>\n\n  <!-- SCORE HERO -->\n  <tr><td class=\"px\" style=\"padding:36px 44px 28px 44px;\" align=\"center\">\n    <div class=\"heading\" style=\"font-size:11px;letter-spacing:3px;color:#A3A3A3;font-weight:600;\">Desempeño global</div>\n    <div style=\"height:6px;font-size:0;\">&nbsp;</div>\n    <div class=\"score-num heading\" style=\"font-size:84px;line-height:88px;color:#EAB308;letter-spacing:-2px;font-weight:800;\">${scoreStr(scoreN)}<span style=\"font-size:30px;color:#A3A3A3;letter-spacing:0;\">/10</span></div>\n    <div style=\"height:14px;font-size:0;\">&nbsp;</div>\n    <table role=\"presentation\" width=\"320\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:320px;\"><tr>\n      <td style=\"background:#262626;border-radius:99px;font-size:0;line-height:0;\">\n        <table role=\"presentation\" width=\"${scorePct}%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td height=\"6\" style=\"background:#EAB308;border-radius:99px;font-size:0;line-height:0;\">&nbsp;</td></tr></table>\n      </td></tr></table>\n    <div style=\"height:14px;font-size:0;\">&nbsp;</div>\n    <div class=\"body-text\" style=\"font-size:14px;line-height:21px;color:#FFFFFF;letter-spacing:0.2px;font-weight:500;\">${esc(insight)}</div>\n  </td></tr>\n\n  <!-- RESUMEN DE LA LLAMADA -->\n  <tr><td class=\"px\" style=\"padding:8px 44px 6px 44px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#171717;border:1px solid #262626;border-radius:12px;\"><tr><td style=\"padding:22px 24px;\">\n      <div style=\"font-family:Inter,sans-serif;font-size:11px;letter-spacing:3px;color:#EAB308;text-transform:uppercase;font-weight:600;\">Resumen de la llamada</div>\n      <div style=\"height:10px;font-size:0;\">&nbsp;</div>\n      <div style=\"font-family:Inter,sans-serif;font-size:15px;line-height:24px;color:#FFFFFF;letter-spacing:0.1px;\">${esc(d.resumen)}</div>\n    </td></tr></table>\n  </td></tr>\n\n  <!-- ESCENARIO + MÓDULOS -->\n  <tr><td class=\"px\" style=\"padding:16px 36px 8px 36px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n    <td class=\"stack stack-pad\" width=\"50%\" valign=\"top\" style=\"padding:8px;\">\n      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#171717;border:1px solid #262626;border-radius:12px;\"><tr><td style=\"padding:18px 20px;\">\n        <div style=\"font-family:Inter,sans-serif;font-size:10px;letter-spacing:2.5px;color:#A3A3A3;text-transform:uppercase;\">Escenario</div>\n        <div style=\"height:7px;font-size:0;\">&nbsp;</div>\n        <div class=\"metric-num\" style=\"font-family:Montserrat,sans-serif;font-weight:700;font-size:19px;color:#FFFFFF;line-height:24px;\">${esc(d.escenario || \"Sesión de coaching\")}</div>\n        <div style=\"font-family:Inter,sans-serif;font-size:12px;color:#8a8a92;line-height:17px;margin-top:3px;\">${esc(d.tipo_actividad || \"Roleplay\")} · ${esc(d.idioma)}</div>\n      </td></tr></table></td>\n    <td class=\"stack stack-pad\" width=\"50%\" valign=\"top\" style=\"padding:8px;\">\n      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#171717;border:1px solid #262626;border-radius:12px;\"><tr><td style=\"padding:18px 20px;\">\n        <div style=\"font-family:Inter,sans-serif;font-size:10px;letter-spacing:2.5px;color:#A3A3A3;text-transform:uppercase;\">Módulos practicados</div>\n        <div style=\"height:7px;font-size:0;\">&nbsp;</div>\n        <div class=\"metric-num\" style=\"font-family:Montserrat,sans-serif;font-weight:700;font-size:19px;color:#FFFFFF;line-height:24px;\">${esc(d.modulos_practicados)}</div>\n      </td></tr></table></td></tr></table>\n  </td></tr>\n\n  <!-- 4 KPIs -->\n  <tr><td class=\"px\" style=\"padding:10px 40px 4px 40px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n    <td class=\"stack\" width=\"25%\" valign=\"top\" style=\"padding:6px;\">\n      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#171717;border:1px solid #262626;border-radius:10px;\"><tr><td align=\"center\" style=\"padding:14px 8px;\">\n        <div class=\"metric-num\" style=\"font-family:Montserrat,sans-serif;font-weight:700;font-size:20px;color:#FFFFFF;line-height:24px;\">${durTxt(d.duracion_texto, d.duracion_minutos)}</div>\n        <div style=\"font-family:Inter,sans-serif;font-size:9px;letter-spacing:1.5px;color:#A3A3A3;text-transform:uppercase;margin-top:4px;\">Tiempo total</div>\n      </td></tr></table></td>\n    <td class=\"stack\" width=\"25%\" valign=\"top\" style=\"padding:6px;\">\n      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#171717;border:1px solid #262626;border-radius:10px;\"><tr><td align=\"center\" style=\"padding:14px 8px;\">\n        <div class=\"metric-num\" style=\"font-family:Montserrat,sans-serif;font-weight:700;font-size:20px;color:#FFFFFF;line-height:24px;\">#${esc(d.sesion_numero)}</div>\n        <div style=\"font-family:Inter,sans-serif;font-size:9px;letter-spacing:1.5px;color:#A3A3A3;text-transform:uppercase;margin-top:4px;\">Sesión Nº</div>\n      </td></tr></table></td>\n    <td class=\"stack\" width=\"25%\" valign=\"top\" style=\"padding:6px;\">\n      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#171717;border:1px solid #262626;border-radius:10px;\"><tr><td align=\"center\" style=\"padding:14px 8px;\">\n        <div class=\"metric-num\" style=\"font-family:Montserrat,sans-serif;font-weight:700;font-size:20px;color:#EAB308;line-height:24px;\">${scoreStr(scoreN)}/10</div>\n        <div style=\"font-family:Inter,sans-serif;font-size:9px;letter-spacing:1.5px;color:#A3A3A3;text-transform:uppercase;margin-top:4px;\">Score promedio</div>\n      </td></tr></table></td>\n    <td class=\"stack\" width=\"25%\" valign=\"top\" style=\"padding:6px;\">\n      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#171717;border:1px solid #262626;border-radius:10px;\"><tr><td align=\"center\" style=\"padding:14px 8px;\">\n        <div class=\"metric-num\" style=\"font-family:Montserrat,sans-serif;font-weight:700;font-size:20px;color:#5cc08a;line-height:24px;\">+${esc(d.potencial_mejora)}%</div>\n        <div style=\"font-family:Inter,sans-serif;font-size:9px;letter-spacing:1.5px;color:#A3A3A3;text-transform:uppercase;margin-top:4px;\">Potencial mejora</div>\n      </td></tr></table></td>\n    </tr></table>\n  </td></tr>\n\n  <!-- MAPA DE COMPETENCIAS -->\n  <tr><td class=\"px\" style=\"padding:26px 44px 8px 44px;\" align=\"center\">\n    <div class=\"heading\" style=\"font-size:11px;letter-spacing:3px;color:#A3A3A3;font-weight:600;\">Mapa de competencias</div>\n    <div style=\"height:14px;font-size:0;\">&nbsp;</div>\n    <div class=\"radar-img\" style=\"width:360px;height:360px;max-width:100%;margin:0 auto;\">${buildRadarSVG(d)}</div>\n  </td></tr>\n\n  <!-- PROGRESO HISTÓRICO -->\n  <tr><td class=\"px\" style=\"padding:22px 44px 6px 44px;\">\n    <div style=\"font-family:Inter,sans-serif;font-size:11px;letter-spacing:3px;color:#8a8a8a;text-transform:uppercase;\">Progreso histórico</div>\n    <div style=\"height:14px;font-size:0;\">&nbsp;</div>\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n      ${buildHistorialRows(d)}\n    </table>\n  </td></tr>\n\n  <!-- PIE + FRECUENCIA DE TEMAS -->\n  <tr><td class=\"px\" style=\"padding:26px 44px 8px 44px;\">\n    <div class=\"heading\" style=\"font-size:11px;letter-spacing:3px;color:#A3A3A3;font-weight:600;\">Distribución de actividades y frecuencia de temas</div>\n    <div style=\"height:16px;font-size:0;\">&nbsp;</div>\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse:collapse;\">\n      <tr>\n        <td class=\"chart-half\" style=\"width:50%;padding:0 14px 0 0;vertical-align:top;\">\n          <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"card card-shadow\" style=\"min-height:404px;background:#171717;border:1px solid #262626;border-radius:12px;\">\n            <tr><td align=\"center\" style=\"padding:24px 16px 20px 16px;\">\n              <div class=\"heading body-text\" style=\"font-size:13px;letter-spacing:2px;color:#A3A3A3;font-weight:800;margin-bottom:16px;\">DISTRIBUCIÓN DE TIEMPO</div>\n              <div style=\"width:240px;height:256px;max-width:100%;margin:0 auto;\">${buildPieSVG(d)}</div>\n            </td></tr>\n          </table>\n        </td>\n        <td class=\"chart-half\" style=\"width:50%;padding:0 0 0 14px;vertical-align:top;\">\n          <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"card card-shadow\" style=\"min-height:404px;background:#171717;border:1px solid #262626;border-radius:12px;\">\n            <tr><td style=\"padding:24px 16px 20px 16px;\">\n              <div class=\"heading body-text\" style=\"font-size:10px;letter-spacing:2px;color:#A3A3A3;font-weight:600;margin-bottom:12px;\">FRECUENCIA DE TEMAS</div>\n              <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                ${barRow(\"Precio\", num(d.precio, 0) * 10, \"#EAB308\")}\n                ${barRow(\"Incentivos\", num(d.incentivos, 0) * 10, \"#b8860b\")}\n                ${barRow(\"Tiempo\", num(d.tiempo, 0) * 10, \"#EAB308\")}\n                ${barRow(\"Indecisión\", num(d.indecision, 0) * 10, \"#6b5518\")}\n              </table>\n            </td></tr>\n          </table>\n        </td>\n      </tr>\n    </table>\n  </td></tr>\n\n  <!-- PRINCIPIOS NEUROCIENTÍFICOS -->\n  <tr><td class=\"px\" style=\"padding:18px 44px 6px 44px;\">\n    <div style=\"font-family:Inter,sans-serif;font-size:14px;letter-spacing:3px;color:#8a8a8a;text-transform:uppercase;font-weight:800;\">Principios neurocientíficos activados</div>\n    <div style=\"height:16px;font-size:0;\">&nbsp;</div>\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n      ${barRow(\"🧠 Patrones Hipnóticos\", num(d.pct_patrones, 50), \"#EAB308\")}\n      ${barRow(\"🧠 Fraseología Erickson\", num(d.pct_fraseologia, 50), \"#EAB308\")}\n      ${barRow(\"🧠 Cambios de Contexto\", num(d.pct_contexto, 50), \"#EAB308\")}\n    </table>\n  </td></tr>\n\n  <!-- LO QUE HICISTE BIEN -->\n  <tr><td class=\"px\" style=\"padding:24px 44px 18px 44px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#1a1a1a;border-left:3px solid #EAB308;border-radius:0 10px 10px 0;\"><tr><td style=\"padding:18px 22px 18px 22px;\">\n      <div style=\"font-family:Inter,sans-serif;font-size:14px;letter-spacing:2.5px;color:#EAB308;text-transform:uppercase;font-weight:800;\">✓ Lo que hiciste bien</div>\n      <div style=\"height:8px;font-size:0;\">&nbsp;</div>\n      <div style=\"font-family:Inter,sans-serif;font-size:15px;line-height:23px;color:#FFFFFF;letter-spacing:0.1px;\">${bulletize(d.fortalezas)}</div>\n    </td></tr></table>\n  </td></tr>\n\n  <!-- A MEJORAR -->\n  <tr><td class=\"px\" style=\"padding:0 44px 18px 44px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#1a1a1a;border-left:3px solid #b8860b;border-radius:0 10px 10px 0;\"><tr><td style=\"padding:18px 22px 18px 22px;\">\n      <div style=\"font-family:Inter,sans-serif;font-size:14px;letter-spacing:2.5px;color:#b8860b;text-transform:uppercase;font-weight:800;\">△ A mejorar</div>\n      <div style=\"height:8px;font-size:0;\">&nbsp;</div>\n      <div style=\"font-family:Inter,sans-serif;font-size:15px;line-height:23px;color:#FFFFFF;letter-spacing:0.1px;\">${bulletize(d.areas_mejora)}</div>\n    </td></tr></table>\n  </td></tr>\n\n  ${objecionesHTML ? `<!-- OBJECIONES -->\n  <tr><td class=\"px\" style=\"padding:0 44px 0 44px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#1a1a1a;border-left:3px solid #4a4a4a;border-radius:0 10px 10px 0;\"><tr><td style=\"padding:18px 22px 18px 22px;\">\n      <div style=\"font-family:Inter,sans-serif;font-size:14px;letter-spacing:2.5px;color:#A3A3A3;text-transform:uppercase;font-weight:800;\">Objeciones que enfrentaste</div>\n      <div style=\"height:8px;font-size:0;\">&nbsp;</div>\n      <div style=\"font-family:Inter,sans-serif;font-size:15px;line-height:23px;color:#FFFFFF;letter-spacing:0.1px;\">${objecionesHTML}</div>\n    </td></tr></table>\n  </td></tr>` : \"\"}\n\n  <!-- ANÁLISIS PNL -->\n  <tr><td class=\"px\" style=\"padding:28px 44px 6px 44px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#181620;border:1px solid #2c2838;border-radius:12px;\"><tr><td style=\"padding:28px 28px;\">\n      <div style=\"font-family:Inter,sans-serif;font-size:14px;letter-spacing:3px;color:#9b8cff;text-transform:uppercase;font-weight:800;\">🧠 Análisis PNL</div>\n      <div style=\"height:10px;font-size:0;\">&nbsp;</div>\n      <div style=\"font-family:Inter,sans-serif;font-size:15px;line-height:24px;color:#FFFFFF;letter-spacing:0.1px;\">${esc(d.analisis_pnl)}</div>\n    </td></tr></table>\n  </td></tr>\n\n  <!-- PRÓXIMO DRILL -->\n  <tr><td class=\"px\" style=\"padding:24px 44px 8px 44px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#221d10;border:1px solid #3a3020;border-radius:12px;\"><tr><td style=\"padding:28px 28px;\">\n      <div style=\"font-family:Inter,sans-serif;font-size:14px;letter-spacing:3px;color:#EAB308;text-transform:uppercase;font-weight:800;\">🎯 Tu próximo drill</div>\n      <div style=\"height:10px;font-size:0;\">&nbsp;</div>\n      <div style=\"font-family:Montserrat,sans-serif;font-size:18px;line-height:26px;color:#FFFFFF;letter-spacing:0.1px;font-weight:700;\">${esc(d.recomendacion_siguiente)}</div>\n      <div style=\"height:18px;font-size:0;\">&nbsp;</div>\n      <!--[if mso]><v:roundrect xmlns:v=\"urn:schemas-microsoft-com:vml\" href=\"https://victor-ia-training.vercel.app/\" style=\"height:44px;v-text-anchor:middle;width:230px;\" arcsize=\"50%\" fillcolor=\"#EAB308\" stroke=\"f\"><center><![endif]-->\n      <a href=\"https://victor-ia-training.vercel.app/\" style=\"display:inline-block;background:#EAB308;color:#000000;font-family:Montserrat,sans-serif;font-size:13px;font-weight:700;letter-spacing:1.5px;text-transform:uppercase;padding:14px 30px;border-radius:12px;box-shadow:0 4px 6px -1px rgba(0,0,0,0.5);\">Entrenar de nuevo</a>\n      <!--[if mso]></center></v:roundrect><![endif]-->\n    </td></tr></table>\n  </td></tr>\n\n  ${quizHTML ? `<!-- QUIZ -->\n  <tr><td class=\"px\" style=\"padding:28px 44px 6px 44px;\">\n    <div style=\"font-family:Inter,sans-serif;font-size:14px;letter-spacing:3px;color:#8a8a8a;text-transform:uppercase;font-weight:800;\">Evaluación de comprensión · Quiz</div>\n    <div style=\"height:16px;font-size:0;\">&nbsp;</div>\n    ${quizHTML}\n  </td></tr>` : \"\"}\n\n  <!-- TRANSCRIPCIÓN -->\n  <tr><td class=\"px\" style=\"padding:30px 44px 6px 44px;border-top:1px solid #262626;\">\n    <div style=\"font-family:Inter,sans-serif;font-size:14px;letter-spacing:3px;color:#8a8a8a;text-transform:uppercase;font-weight:800;\">Transcripción completa</div>\n    <div style=\"height:6px;font-size:0;\">&nbsp;</div>\n    <div style=\"font-family:Inter,sans-serif;font-size:12px;line-height:18px;color:#6a6a6a;letter-spacing:0.2px;\">Conversación palabra por palabra entre Víctor y el asesor.</div>\n    <div style=\"height:18px;font-size:0;\">&nbsp;</div>\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n    ${buildTranscriptHTML(d)}\n    </table>\n  </td></tr>\n\n  <!-- PLAN DE ACCIÓN PARA EL GERENTE -->\n  <tr><td class=\"px\" style=\"padding:28px 44px 6px 44px;border-top:1px solid #262626;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#141c17;border:1px solid #22331f;border-radius:12px;\"><tr><td style=\"padding:28px 28px;\">\n      <div style=\"font-family:Inter,sans-serif;font-size:14px;letter-spacing:3px;color:#5cc08a;text-transform:uppercase;font-weight:800;\">📋 Plan de acción · para el gerente</div>\n      <div style=\"height:6px;font-size:0;\">&nbsp;</div>\n      <div style=\"font-family:Inter,sans-serif;font-size:12px;line-height:18px;color:#7a9483;letter-spacing:0.2px;\">Pasos concretos para llevar a este asesor a la excelencia.</div>\n      <div style=\"height:14px;font-size:0;\">&nbsp;</div>\n      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n        <tr><td valign=\"top\" width=\"30\" style=\"font-family:Montserrat,sans-serif;font-weight:700;font-size:16px;color:#5cc08a;padding:0 0 12px 0;\">1.</td>\n        <td valign=\"top\" style=\"font-family:Inter,sans-serif;font-size:14px;line-height:21px;color:#cfd8d2;padding:0 0 12px 0;\"><strong>${esc(d.accion1)}</strong> — ${esc(d.accion1_desc)}</td></tr>\n        <tr><td valign=\"top\" width=\"30\" style=\"font-family:Montserrat,sans-serif;font-weight:700;font-size:16px;color:#5cc08a;padding:0 0 12px 0;\">2.</td>\n        <td valign=\"top\" style=\"font-family:Inter,sans-serif;font-size:14px;line-height:21px;color:#cfd8d2;padding:0 0 12px 0;\"><strong>${esc(d.accion2)}</strong> — ${esc(d.accion2_desc)}</td></tr>\n        <tr><td valign=\"top\" width=\"30\" style=\"font-family:Montserrat,sans-serif;font-weight:700;font-size:16px;color:#5cc08a;padding:0 0 12px 0;\">3.</td>\n        <td valign=\"top\" style=\"font-family:Inter,sans-serif;font-size:14px;line-height:21px;color:#cfd8d2;padding:0 0 12px 0;\"><strong>${esc(d.accion3)}</strong> — ${esc(d.accion3_desc)}</td></tr>\n      </table>\n    </td></tr></table>\n  </td></tr>\n\n  <!-- ANÁLISIS DEL APRENDIZAJE -->\n  <tr><td class=\"px\" style=\"padding:28px 44px 6px 44px;border-top:1px solid #262626;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n      <td><div style=\"font-family:Inter,sans-serif;font-size:14px;letter-spacing:3px;color:#8a8a8a;text-transform:uppercase;font-weight:800;\">Análisis del aprendizaje</div></td>\n      <td align=\"right\"><span class=\"heading body-text\" style=\"font-size:11px;letter-spacing:1px;color:#A3A3A3;background:#1a1a1a;border:1px solid #262626;border-radius:12px;padding:6px 12px;font-weight:500;\">${esc((d.tipo_actividad || \"ROLEPLAY\")).toUpperCase()}</span></td>\n    </tr></table>\n    <div style=\"height:16px;font-size:0;\">&nbsp;</div>\n\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#171717;border:1px solid #262626;border-left:3px solid #5cc08a;border-radius:10px;margin-bottom:20px;\"><tr><td style=\"padding:20px 22px;\">\n      <div style=\"font-family:Inter,sans-serif;font-size:11px;letter-spacing:1.5px;color:#5cc08a;text-transform:uppercase;font-weight:700;\">Puntos fuertes</div>\n      <div style=\"height:12px;font-size:0;\">&nbsp;</div>\n      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n        ${scoreBarRow(\"Rapport\", d.rapport, \"#5cc08a\")}\n        ${scoreBarRow(\"Escucha\", d.escucha, \"#5cc08a\")}\n        ${scoreBarRow(\"PNL\", d.pnl, \"#5cc08a\")}\n      </table>\n    </td></tr></table>\n\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#171717;border:1px solid #262626;border-left:3px solid #b8860b;border-radius:10px;\"><tr><td style=\"padding:20px 22px;\">\n      <div style=\"font-family:Inter,sans-serif;font-size:11px;letter-spacing:1.5px;color:#b8860b;text-transform:uppercase;font-weight:700;\">Brechas identificadas</div>\n      <div style=\"height:12px;font-size:0;\">&nbsp;</div>\n      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n        ${scoreBarRow(\"Cierre\", d.cierre, \"#b8860b\")}\n        ${scoreBarRow(\"Postura\", d.postura, \"#b8860b\")}\n        ${scoreBarRow(\"Objeciones\", d.objeciones, \"#b8860b\")}\n      </table>\n    </td></tr></table>\n  </td></tr>\n\n  <!-- NOTA PARA ENTRENADOR -->\n  <tr><td class=\"px\" style=\"padding:22px 44px 0 44px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#171717;border:1px solid #262626;border-radius:12px;\"><tr><td style=\"padding:20px 22px;\">\n      <div style=\"font-family:Inter,sans-serif;font-size:14px;letter-spacing:2.5px;color:#EAB308;text-transform:uppercase;font-weight:800;\">📋 Nota para entrenador</div>\n      <div style=\"height:8px;font-size:0;\">&nbsp;</div>\n      <div style=\"font-family:Inter,sans-serif;font-size:14px;line-height:22px;color:#cfcfd6;letter-spacing:0.1px;\">${esc(d.resumen)} ${esc(d.areas_mejora ? \"Área a reforzar: \" + String(d.areas_mejora).split(\"|\")[0].trim() + \".\" : \"\")}</div>\n    </td></tr></table>\n  </td></tr>\n\n  ${d.modulos_practicados ? `<!-- ACTIVIDAD DE LA SESIÓN -->\n  <tr><td class=\"px\" style=\"padding:30px 44px 6px 44px;border-top:1px solid #262626;\">\n    <div style=\"font-family:Inter,sans-serif;font-size:14px;letter-spacing:3px;color:#8a8a8a;text-transform:uppercase;font-weight:800;\">Actividad de la sesión</div>\n    <div style=\"height:6px;font-size:0;\">&nbsp;</div>\n    <div style=\"font-family:Inter,sans-serif;font-size:12px;line-height:18px;color:#6a6a6a;letter-spacing:0.2px;\">Lo que ${esc(nombreCorto)} hizo durante la sesión.</div>\n    <div style=\"height:14px;font-size:0;\">&nbsp;</div>\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n      ${buildActivityRows(d)}\n    </table>\n  </td></tr>` : \"\"}\n\n  <!-- FOOTER · CTAs -->\n  <tr><td class=\"px\" style=\"padding:24px 44px 8px 44px;border-top:1px solid #262626;\" align=\"center\">\n    <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n      <td style=\"padding:0 6px;\">\n        <!--[if mso]><v:roundrect xmlns:v=\"urn:schemas-microsoft-com:vml\" href=\"${audioHref}\" style=\"height:46px;v-text-anchor:middle;width:240px;\" arcsize=\"50%\" fillcolor=\"#242424\" strokecolor=\"#3a3a3a\"><center><![endif]-->\n        <a href=\"${audioHref}\" style=\"display:inline-block;background:#242424;border:1px solid #3a3a3a;color:#EAB308;font-family:Inter,sans-serif;font-size:12px;font-weight:700;letter-spacing:1.2px;text-transform:uppercase;padding:14px 24px;border-radius:99px;\">🎧 Escuchar audio</a>\n        <!--[if mso]></center></v:roundrect><![endif]-->\n      </td>\n      <td style=\"padding:0 6px;\">\n        <!--[if mso]><v:roundrect xmlns:v=\"urn:schemas-microsoft-com:vml\" href=\"https://victor-ia-training.vercel.app/\" style=\"height:46px;v-text-anchor:middle;width:210px;\" arcsize=\"50%\" fillcolor=\"#EAB308\" stroke=\"f\"><center><![endif]-->\n        <a href=\"https://victor-ia-training.vercel.app/\" style=\"display:inline-block;background:#EAB308;color:#1a1a1a;font-family:Inter,sans-serif;font-size:12px;font-weight:700;letter-spacing:1.2px;text-transform:uppercase;padding:14px 24px;border-radius:99px;\">🔁 Volver a entrenar</a>\n        <!--[if mso]></center></v:roundrect><![endif]-->\n      </td>\n    </tr></table>\n    <div style=\"height:10px;font-size:0;\">&nbsp;</div>\n    <div style=\"font-family:Inter,sans-serif;font-size:11px;color:#6a6a6a;\">🎧 El audio completo de la sesión está adjunto a este correo (MP3).</div>\n  </td></tr>\n\n  <tr><td class=\"px\" style=\"padding:30px 44px 38px 44px;border-top:1px solid #262626;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n      <td align=\"left\" style=\"font-family:Inter,sans-serif;font-size:12px;line-height:18px;color:#6a6a6a;letter-spacing:0.3px;\">\n        <span style=\"color:#EAB308;font-weight:600;letter-spacing:1px;\">VÍCTOR</span> · Coach de IA del piso<br>Generado por <a href=\"https://victor-ia.com.mx\" style=\"color:#8a8a8a;\">Victor&nbsp;IA</a>\n      </td>\n      <td align=\"right\" style=\"font-family:Inter,sans-serif;font-size:11px;color:#4a4a4a;letter-spacing:0.5px;\">Sesión ${esc(d.conversation_id)}</td>\n    </tr></table>\n  </td></tr>\n\n</table>\n<div style=\"font-family:Inter,sans-serif;font-size:11px;color:#4a4a4a;letter-spacing:0.5px;padding:18px 0 0 0;\">Este reporte es interno del equipo VTC.</div>\n\n</td></tr></table>\n</body>\n</html>`;\n\n  return { html };\n}\n\n// Entrada del nodo n8n — UN item, no un array (fix del bug $input.all()).\nconst data = $input.first().json;\nreturn generateVTCReport(data);\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -512,
          -512
        ],
        "id": "b856d72d-265f-4ee0-87bb-dda82c914b89",
        "name": "Generar HTML Email"
      },
      {
        "parameters": {
          "method": "GET",
          "url": "=https://api.elevenlabs.io/v1/convai/conversations/{{ $node[\"Preparar Datos\"].json.conversation_id }}/audio",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "xi-api-key",
                "value": "sk_87d5a7899d6c489c94232248c4880a0c4fe317adb3701e67"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -500,
          -160
        ],
        "id": "d3f1a001-e11a-4a2b-9a0e-fetch0audio01",
        "name": "Fetch Audio HTTP",
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Preparar Datos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Audio": {
        "main": [
          [
            {
              "node": "Build Attachments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Attachments": {
        "main": [
          [
            {
              "node": "Send an Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send an Email": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Datos": {
        "main": [
          [
            {
              "node": "Generar HTML Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generar HTML Email": {
        "main": [
          [
            {
              "node": "Fetch Audio HTTP",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Audio HTTP": {
        "main": [
          [
            {
              "node": "Download Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Pablo Solar  ",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-21T12:37:46.142Z",
        "id": 321,
        "workflowId": "WEkyHL4lJPEytNoF",
        "versionId": "90dbce7f-c7b8-4a69-8381-038d0db8aebf",
        "event": "activated",
        "userId": "e0e172e7-fc36-4782-aafb-9d039ab7986a"
      },
      {
        "createdAt": "2026-07-21T12:37:46.803Z",
        "id": 323,
        "workflowId": "WEkyHL4lJPEytNoF",
        "versionId": "90dbce7f-c7b8-4a69-8381-038d0db8aebf",
        "event": "activated",
        "userId": "e0e172e7-fc36-4782-aafb-9d039ab7986a"
      },
      {
        "createdAt": "2026-07-21T12:37:46.119Z",
        "id": 320,
        "workflowId": "WEkyHL4lJPEytNoF",
        "versionId": "90dbce7f-c7b8-4a69-8381-038d0db8aebf",
        "event": "deactivated",
        "userId": "e0e172e7-fc36-4782-aafb-9d039ab7986a"
      },
      {
        "createdAt": "2026-07-21T12:37:46.788Z",
        "id": 322,
        "workflowId": "WEkyHL4lJPEytNoF",
        "versionId": "90dbce7f-c7b8-4a69-8381-038d0db8aebf",
        "event": "deactivated",
        "userId": "e0e172e7-fc36-4782-aafb-9d039ab7986a"
      }
    ]
  }
}