_backups/BACKUP_2026-07-23_COMPLETO/n8n-workflow-LIVE.json
{"updatedAt":"2026-07-23T08:05:35.043Z","createdAt":"2026-07-20T07:41:51.438Z","id":"WEkyHL4lJPEytNoF","name":"VTC Elite Reporting","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"/vtc-report","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-928,-528],"id":"fe44e71f-2487-4337-858c-d53f3b7d746b","name":"Webhook","webhookId":"526edb82-400f-4560-ae8c-29eed2664e76"},{"parameters":{"jsCode":"// Build Attachments - VTC Elite Reporting\n// SOLO 2 adjuntos: MP3 (audio ElevenLabs) + PDF (reporte pixel-perfect Vercel,\n// con la TRANSCRIPCION COMPLETA incluida dentro del propio PDF). El adjunto TXT\n// fue eliminado a proposito: la transcripcion ya no viaja como archivo aparte.\n// \"Send an Email\" adjunta por nombre de propiedad binaria via attach_list.\nconst P = $('Preparar Datos').first().json;\nconst empId = String(P.empleado_id || '0000').replace(/[^A-Za-z0-9_-]+/g, '_');\nconst fecha = String(P.fecha_formato || 'sesion').replace(/[^A-Za-z0-9_-]+/g, '_');\nconst binary = {}; const present = []; const notes = [];\n\nfunction bytesOf(fs) { if (!fs) return 0; const m = String(fs).match(/([\\d.]+)\\s*(GB|MB|kB|KB|B)/i); if (!m) return 0; const v = parseFloat(m[1]); const u = m[2].toUpperCase(); return u === 'GB' ? v * 1e9 : (u === 'MB' ? v * 1e6 : (u === 'KB' ? v * 1e3 : v)); }\n\n// 1) MP3 - solo si <= 24 MB (evita rebote SMTP; entrega el PDF igualmente)\ntry {\n  const ab = $('Fetch Audio HTTP').first().binary;\n  if (ab && ab.data) {\n    const sz = bytesOf(ab.data.fileSize);\n    if (sz > 0 && sz > 24 * 1e6) { notes.push('audio_omitido_por_tamano:' + ab.data.fileSize); }\n    else { binary.data = Object.assign({}, ab.data, { fileName: `REPORTE_VTC_AUDIO_${empId}_${fecha}.mp3` }); present.push('data'); }\n  } else { notes.push('audio_no_disponible'); }\n} catch (e) { notes.push('audio_err:' + String(e.message).slice(0, 80)); }\n\n// 2) PDF - reporte visual con transcripcion completa embebida\ntry {\n  const pb = $('Fetch PDF').first().binary;\n  if (pb && pb.pdf) { binary.pdf = Object.assign({}, pb.pdf, { fileName: `REPORTE_VTC_${empId}_${fecha}.pdf` }); present.push('pdf'); }\n  else { notes.push('pdf_no_disponible'); }\n} catch (e) { notes.push('pdf_err:' + String(e.message).slice(0, 80)); }\n\nreturn [{ json: { success: true, has_attachment: present.length > 0, attach_list: present.join(','), files: { audio: binary.data ? binary.data.fileName : null, pdf: binary.pdf ? binary.pdf.fileName : null }, notes }, binary: binary }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,-512],"id":"c2582048-0465-433f-a780-ef63a8b2a860","name":"Build Attachments"},{"parameters":{"fromEmail":"info@victor-ia.com.mx","toEmail":"=eldudemateos@gmail.com, mesainteligentedemo@gmail.com, chrisoria16@gmail.com","subject":"=Reporte de entrenamiento — {{ $node[\"Preparar Datos\"].json.employee_name }} — {{ $node[\"Preparar Datos\"].json.fecha_formato }}","options":{"ccEmail":"","appendAttribution":false,"fileAttachments":"={{ $node[\"Build Attachments\"].json.attach_list }}"},"emailFormat":"text","text":"={{ $node[\"Generar HTML Email\"].json.text }}"},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[144,-288],"id":"057d3fec-54f5-4947-bcad-cc7d0b952f4f","name":"Send an Email","webhookId":"1c39d9bf-6d1c-4147-9d49-3e057321e44b","credentials":{"smtp":{"id":"MmzqSvtvMqAzB0T8","name":"Hostinger SMTP VTC"}}},{"parameters":{"options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[352,-288],"id":"21d63616-5169-4aad-92e8-e2f45cca3f11","name":"Respond to Webhook"},{"parameters":{"jsCode":"const item = $input.first();\n// BUG ORIGINAL: \"const data = $input.first(); ... data.body\" leia el wrapper\n// del item (que NO tiene .body), nunca el payload real -> todo caia en los\n// valores por defecto (incluido conversation_id -> \"AUTO_...\") sin importar\n// lo que mandara el webhook de ElevenLabs. El payload real vive en item.json.body.\nconst rawBody = (item.json && item.json.body !== undefined) ? item.json.body : item.json;\nconst payload = typeof rawBody === \"string\" ? JSON.parse(rawBody) : rawBody;\n\n// Soporta el webhook post-call REAL de ElevenLabs (analysis.data_collection_results\n// + metadata + transcript) ademas del payload plano simple (test / integracion\n// directa). Nunca se inventan datos: si un campo no llega, se usa un fallback\n// generico marcado como tal via los valores por defecto de mas abajo.\nconst analysis = payload.analysis || {};\nconst dc = analysis.data_collection_results || {};\nconst meta = payload.metadata || {};\n// Fuente MAS confiable de identidad en sesiones reales (no demos): el popup del sitio\n// vtc-capacitacion-deploy pasa user_name/employee_number/departamento como\n// dynamic_variables AL INICIO de cada sesion -> siempre presentes en produccion, a\n// diferencia de data_collection_results (depende de que el LLM lo extraiga/pregunte\n// durante la llamada). Mismo criterio que ya usa api/report.js (dv.employee_number).\nconst dv = (payload.conversation_initiation_client_data && payload.conversation_initiation_client_data.dynamic_variables) || {};\n\nfunction dcv(k) {\n  const o = dc[k] != null ? dc[k] : (dc[k + \"  \"] != null ? dc[k + \"  \"] : dc[k + \" \"]);\n  if (o == null) return undefined;\n  return (typeof o === \"object\" && \"value\" in o) ? o.value : o;\n}\nfunction pick() {\n  for (let i = 0; i < arguments.length; i++) {\n    const v = arguments[i];\n    if (v !== undefined && v !== null && v !== \"\") return v;\n  }\n  return undefined;\n}\n\nconst now = new Date();\nconst dia = String(now.getDate()).padStart(2, \"0\");\nconst mes = String(now.getMonth() + 1).padStart(2, \"0\");\nconst anio = now.getFullYear();\n\nconsole.log(\"DEBUG - Webhook payload:\", JSON.stringify(payload, null, 2));\n\n// --- Identidad ---\n// FIX 2026-07-23: el agente VTC en vivo (agent_5701kr0h5gg6eetb69tv6c5hwfj1, \"Coach\n// VICTOR - VTC Capacitacion\") usa un data_collection de 25 campos con nombres\n// EN ESPANOL (nombre_asesor, empleado_id, puesto, score_overall, score_rapport, ...),\n// distintos de los que este nodo buscaba (user_name, employee_number, desempeno_score,\n// recomendacion_siguiente...). Resultado: TODA sesion real caia en los valores de\n// ejemplo fijos (nombre=\"Usuario\", id=\"0000\", score=8.7 fijo, hora 14:35 fija,\n// recomendacion generica) sin importar el desempeno real del asesor. Se agregan los\n// alias correctos de dcv(...) sin romper compatibilidad con el payload de prueba plano.\nconst nombre = pick(payload.nombre, dv.user_name, dcv(\"nombre_asesor\"), dcv(\"user_name\"), payload.employee_name) || \"Usuario\";\nconst empleadoId = pick(payload.empleado_id, dv.employee_number, dcv(\"empleado_id\"), payload.employee_number, dcv(\"employee_number\"), payload.emp_id) || \"0000\";\nconst puesto = pick(payload.puesto, dcv(\"puesto\"), dcv(\"user_role\"), payload.role) || \"Asesor de Ventas\";\nconst departamento = pick(payload.departamento, dv.departamento, payload.dept) || \"Dirección de Ventas\";\nfunction normalizaIdioma(v) {\n  const s = String(v || \"\").toLowerCase();\n  if (!s) return undefined;\n  if (s.indexOf(\"esp\") === 0 || s === \"es\") return \"Español\";\n  if (s.indexOf(\"ing\") === 0 || s.indexOf(\"en\") === 0) return \"Inglés\";\n  return v;\n}\nconst idioma = normalizaIdioma(pick(payload.idioma, dcv(\"idioma\"))) ||\n  ((meta.main_language || \"\").toLowerCase().indexOf(\"en\") === 0 ? \"Inglés\" : \"Español\");\n\nconst durSecsFromMeta = meta.call_duration_secs || (Number(dcv(\"duracion_segundos\")) || 0);\nconst duracionMinutos = payload.duracion_minutos || (durSecsFromMeta ? Math.round(durSecsFromMeta / 60) : 28);\nconst durSecs = durSecsFromMeta || (payload.duracion_minutos ? payload.duracion_minutos * 60 : duracionMinutos * 60);\nconst duracionTexto = payload.duracion_texto || (durSecs ? (Math.floor(durSecs / 60) + \":\" + String(Math.round(durSecs % 60)).padStart(2, \"0\")) : \"28:00\");\n\n// FIX: score_overall es el campo real (0-10) que devuelve el agente; antes solo\n// se leia \"desempeno_score\" (esquema viejo) y siempre caia en el fallback fijo 8.7.\nconst scoreTotal = Number(pick(payload.scoreTotal, payload.score, dcv(\"score_overall\"), dcv(\"desempeno_score\"))) || 8.7;\nconst potencialMejora = payload.potencial_mejora != null ? payload.potencial_mejora : Math.max(0, Math.round((10 - scoreTotal) * 13));\n\n// FIX: los 6 ejes de competencia (score_rapport/score_pnl/score_postura/score_objeciones/\n// score_cierre/score_lectura_sala) tampoco se leian del data_collection; quedaban\n// siempre en el mismo valor de ejemplo. Se mapean aqui aunque hoy el cuerpo del correo\n// (texto plano) no los imprima uno por uno -> quedan listos para el PDF/])radar u otro\n// consumidor futuro, y cumplen el requisito de usar los 25 campos reales.\nconst rapport = Number(pick(payload.rapport, dcv(\"score_rapport\"))) || 8.5;\nconst pnl = Number(pick(payload.pnl, dcv(\"score_pnl\"))) || 8.7;\nconst postura = Number(pick(payload.postura, dcv(\"score_postura\"))) || 7.7;\nconst objeciones = Number(pick(payload.objeciones, dcv(\"score_objeciones\"))) || 8.2;\nconst cierre = Number(pick(payload.cierre, dcv(\"score_cierre\"))) || 7.0;\nconst escucha = Number(pick(payload.escucha, dcv(\"score_lectura_sala\"))) || 9.0;\n\n// FIX: \"modulo\" (el campo real que llena el agente con el modulo/escenario practicado)\n// nunca se leia; el email siempre mostraba el fallback generico \"Sesion de coaching\".\nconst moduloReal = pick(payload.modulos_practicados, payload.escenario, payload.tipo_actividad, dcv(\"modulo\"));\n\n// FIX: el campo real es \"recomendaciones\" (plural); el codigo buscaba\n// \"recomendacion_siguiente\" (singular, esquema viejo) y nunca hacia match ->\n// el correo siempre mostraba el consejo generico en vez del real del coach.\nconst recomendacionReal = pick(payload.recomendacion_siguiente, dcv(\"recomendaciones\"), dcv(\"recomendacion_siguiente\"));\n\n// FIX: fecha/hora reales de la sesion (fecha_sesion/hora_inicio/hora_fin) — antes\n// el email siempre mostraba la fecha del momento en que corre el workflow y una\n// hora fija de ejemplo (14:35–15:03), sin importar cuando fue la sesion real.\nconst fechaReal = pick(payload.fecha_formato, dcv(\"fecha_sesion\"));\nconst horaInicioReal = pick(payload.hora_inicio, dcv(\"hora_inicio\"));\nconst horaFinReal = pick(payload.hora_fin, dcv(\"hora_fin\"));\n\nreturn {\n    success: true,\n    conversation_id: payload.conversation_id || \"AUTO_\" + Date.now(),\n\n    // Identidad\n    employee_name: nombre,\n    nombre: nombre,\n    empleado_id: empleadoId,\n    puesto: puesto,\n    departamento: departamento,\n    idioma: idioma,\n\n    // Métricas (0-10)\n    score: payload.scoreTotal || payload.score || 0,\n    scoreTotal: scoreTotal,\n    rapport: rapport,\n    pnl: pnl,\n    postura: postura,\n    objeciones: objeciones,\n    cierre: cierre,\n    escucha: escucha,\n    potencial_mejora: potencialMejora,\n\n    // Narrativa\n    resumen: pick(payload.resumen, analysis.transcript_summary, dcv(\"recomendacion_siguiente\")) || \"Sesión completada.\",\n    fortalezas: pick(payload.fortalezas, dcv(\"fortalezas\")) || \"Buena disposición y actitud durante la práctica.\",\n    areas_mejora: pick(payload.areas_mejora, dcv(\"areas_mejora\")) || \"Reforzar los fundamentos del módulo practicado.\",\n    analisis_pnl: payload.analisis_pnl || \"Sin patrones PNL destacados en esta sesión.\",\n    recomendacion_siguiente: recomendacionReal || \"Repasar el módulo con menor puntaje.\",\n\n    // Escenario / módulos\n    escenario: pick(payload.escenario, dcv(\"escenario_roleplay\"), moduloReal) || \"Sesión de coaching\",\n    tipo_actividad: pick(payload.tipo_actividad, dcv(\"tipo_actividad\")) || \"Roleplay\",\n    modulos_practicados: moduloReal || \"\",\n\n    // Fecha / hora / duración\n    fecha_formato: fechaReal || `${dia}-${mes}-${anio}`,\n    hora_inicio: horaInicioReal || \"14:35\",\n    hora_fin: horaFinReal || \"15:03\",\n    duracion_minutos: duracionMinutos,\n    duracion_texto: duracionTexto,\n    sesion_numero: payload.sesion_numero || 1,\n\n    // Datos crudos del data_collection (25 campos) — se pasan tal cual por si algun\n    // consumidor futuro (PDF, dashboard, Sheets) los necesita sin re-parsear el payload.\n    quiz_realizado: pick(dcv(\"quiz_realizado\"), payload.quiz_realizado) || \"\",\n    quiz_score: pick(dcv(\"quiz_score\"), payload.quiz_score) || \"\",\n    disc_prospecto: pick(dcv(\"disc_prospecto\"), payload.disc_prospecto) || \"\",\n    score_disc_flex: Number(pick(payload.score_disc_flex, dcv(\"score_disc_flex\"))) || null,\n\n    // Plan de acción (gerente)\n    accion1: payload.accion1 || \"Reducir Interrupciones\",\n    accion1_desc: payload.accion1_desc || \"Pausas prolongadas entre argumentos.\",\n    accion2: payload.accion2 || \"Memorizar el Pitch\",\n    accion2_desc: payload.accion2_desc || \"Dudar en el pitch resta credibilidad.\",\n    accion3: payload.accion3 || \"Dominar el Cierre\",\n    accion3_desc: payload.accion3_desc || \"Falta de confianza al cerrar.\",\n\n    // Frecuencia de temas (escala 0-10)\n    precio: payload.precio != null ? payload.precio : 8,\n    incentivos: payload.incentivos != null ? payload.incentivos : 6,\n    tiempo: payload.tiempo != null ? payload.tiempo : 10,\n    indecision: payload.indecision != null ? payload.indecision : 4,\n\n    // Distribución de tiempo por actividad (%, deben sumar ~100)\n    pct_pitch: payload.pct_pitch != null ? payload.pct_pitch : 50,\n    pct_warmup: payload.pct_warmup != null ? payload.pct_warmup : 20,\n    pct_objeciones: payload.pct_objeciones != null ? payload.pct_objeciones : 15,\n    pct_cierre: payload.pct_cierre != null ? payload.pct_cierre : 15,\n\n    // Principios neurocientíficos (%)\n    pct_patrones: payload.pct_patrones != null ? payload.pct_patrones : 50,\n    pct_fraseologia: payload.pct_fraseologia != null ? payload.pct_fraseologia : 50,\n    pct_contexto: payload.pct_contexto != null ? payload.pct_contexto : 50,\n\n    // Datos ricos OPCIONALES — solo se muestran en el reporte si vienen reales\n    // (nunca se inventa contenido de ejemplo para una sesión real).\n    transcript: Array.isArray(payload.transcript) ? payload.transcript : null,\n    historial: Array.isArray(payload.historial) ? payload.historial : null,\n    quiz: Array.isArray(payload.quiz) ? payload.quiz : null,\n    objeciones_detalle: Array.isArray(payload.objeciones_detalle) ? payload.objeciones_detalle : null,\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,-176],"id":"bb843f73-144d-44db-a96a-3fc25b2da37e","name":"Preparar Datos"},{"parameters":{"jsCode":"// Generar Email — VTC Elite Reporting\n// CAMBIO: cuerpo del correo = SOLO texto profesional (no HTML visual).\n// El reporte visual va como PDF adjunto; audio (MP3) y transcripcion (TXT)\n// tambien adjuntos. Recibe UN item de \"Preparar Datos\".\nconst d = $input.first().json;\n\nfunction v(x, def){ return (x == null || x === \"\") ? (def || \"\") : String(x); }\n\nconst nombre         = v(d.nombre || d.employee_name, \"Asesor\");\nconst fecha          = v(d.fecha_formato, \"-\");\nconst hora           = v(d.hora_inicio, \"-\");\nconst duracion       = d.duracion_texto ? v(d.duracion_texto) : (v(d.duracion_minutos, \"-\") + \" minutos\");\nconst modulo         = v(d.modulos_practicados || d.escenario, \"-\");\nconst score          = v(d.scoreTotal, \"-\");\nconst idioma         = v(d.idioma, \"-\");\nconst resumen        = v(d.resumen, \"-\");\nconst fortalezas     = v(d.fortalezas, \"-\");\nconst areas          = v(d.areas_mejora, \"-\");\nconst recomendaciones= v(d.recomendacion_siguiente, \"-\");\n\nconst linea = \"------------------------------------------------------------\";\n\nconst text =\n\"Estimado \" + nombre + \",\\n\\n\" +\n\"Le enviamos el resumen de su sesion de entrenamiento del \" + fecha + \" a las \" + hora + \".\\n\\n\" +\n\"RESUMEN DE LA SESION\\n\" +\n\"Duracion: \" + duracion + \"\\n\" +\n\"Modulo: \" + modulo + \"\\n\" +\n\"Desempeno general: \" + score + \"/10\\n\" +\n\"Idioma: \" + idioma + \"\\n\\n\" +\n\"ANALISIS:\\n\" + resumen + \"\\n\\n\" +\n\"FORTALEZAS IDENTIFICADAS:\\n\" + fortalezas + \"\\n\\n\" +\n\"AREAS A MEJORAR:\\n\" + areas + \"\\n\\n\" +\n\"RECOMENDACION DEL COACH:\\n\" + recomendaciones + \"\\n\\n\" +\nlinea + \"\\n\\n\" +\n\"PROXIMOS PASOS\\n\\n\" +\n\"Para acceder al reporte completo con graficos, analisis detallado de competencias y plan de accion personalizado, descargue el archivo PDF adjunto.\\n\\n\" +\n\"Para revisar la transcripcion completa de la sesion, descargue el archivo de audio (MP3) y la transcripcion de texto (TXT) adjuntos.\\n\\n\" +\nlinea + \"\\n\\n\" +\n\"Quedo atento a cualquier pregunta.\\n\\n\" +\n\"Saludos cordiales,\\n\\n\" +\n\"El equipo de Victor-IA\\n\" +\n\"Entrenamiento VTC Capacitacion\\n\" +\n\"victor-ia.com.mx\\n\";\n\n// Se conserva la llave \"html\" apuntando al mismo texto por compatibilidad,\n// pero el nodo \"Send an Email\" usa emailFormat=text -> se envia como texto plano.\nreturn { text: text, html: text };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-512,-512],"id":"b856d72d-265f-4ee0-87bb-dda82c914b89","name":"Generar HTML Email"},{"parameters":{"url":"=https://api.elevenlabs.io/v1/convai/conversations/{{ $node[\"Preparar Datos\"].json.conversation_id }}/audio","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"sk_87d5a7899d6c489c94232248c4880a0c4fe317adb3701e67"}]},"options":{"response":{"response":{"responseFormat":"file"}},"timeout":90000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-496,-160],"id":"d3f1a001-e11a-4a2b-9a0e-fetch0audio01","name":"Fetch Audio HTTP","onError":"continueRegularOutput"},{"parameters":{"url":"=https://vtc-capacitacion-deploy.vercel.app/api/report?conv={{ $node[\"Preparar Datos\"].json.conversation_id }}&pdf=1","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"pdf"}},"timeout":90000}},"name":"Fetch PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-304,-320],"id":"5591f6ba-d2e8-4916-8f9d-1d9024f27581","onError":"continueRegularOutput"}],"connections":{"Webhook":{"main":[[{"node":"Preparar Datos","type":"main","index":0}]]},"Preparar Datos":{"main":[[{"node":"Generar HTML Email","type":"main","index":0}]]},"Generar HTML Email":{"main":[[{"node":"Fetch Audio HTTP","type":"main","index":0}]]},"Fetch Audio HTTP":{"main":[[{"node":"Fetch PDF","type":"main","index":0}]]},"Fetch PDF":{"main":[[{"node":"Build Attachments","type":"main","index":0}]]},"Build Attachments":{"main":[[{"node":"Send an Email","type":"main","index":0}]]},"Send an Email":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{"Preparar Datos":[{"json":{"body":"{\"nombre\":\"Carlos López\",\"empleado_id\":\"2847\",\"puesto\":\"Dirección\",\"fecha_formato\":\"21-07-2026\",\"hora_inicio\":\"14:35\",\"hora_fin\":\"15:03\",\"duracion_minutos\":28,\"session_numero\":5,\"scoreTotal\":8.7,\"potencial_mejora\":13,\"rapport\":8.5,\"objeciones\":8.2,\"postura\":7.7,\"cierre\":7.0,\"pnl\":8.7,\"escucha\":9.0,\"resumen\":\"Test de email\",\"accion1\":\"Reducir Interrupciones\",\"accion1_desc\":\"Pausas prolongadas\",\"accion2\":\"Memorizar el Pitch\",\"accion2_desc\":\"Dudar en pitch\",\"accion3\":\"Dominar el Cierre\",\"accion3_desc\":\"Falta de confianza\"}"}}]},"versionId":"e58190ae-e2a6-4376-b519-21d643421705","activeVersionId":"e58190ae-e2a6-4376-b519-21d643421705","versionCounter":148,"triggerCount":1,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-07-20T07:41:51.442Z","createdAt":"2026-07-20T07:41:51.442Z","role":"workflow:owner","workflowId":"WEkyHL4lJPEytNoF","projectId":"IOsZ8ZXEyd3NkPsE","project":{"updatedAt":"2026-07-14T18:11:53.227Z","createdAt":"2026-07-14T17:40:14.782Z","id":"IOsZ8ZXEyd3NkPsE","name":"Pablo Solar   <mesainteligentedemo@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"e0e172e7-fc36-4782-aafb-9d039ab7986a"}}],"tags":[],"activeVersion":{"updatedAt":"2026-07-23T08:05:35.045Z","createdAt":"2026-07-23T08:05:35.045Z","versionId":"e58190ae-e2a6-4376-b519-21d643421705","workflowId":"WEkyHL4lJPEytNoF","nodes":[{"parameters":{"httpMethod":"POST","path":"/vtc-report","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-928,-528],"id":"fe44e71f-2487-4337-858c-d53f3b7d746b","name":"Webhook","webhookId":"526edb82-400f-4560-ae8c-29eed2664e76"},{"parameters":{"jsCode":"// Build Attachments - VTC Elite Reporting\n// SOLO 2 adjuntos: MP3 (audio ElevenLabs) + PDF (reporte pixel-perfect Vercel,\n// con la TRANSCRIPCION COMPLETA incluida dentro del propio PDF). El adjunto TXT\n// fue eliminado a proposito: la transcripcion ya no viaja como archivo aparte.\n// \"Send an Email\" adjunta por nombre de propiedad binaria via attach_list.\nconst P = $('Preparar Datos').first().json;\nconst empId = String(P.empleado_id || '0000').replace(/[^A-Za-z0-9_-]+/g, '_');\nconst fecha = String(P.fecha_formato || 'sesion').replace(/[^A-Za-z0-9_-]+/g, '_');\nconst binary = {}; const present = []; const notes = [];\n\nfunction bytesOf(fs) { if (!fs) return 0; const m = String(fs).match(/([\\d.]+)\\s*(GB|MB|kB|KB|B)/i); if (!m) return 0; const v = parseFloat(m[1]); const u = m[2].toUpperCase(); return u === 'GB' ? v * 1e9 : (u === 'MB' ? v * 1e6 : (u === 'KB' ? v * 1e3 : v)); }\n\n// 1) MP3 - solo si <= 24 MB (evita rebote SMTP; entrega el PDF igualmente)\ntry {\n  const ab = $('Fetch Audio HTTP').first().binary;\n  if (ab && ab.data) {\n    const sz = bytesOf(ab.data.fileSize);\n    if (sz > 0 && sz > 24 * 1e6) { notes.push('audio_omitido_por_tamano:' + ab.data.fileSize); }\n    else { binary.data = Object.assign({}, ab.data, { fileName: `REPORTE_VTC_AUDIO_${empId}_${fecha}.mp3` }); present.push('data'); }\n  } else { notes.push('audio_no_disponible'); }\n} catch (e) { notes.push('audio_err:' + String(e.message).slice(0, 80)); }\n\n// 2) PDF - reporte visual con transcripcion completa embebida\ntry {\n  const pb = $('Fetch PDF').first().binary;\n  if (pb && pb.pdf) { binary.pdf = Object.assign({}, pb.pdf, { fileName: `REPORTE_VTC_${empId}_${fecha}.pdf` }); present.push('pdf'); }\n  else { notes.push('pdf_no_disponible'); }\n} catch (e) { notes.push('pdf_err:' + String(e.message).slice(0, 80)); }\n\nreturn [{ json: { success: true, has_attachment: present.length > 0, attach_list: present.join(','), files: { audio: binary.data ? binary.data.fileName : null, pdf: binary.pdf ? binary.pdf.fileName : null }, notes }, binary: binary }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,-512],"id":"c2582048-0465-433f-a780-ef63a8b2a860","name":"Build Attachments"},{"parameters":{"fromEmail":"info@victor-ia.com.mx","toEmail":"=eldudemateos@gmail.com, mesainteligentedemo@gmail.com, chrisoria16@gmail.com","subject":"=Reporte de entrenamiento — {{ $node[\"Preparar Datos\"].json.employee_name }} — {{ $node[\"Preparar Datos\"].json.fecha_formato }}","options":{"ccEmail":"","appendAttribution":false,"fileAttachments":"={{ $node[\"Build Attachments\"].json.attach_list }}"},"emailFormat":"text","text":"={{ $node[\"Generar HTML Email\"].json.text }}"},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[144,-288],"id":"057d3fec-54f5-4947-bcad-cc7d0b952f4f","name":"Send an Email","webhookId":"1c39d9bf-6d1c-4147-9d49-3e057321e44b","credentials":{"smtp":{"id":"MmzqSvtvMqAzB0T8","name":"Hostinger SMTP VTC"}}},{"parameters":{"options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[352,-288],"id":"21d63616-5169-4aad-92e8-e2f45cca3f11","name":"Respond to Webhook"},{"parameters":{"jsCode":"const item = $input.first();\n// BUG ORIGINAL: \"const data = $input.first(); ... data.body\" leia el wrapper\n// del item (que NO tiene .body), nunca el payload real -> todo caia en los\n// valores por defecto (incluido conversation_id -> \"AUTO_...\") sin importar\n// lo que mandara el webhook de ElevenLabs. El payload real vive en item.json.body.\nconst rawBody = (item.json && item.json.body !== undefined) ? item.json.body : item.json;\nconst payload = typeof rawBody === \"string\" ? JSON.parse(rawBody) : rawBody;\n\n// Soporta el webhook post-call REAL de ElevenLabs (analysis.data_collection_results\n// + metadata + transcript) ademas del payload plano simple (test / integracion\n// directa). Nunca se inventan datos: si un campo no llega, se usa un fallback\n// generico marcado como tal via los valores por defecto de mas abajo.\nconst analysis = payload.analysis || {};\nconst dc = analysis.data_collection_results || {};\nconst meta = payload.metadata || {};\n// Fuente MAS confiable de identidad en sesiones reales (no demos): el popup del sitio\n// vtc-capacitacion-deploy pasa user_name/employee_number/departamento como\n// dynamic_variables AL INICIO de cada sesion -> siempre presentes en produccion, a\n// diferencia de data_collection_results (depende de que el LLM lo extraiga/pregunte\n// durante la llamada). Mismo criterio que ya usa api/report.js (dv.employee_number).\nconst dv = (payload.conversation_initiation_client_data && payload.conversation_initiation_client_data.dynamic_variables) || {};\n\nfunction dcv(k) {\n  const o = dc[k] != null ? dc[k] : (dc[k + \"  \"] != null ? dc[k + \"  \"] : dc[k + \" \"]);\n  if (o == null) return undefined;\n  return (typeof o === \"object\" && \"value\" in o) ? o.value : o;\n}\nfunction pick() {\n  for (let i = 0; i < arguments.length; i++) {\n    const v = arguments[i];\n    if (v !== undefined && v !== null && v !== \"\") return v;\n  }\n  return undefined;\n}\n\nconst now = new Date();\nconst dia = String(now.getDate()).padStart(2, \"0\");\nconst mes = String(now.getMonth() + 1).padStart(2, \"0\");\nconst anio = now.getFullYear();\n\nconsole.log(\"DEBUG - Webhook payload:\", JSON.stringify(payload, null, 2));\n\n// --- Identidad ---\n// FIX 2026-07-23: el agente VTC en vivo (agent_5701kr0h5gg6eetb69tv6c5hwfj1, \"Coach\n// VICTOR - VTC Capacitacion\") usa un data_collection de 25 campos con nombres\n// EN ESPANOL (nombre_asesor, empleado_id, puesto, score_overall, score_rapport, ...),\n// distintos de los que este nodo buscaba (user_name, employee_number, desempeno_score,\n// recomendacion_siguiente...). Resultado: TODA sesion real caia en los valores de\n// ejemplo fijos (nombre=\"Usuario\", id=\"0000\", score=8.7 fijo, hora 14:35 fija,\n// recomendacion generica) sin importar el desempeno real del asesor. Se agregan los\n// alias correctos de dcv(...) sin romper compatibilidad con el payload de prueba plano.\nconst nombre = pick(payload.nombre, dv.user_name, dcv(\"nombre_asesor\"), dcv(\"user_name\"), payload.employee_name) || \"Usuario\";\nconst empleadoId = pick(payload.empleado_id, dv.employee_number, dcv(\"empleado_id\"), payload.employee_number, dcv(\"employee_number\"), payload.emp_id) || \"0000\";\nconst puesto = pick(payload.puesto, dcv(\"puesto\"), dcv(\"user_role\"), payload.role) || \"Asesor de Ventas\";\nconst departamento = pick(payload.departamento, dv.departamento, payload.dept) || \"Dirección de Ventas\";\nfunction normalizaIdioma(v) {\n  const s = String(v || \"\").toLowerCase();\n  if (!s) return undefined;\n  if (s.indexOf(\"esp\") === 0 || s === \"es\") return \"Español\";\n  if (s.indexOf(\"ing\") === 0 || s.indexOf(\"en\") === 0) return \"Inglés\";\n  return v;\n}\nconst idioma = normalizaIdioma(pick(payload.idioma, dcv(\"idioma\"))) ||\n  ((meta.main_language || \"\").toLowerCase().indexOf(\"en\") === 0 ? \"Inglés\" : \"Español\");\n\nconst durSecsFromMeta = meta.call_duration_secs || (Number(dcv(\"duracion_segundos\")) || 0);\nconst duracionMinutos = payload.duracion_minutos || (durSecsFromMeta ? Math.round(durSecsFromMeta / 60) : 28);\nconst durSecs = durSecsFromMeta || (payload.duracion_minutos ? payload.duracion_minutos * 60 : duracionMinutos * 60);\nconst duracionTexto = payload.duracion_texto || (durSecs ? (Math.floor(durSecs / 60) + \":\" + String(Math.round(durSecs % 60)).padStart(2, \"0\")) : \"28:00\");\n\n// FIX: score_overall es el campo real (0-10) que devuelve el agente; antes solo\n// se leia \"desempeno_score\" (esquema viejo) y siempre caia en el fallback fijo 8.7.\nconst scoreTotal = Number(pick(payload.scoreTotal, payload.score, dcv(\"score_overall\"), dcv(\"desempeno_score\"))) || 8.7;\nconst potencialMejora = payload.potencial_mejora != null ? payload.potencial_mejora : Math.max(0, Math.round((10 - scoreTotal) * 13));\n\n// FIX: los 6 ejes de competencia (score_rapport/score_pnl/score_postura/score_objeciones/\n// score_cierre/score_lectura_sala) tampoco se leian del data_collection; quedaban\n// siempre en el mismo valor de ejemplo. Se mapean aqui aunque hoy el cuerpo del correo\n// (texto plano) no los imprima uno por uno -> quedan listos para el PDF/])radar u otro\n// consumidor futuro, y cumplen el requisito de usar los 25 campos reales.\nconst rapport = Number(pick(payload.rapport, dcv(\"score_rapport\"))) || 8.5;\nconst pnl = Number(pick(payload.pnl, dcv(\"score_pnl\"))) || 8.7;\nconst postura = Number(pick(payload.postura, dcv(\"score_postura\"))) || 7.7;\nconst objeciones = Number(pick(payload.objeciones, dcv(\"score_objeciones\"))) || 8.2;\nconst cierre = Number(pick(payload.cierre, dcv(\"score_cierre\"))) || 7.0;\nconst escucha = Number(pick(payload.escucha, dcv(\"score_lectura_sala\"))) || 9.0;\n\n// FIX: \"modulo\" (el campo real que llena el agente con el modulo/escenario practicado)\n// nunca se leia; el email siempre mostraba el fallback generico \"Sesion de coaching\".\nconst moduloReal = pick(payload.modulos_practicados, payload.escenario, payload.tipo_actividad, dcv(\"modulo\"));\n\n// FIX: el campo real es \"recomendaciones\" (plural); el codigo buscaba\n// \"recomendacion_siguiente\" (singular, esquema viejo) y nunca hacia match ->\n// el correo siempre mostraba el consejo generico en vez del real del coach.\nconst recomendacionReal = pick(payload.recomendacion_siguiente, dcv(\"recomendaciones\"), dcv(\"recomendacion_siguiente\"));\n\n// FIX: fecha/hora reales de la sesion (fecha_sesion/hora_inicio/hora_fin) — antes\n// el email siempre mostraba la fecha del momento en que corre el workflow y una\n// hora fija de ejemplo (14:35–15:03), sin importar cuando fue la sesion real.\nconst fechaReal = pick(payload.fecha_formato, dcv(\"fecha_sesion\"));\nconst horaInicioReal = pick(payload.hora_inicio, dcv(\"hora_inicio\"));\nconst horaFinReal = pick(payload.hora_fin, dcv(\"hora_fin\"));\n\nreturn {\n    success: true,\n    conversation_id: payload.conversation_id || \"AUTO_\" + Date.now(),\n\n    // Identidad\n    employee_name: nombre,\n    nombre: nombre,\n    empleado_id: empleadoId,\n    puesto: puesto,\n    departamento: departamento,\n    idioma: idioma,\n\n    // Métricas (0-10)\n    score: payload.scoreTotal || payload.score || 0,\n    scoreTotal: scoreTotal,\n    rapport: rapport,\n    pnl: pnl,\n    postura: postura,\n    objeciones: objeciones,\n    cierre: cierre,\n    escucha: escucha,\n    potencial_mejora: potencialMejora,\n\n    // Narrativa\n    resumen: pick(payload.resumen, analysis.transcript_summary, dcv(\"recomendacion_siguiente\")) || \"Sesión completada.\",\n    fortalezas: pick(payload.fortalezas, dcv(\"fortalezas\")) || \"Buena disposición y actitud durante la práctica.\",\n    areas_mejora: pick(payload.areas_mejora, dcv(\"areas_mejora\")) || \"Reforzar los fundamentos del módulo practicado.\",\n    analisis_pnl: payload.analisis_pnl || \"Sin patrones PNL destacados en esta sesión.\",\n    recomendacion_siguiente: recomendacionReal || \"Repasar el módulo con menor puntaje.\",\n\n    // Escenario / módulos\n    escenario: pick(payload.escenario, dcv(\"escenario_roleplay\"), moduloReal) || \"Sesión de coaching\",\n    tipo_actividad: pick(payload.tipo_actividad, dcv(\"tipo_actividad\")) || \"Roleplay\",\n    modulos_practicados: moduloReal || \"\",\n\n    // Fecha / hora / duración\n    fecha_formato: fechaReal || `${dia}-${mes}-${anio}`,\n    hora_inicio: horaInicioReal || \"14:35\",\n    hora_fin: horaFinReal || \"15:03\",\n    duracion_minutos: duracionMinutos,\n    duracion_texto: duracionTexto,\n    sesion_numero: payload.sesion_numero || 1,\n\n    // Datos crudos del data_collection (25 campos) — se pasan tal cual por si algun\n    // consumidor futuro (PDF, dashboard, Sheets) los necesita sin re-parsear el payload.\n    quiz_realizado: pick(dcv(\"quiz_realizado\"), payload.quiz_realizado) || \"\",\n    quiz_score: pick(dcv(\"quiz_score\"), payload.quiz_score) || \"\",\n    disc_prospecto: pick(dcv(\"disc_prospecto\"), payload.disc_prospecto) || \"\",\n    score_disc_flex: Number(pick(payload.score_disc_flex, dcv(\"score_disc_flex\"))) || null,\n\n    // Plan de acción (gerente)\n    accion1: payload.accion1 || \"Reducir Interrupciones\",\n    accion1_desc: payload.accion1_desc || \"Pausas prolongadas entre argumentos.\",\n    accion2: payload.accion2 || \"Memorizar el Pitch\",\n    accion2_desc: payload.accion2_desc || \"Dudar en el pitch resta credibilidad.\",\n    accion3: payload.accion3 || \"Dominar el Cierre\",\n    accion3_desc: payload.accion3_desc || \"Falta de confianza al cerrar.\",\n\n    // Frecuencia de temas (escala 0-10)\n    precio: payload.precio != null ? payload.precio : 8,\n    incentivos: payload.incentivos != null ? payload.incentivos : 6,\n    tiempo: payload.tiempo != null ? payload.tiempo : 10,\n    indecision: payload.indecision != null ? payload.indecision : 4,\n\n    // Distribución de tiempo por actividad (%, deben sumar ~100)\n    pct_pitch: payload.pct_pitch != null ? payload.pct_pitch : 50,\n    pct_warmup: payload.pct_warmup != null ? payload.pct_warmup : 20,\n    pct_objeciones: payload.pct_objeciones != null ? payload.pct_objeciones : 15,\n    pct_cierre: payload.pct_cierre != null ? payload.pct_cierre : 15,\n\n    // Principios neurocientíficos (%)\n    pct_patrones: payload.pct_patrones != null ? payload.pct_patrones : 50,\n    pct_fraseologia: payload.pct_fraseologia != null ? payload.pct_fraseologia : 50,\n    pct_contexto: payload.pct_contexto != null ? payload.pct_contexto : 50,\n\n    // Datos ricos OPCIONALES — solo se muestran en el reporte si vienen reales\n    // (nunca se inventa contenido de ejemplo para una sesión real).\n    transcript: Array.isArray(payload.transcript) ? payload.transcript : null,\n    historial: Array.isArray(payload.historial) ? payload.historial : null,\n    quiz: Array.isArray(payload.quiz) ? payload.quiz : null,\n    objeciones_detalle: Array.isArray(payload.objeciones_detalle) ? payload.objeciones_detalle : null,\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,-176],"id":"bb843f73-144d-44db-a96a-3fc25b2da37e","name":"Preparar Datos"},{"parameters":{"jsCode":"// Generar Email — VTC Elite Reporting\n// CAMBIO: cuerpo del correo = SOLO texto profesional (no HTML visual).\n// El reporte visual va como PDF adjunto; audio (MP3) y transcripcion (TXT)\n// tambien adjuntos. Recibe UN item de \"Preparar Datos\".\nconst d = $input.first().json;\n\nfunction v(x, def){ return (x == null || x === \"\") ? (def || \"\") : String(x); }\n\nconst nombre         = v(d.nombre || d.employee_name, \"Asesor\");\nconst fecha          = v(d.fecha_formato, \"-\");\nconst hora           = v(d.hora_inicio, \"-\");\nconst duracion       = d.duracion_texto ? v(d.duracion_texto) : (v(d.duracion_minutos, \"-\") + \" minutos\");\nconst modulo         = v(d.modulos_practicados || d.escenario, \"-\");\nconst score          = v(d.scoreTotal, \"-\");\nconst idioma         = v(d.idioma, \"-\");\nconst resumen        = v(d.resumen, \"-\");\nconst fortalezas     = v(d.fortalezas, \"-\");\nconst areas          = v(d.areas_mejora, \"-\");\nconst recomendaciones= v(d.recomendacion_siguiente, \"-\");\n\nconst linea = \"------------------------------------------------------------\";\n\nconst text =\n\"Estimado \" + nombre + \",\\n\\n\" +\n\"Le enviamos el resumen de su sesion de entrenamiento del \" + fecha + \" a las \" + hora + \".\\n\\n\" +\n\"RESUMEN DE LA SESION\\n\" +\n\"Duracion: \" + duracion + \"\\n\" +\n\"Modulo: \" + modulo + \"\\n\" +\n\"Desempeno general: \" + score + \"/10\\n\" +\n\"Idioma: \" + idioma + \"\\n\\n\" +\n\"ANALISIS:\\n\" + resumen + \"\\n\\n\" +\n\"FORTALEZAS IDENTIFICADAS:\\n\" + fortalezas + \"\\n\\n\" +\n\"AREAS A MEJORAR:\\n\" + areas + \"\\n\\n\" +\n\"RECOMENDACION DEL COACH:\\n\" + recomendaciones + \"\\n\\n\" +\nlinea + \"\\n\\n\" +\n\"PROXIMOS PASOS\\n\\n\" +\n\"Para acceder al reporte completo con graficos, analisis detallado de competencias y plan de accion personalizado, descargue el archivo PDF adjunto.\\n\\n\" +\n\"Para revisar la transcripcion completa de la sesion, descargue el archivo de audio (MP3) y la transcripcion de texto (TXT) adjuntos.\\n\\n\" +\nlinea + \"\\n\\n\" +\n\"Quedo atento a cualquier pregunta.\\n\\n\" +\n\"Saludos cordiales,\\n\\n\" +\n\"El equipo de Victor-IA\\n\" +\n\"Entrenamiento VTC Capacitacion\\n\" +\n\"victor-ia.com.mx\\n\";\n\n// Se conserva la llave \"html\" apuntando al mismo texto por compatibilidad,\n// pero el nodo \"Send an Email\" usa emailFormat=text -> se envia como texto plano.\nreturn { text: text, html: text };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-512,-512],"id":"b856d72d-265f-4ee0-87bb-dda82c914b89","name":"Generar HTML Email"},{"parameters":{"url":"=https://api.elevenlabs.io/v1/convai/conversations/{{ $node[\"Preparar Datos\"].json.conversation_id }}/audio","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"sk_87d5a7899d6c489c94232248c4880a0c4fe317adb3701e67"}]},"options":{"response":{"response":{"responseFormat":"file"}},"timeout":90000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-496,-160],"id":"d3f1a001-e11a-4a2b-9a0e-fetch0audio01","name":"Fetch Audio HTTP","onError":"continueRegularOutput"},{"parameters":{"url":"=https://vtc-capacitacion-deploy.vercel.app/api/report?conv={{ $node[\"Preparar Datos\"].json.conversation_id }}&pdf=1","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"pdf"}},"timeout":90000}},"name":"Fetch PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-304,-320],"id":"5591f6ba-d2e8-4916-8f9d-1d9024f27581","onError":"continueRegularOutput"}],"connections":{"Webhook":{"main":[[{"node":"Preparar Datos","type":"main","index":0}]]},"Preparar Datos":{"main":[[{"node":"Generar HTML Email","type":"main","index":0}]]},"Generar HTML Email":{"main":[[{"node":"Fetch Audio HTTP","type":"main","index":0}]]},"Fetch Audio HTTP":{"main":[[{"node":"Fetch PDF","type":"main","index":0}]]},"Fetch PDF":{"main":[[{"node":"Build Attachments","type":"main","index":0}]]},"Build Attachments":{"main":[[{"node":"Send an Email","type":"main","index":0}]]},"Send an Email":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Pablo Solar  ","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-07-23T08:05:35.112Z","id":339,"workflowId":"WEkyHL4lJPEytNoF","versionId":"e58190ae-e2a6-4376-b519-21d643421705","event":"activated","userId":"e0e172e7-fc36-4782-aafb-9d039ab7986a"},{"createdAt":"2026-07-23T08:05:35.097Z","id":338,"workflowId":"WEkyHL4lJPEytNoF","versionId":"e58190ae-e2a6-4376-b519-21d643421705","event":"deactivated","userId":"e0e172e7-fc36-4782-aafb-9d039ab7986a"}]}}